.register-domain-input,
.register-subdomain-input {
  height: 40px;
  margin-top: 10px;
  float: left !important;
  margin-right: 10px;

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.available, &.available:focus {
    border-color: #468847;
  }

  &.not-available, &.not-available:focus {
    border-color: #CC0000;
  }
}
