#main-container {
  padding-top: 54px;
  height: 100%;
  background-color: #e6e8e9;
}

.clean-div {
  height: 100%;
}

@menuTopOffset: 54px;
#main-container.open {
  transform: translateY(@menuTopOffset);
  -ms-transform: translateY(@menuTopOffset); /* IE 9 */
  -webkit-transform: translateY(@menuTopOffset);
}
#tool-bar.open {
  transform: translateY(@menuTopOffset);
  -ms-transform: translateY(@menuTopOffset); /* IE 9 */
  -webkit-transform: translateY(@menuTopOffset);
}

#main-menu {
  position: fixed;
  z-index: 0;
  top: 0;
}

.page {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
} // end .page