h3 {
  font-size: 22px;
  line-height: 26px;
}

.overlay-notice {
  position: fixed;
  top:105px;
  height: 180px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding: 30px;
  background-color: rgba(243, 243, 243, 0.9);
  border-radius: 4px;
  z-index: 2000;
}

.deploy {
  cursor: pointer;

  h4 {
    line-height: 45px;
    margin-left: 4px;
    vertical-align: top;
  }

  .icon {
    background-image: url('/static/img/go-to-icon.png');
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    background-position: center;
    display: inline-block;

    -webkit-transition: background-size 200ms ease;
    -moz-transition: background-size 200ms ease;
    -o-transition: background-size 200ms ease;
    -ms-transition: background-size 200ms ease;
    transition: background-size 200ms ease;
  }

  &:hover .icon {
    -webkit-background-size: 42px 42px;
    -moz-background-size: 42px 42px;
    background-size: 42px 42px;
  }
} // end .deploy

.notice {
  position: relative;

  // background-color: #0f2d40;
  color: #0f2d40;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  padding-bottom: 10px;
  background-position: 700px center;
  background-repeat: no-repeat;

  -webkit-background-size: 100px auto;
  -moz-background-size: 100px auto;
  background-size: 100px auto;
  overflow: hidden;

  -webkit-transition: height linear 0.4s;
  -moz-transition: height linear 0.4s;
  -o-transition: height linear 0.4s;
  -ms-transition: height linear 0.4s;
  transition: height linear 0.4s;

  h3, h2 {
    color: #fff;
    margin-bottom: 5px;
    display: inline-block;
  }

  h2 {
    font-size: 18px;
  }

  input[type="checkbox"] {
    margin-right: 6px;
  }

  a {
    text-decoration: underline;
  }

  ul {
    margin-top: 10px;
  }

  ul li {
    margin-top: 6px;
  }

  .what-to-do {
    font-size: 18px;
    line-height: 22px;
    font-weight: lighter;
  }

  &.inactive {
    background: -webkit-linear-gradient(#f3f3f3,#efefef);
    background: -moz-linear-gradient(#f3f3f3,#efefef);
    background: -o-linear-gradient(#f3f3f3,#efefef);
    background: -ms-linear-gradient(#f3f3f3,#efefef);
    background: linear-gradient(#f3f3f3,#efefef);
    color: #0f2d40;

    h3 {
      color: #0f2d40;
    }

    .icon.notification {
      background-image: url(/static/img/announce.png);
      background-position: -50px 0;
    }

  }

  .tip {
    border-top: 1px solid #fff;
    margin-right: 15px;
    font-size: 12px;
  }

  .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 6px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
    
    &.notification {
      background-image: url(/static/img/announce.png);
    }

    &.next-step {
      font-size: 48px;
      font-weight: bold;
      line-height: 50px;
      text-align: right;
    }

  }


} // end .notice



.deploy-pane:active {
  -webkit-box-shadow: 0 0 8px #b9bbbe;
  box-shadow: 0 0 8px #b9bbbe;
}

.domains a {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  border: 1px solid #d3d3d3;
  padding: 10px 18px;
  font-weight: bold;
  margin-top: 6px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.analytics {
  strong {
    font-size: 48px;
    display: block;
    height: 50px;
    margin-top: 34px;
  }

  .pane {
    padding: 15px;
    text-align: center;
  }

  .analyitcs-title {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
  }

  .active-users {
    height: 250px;
  }

  } // end .analytics


.overview-pane {
  a.fancy {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    padding: 10px 18px;
    font-weight: bold;
    margin-top: 6px;
  }

  a.link {
    -webkit-transition: width 200ms ease;
    -moz-transition: width 200ms ease;
    -o-transition: width 200ms ease;
    -ms-transition: width 200ms ease;
    transition: width 200ms ease;
    height: 42px;
  }

  .description:hover .edit-btn {
    position: absolute;
    top: 6px;
    right: 6px;
  }

  .edit-btn {
    display: none;
    margin: 0;
    height: 30px;
    line-height: 30px;
    margin-top: -5px;
    padding-top: 0px;
    vertical-align: top;
  }

  a.link:hover .edit-btn,
  .description:hover .edit-btn {
    display: inline-block;
    margin-left: 6px;
  }

  a.pane {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .description {
    position: relative;
    font-style: italic;
    margin-top: 12px;
    font-size: 15px;
    height: 46px;
    line-height: 23px;
    // border-radius: 3px;
    // border: 1px solid #ccc;
  }

  .pane-btn {
    border-radius: 3px;
    overflow: hidden;
    margin-top: 4px;
    -webkit-box-shadow: 0 1px 3px #b9bbbe;
    box-shadow: 0 1px 3px #b9bbbe;
  }

  .pane-btn .pane {
    border-radius: 0;
  }

  .download .icon {
    background-image: url('/static/img/download-icon-blue.png');
  }

  .data .icon {
    background-image: url('/static/img/data-icon.png');
  }
}
