.theme-gallery {
  text-align: left;
  padding-top: 10px;
  padding-left: 4px;

	li {
	  margin-bottom: 20px;
	  cursor: pointer;
	  border-radius: 6px;
	  position: relative;
	  background-color: #fff;
	  border: 1px solid #ccc;
	  padding: 15px;

	  h2 {
	  	width: 100%;
	  }

		.img {
			display: inline-block;
			width: 100%;
			height: 260px;
			.border-radius(6px);
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.details {
		  display: none;
		  position: absolute;
		  left: 15px;
		  bottom: 15px;
		  height: 260px;
		  width: 390px;
		  background-color: rgba(0, 0, 0, 0.4);
		  color: #fff;
		  text-align: center;
		  font-size: 18px;
		  font-weight: bold;
		  .border-radius(6px);
		  line-height: 260px;
		}

		&:hover .details {
			display: inline-block;
		}
	}
} // end .theme-gallery

label {
  display: inline-block;
  font-weight: bold;
}

.expandible {
  cursor: pointer;
}

.element-editor li.expanded {
  display: inline-block;
}

.expandible.expanded {
  display: inline-block;
}

.element-create-form {
  padding: 20px;
  background-color: #eee;
  border-top: 1px solid #aaa;
  margin-bottom: 0;
}

.element-editor > li {
  display: none;
}

.left-bar {
  border-right: 1px solid #ccc;
  height: 100%;
}

.left-bar .expandible {
  padding: 0;
}

.left-bar .expandible h2 {
  font-size: 18px;
  margin-left: 0;
  border-bottom: none;
  display: block;
}

.left-bar h2 {
  font-size: 18px;
  margin-left: 0px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-left: 6px;
}

.left-bar h2:hover {
  background-color: #eee;
}

.uie-gallery {
  width: 160px;
}

.uie-gallery li.expandible {
  padding-left: 16px;
  border-bottom: 1px solid #ccc;
}

.left-bar h3 {
  font-size: 14px;
  height: 24px;
  width: 100%;
}

.left-bar li:hover {
  background-color: #eee;
}

div.expandible {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.right-bar,.element-editor {
  height: 100%;
}

.base-css {
  height: 500px;
}

.ace_gutter,.ace_scroller {
/*  padding-top: 10px;
*/}

.uie-gallery li {
  padding: 0;
}

.pages-list {
  display: inline-block;
}

.pages-list li {
  display: block;
}

.pane-inline {
  background-color: #fff !important;
}

.upper-area {
  padding: 10px;
}
.class-menu {
  width: 180px;
  display: inline-block;
}
.temp-node-area {
  display: inline-block;
  width: 420px;
  text-align: center;
  border-radius: 4px;
  background-color: #eee;
  border: 1px solid #ccc;
  vertical-align: top;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.element-view {
}

.element-view .sect {
  border-top: 1px solid #ccc;
  height: 200px;
  padding-top: 10px;
}

.element-view .ace_editor {
  margin-left: 10px;
}

.element-view div {
  text-align: left;
}
.element-view label {
  text-align: left;
  margin-left: 10px;
}

#fonts-cont .fonts li {
  border-top: 1px solid #999;
  padding: 15px;
}
#fonts-cont .fonts li:last-child {
  border-bottom: 1px solid #999;
}
#fonts-cont .fonts li .btn {
  height: 25px;
  margin-top: -5px;
}
#fonts-cont .fonts li .font {
  font-size: 20px;
}

.upper-area .btn.btn-info { 
width: 150px;
height: 35px;
display: inline-block;
color: #ffffff;
border-radius: 4px;
padding: 6px 14px;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #036a6e;
border: 1px solid #bbbbbb;
border-color: #c5c5c5;
border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.upper-area .btn.btn-delete { 
width: 150px;
height: 35px;
display: inline-block;
color: #ffffff;
border-radius: 4px;
padding: 6px 14px;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: red;
border: 1px solid #bbbbbb;
border-color: #c5c5c5;
border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
}

.element-create-form input[type="text"],.element-create-form textarea {
  width: 90%;
  margin-bottom: 12px;
}

.element-create-form .btn {
  float: right;
  width: 60px;
  margin-bottom: 10px;
  margin-right: 5%;
}

/*.remove  {

position:  absolute;

top:  10px;

right:  10px;

display:  none;

}

*/
.widgetWrapper:hover .remove {
  display: inline-block;
}

.theme-gallery {
  text-align: left;
  padding-top: 10px;
  padding-left: 4px;
}

.theme-gallery li {
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
}

.theme-gallery li .img {
  width: 100%;
  display: inline-block;
  border-radius: 6px;
  height: 260px;
  overflow: hidden;
}

.theme-gallery li .img img {
  width: 100%;
}

.theme-gallery li h2 {
  width: 100%; /*margin-top:  30px;
  */
}

.details {
  display: none;
  position: absolute;
  left: 15px;
  bottom: 15px;
  height: 260px;
  width: 390px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  line-height: 260px;
}

.theme-gallery li:hover .details {
  display: inline-block;
}

.theme-gallery li span {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.theme-gallery h3 {
  margin-bottom: 10px;
}
