{% load url from future %}

<div class="cancel-subscription">
    
    {% if user.customer.current_subscription.status == 'canceled' %}
        <div class="alert alert-danger">Your account has been canceled. It will remain active until <strong>{{ user.customer.current_subscription.current_period_end }}.</strong>
    {% else %}
    <h2>Cancel Subscription</h2>

    <p class="lead">Are you sure that you want to cancel?</p>
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <form class="form ajax" data-replace-closest=".cancel-subscription" action="{% url 'payments_ajax_cancel' %}" method="POST" id="cancel-form">
        {% csrf_token %}
        <div class="actions">
            <button type="submit" class="btn btn-mini btn-danger" id="cancel-btn">Cancel</button>
        </div>
    </form>
    {% endif %}
</div>
