{% load url from future %}

<div class="change-card">
    <h3>Current Card</h3>
    <p>
        {% if user.customer.card_kind and user.customer.card_last_4 %}
            Current card on file is a <strong>{{ user.customer.card_kind }}</strong>
            ending in the digits <strong>{{ user.customer.card_last_4 }}</strong>.
        {% else %}
            You do not currently have a card on file.
        {% endif %}
    </p>
    
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    
    <!-- <form action="{% url 'payments_ajax_change_card' %}" data-stripe-key="{{ STRIPE_PUBLIC_KEY }}" class="form ajax" data-replace-closest=".change-card" method="POST" id="change-card-form"> -->
    <form data-stripe-key="{{ STRIPE_PUBLIC_KEY }}" class="form ajax" data-replace-closest=".change-card" method="POST" id="change-card-form">
        {% csrf_token %}
        <input name="stripe_token" type="hidden" />
        <div href="" class="btn btn-info change-card">{% if user.customer.card_kind %}Change{% else %}Add{% endif %} Card</div>
    </form>
</div>
