  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Editor
        </a>

        &nbsp

        <div class="btn-group btn-group-sm">
          <button type="button" id="text" class="setSyntaxButton btn btn-default">Text</button>
          <button type="button" id="html" class="setSyntaxButton btn btn-default">HTML</button>
          <button type="button" id="javascript" class="setSyntaxButton btn btn-default">JS</button>
          <button type="button" id="css" class="setSyntaxButton btn btn-default">CSS</button>
        </div>

        <button type="button" id="css" class="updateBrowserButton btn btn-default"> <i class="glyphicon glyphicon-check"> </i> Update</button>

        
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body" id='editor'></div>
    </div>
  </div>