.board {
  position: relative;
  display: none;
  background-color: #f3f3f3;
  background: -webkit-linear-gradient(#f3f3f3,#efefef);
  background: -moz-linear-gradient(#f3f3f3,#efefef);
  background: -o-linear-gradient(#f3f3f3,#efefef);
  background: -ms-linear-gradient(#f3f3f3,#efefef);
  background: linear-gradient(#f3f3f3,#efefef);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px #b9bbbe;
  box-shadow: 0 1px 3px #b9bbbe;
  overflow: hidden;
  width: 100%;
  margin-bottom: 60px;
  padding: 30px;
}

.board.current {
  display: inline-block;
}


.editors {
  font-size: 12px;
  line-height: 18px;
}

.editors b {
  font-size: 14px;
}

.editors .span6 img {
  width: 71px;
}

.board .logo {
  position: relative;
  vertical-align: middle;
  border: 1px solid #ccc;
  -moz-box-shadow:    inset 0 0 4px #666;
  -webkit-box-shadow: inset 0 0 4px #666;
  box-shadow:         inset 0 0 4px #666;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.board .logo img {
  position: absolute;
}

.board .logo:hover:after {
  content: "Click to Change the Logo";
  text-align: center;
  color: #fff;
  padding-top: 30px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.board h1 {
  font-size: 32px;
  font-family: "proxima-nova";
  font-weight: bold;
}
.board h2 {
  font-size: 24px;
  display: block;
  font-family: "proxima-nova";
  font-weight: bold;
}

a.fancy {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  border: 1px solid #d3d3d3;
  padding: 10px 18px;
  font-weight: bold;
  margin-top: 6px;
  cursor: pointer;
  height: 42px;
  font-size: 13px;
}

a.fancy .edit-btn {
  display: none;
  margin: 0;
  height: 30px;
  line-height: 30px;
  margin-top: -5px;
  padding-top: 0px;
  vertical-align: top;
}

.edit.btn:visited {
  color: #fff;
}

a.fancy:hover .edit-btn {
  display: inline-block;
}

.btn.big {
  display: block;
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  padding: 0;
  margin-top: 15px;
}

.analytics .span14 {
  text-align: center;
}

.left-nav {
  background-color: #0f2d40;
  color: #eee;
  padding: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.065);
  overflow: hidden;
  margin-bottom: 10px;
}

.left-nav .top-row {
  border-bottom: 1px solid #999;
}

.logo {

}

.new {
  font-size: 20px;
  font-weight: bold;
  display: block;
  line-height: 50px;
}

.new strong {
  font-size: 24px;
  font-weight:  bold;
  margin-right: 15px;
}

.left-div a {
  padding-left: 15px;
}

.menu-item {
  position: relative;
}

.selected:after {
  position: absolute;
  content: "»";
  color : #fff;
  right: 30px;
  top: 10px;
  font-size: 24px;
}

.clone-icon {
  background-image: url(../img/clone-icon.png);
  height: 45px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.download-icon {
  background-image: url(../img/download-icon-arrow-blue.png);
  height: 45px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.setting-btn {
  display: inline-block;
  position: absolute;
  width: 45px;
  height: 30px;
  top: 30px;
  right: 30px;
  border-radius: 4px;
  background-image: url(../img/settings-gray.png);
  background-position: left;
  background-repeat: no-repeat;
  cursor: pointer;
}

.setting-btn:hover {
  border: 1px solid #bbb;
  background-position: right;
}


.dropdown-view.settings-pane {
    top: 75px;
    right: 30px;
    padding-bottom: 15px;
}

.dropdown-view.settings-pane:after,
.dropdown-view.settings-pane:before {
    left: 89%;
}
