@import 'mixins';
.theme-thumb {
	text-overflow: ellipsis;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
  overflow: ellipsis;
	h3 {
		text-align: center;
	}
	img {
		margin: 5px 0;
	}
	input[type='submit'].btn {
		font-weight: normal;
	}
}

.create-theme.pane {
	padding: 15px;
}
