.entity .pane {
  padding: 30px 20px;
  min-height: 160px;
}

.entity .pane hr {
  margin: 0;
  height: 2px;
}

.entity-pane .title {
  display: block;
  line-height: 24px;
  background-color: rgba(90, 90, 90, 0.1);
  font-weight: bold;
  padding-left: 30px;
  padding-top: 2px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
}

.property-list {
  list-style: circle;
  list-style: none;
  display: inline;
}

.add-entity {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  float: none;
  text-align: center;
  font-size: 28px;
}

.add-entity .pane {
  background-color: transparent;
  border: 5px solid #2b3545;
  color: #2b3545;
  font-size: 18px;
  text-align: center;
}

input[type="text"].property-name-input {
  height: 34px;
  padding-left: 10px;
  padding-top: 5px;
  width: 126px;
  margin-left: -5px;
  margin-top: -4px;
  border-radius: 0;
}

input[type="text"] {
  height: 32px;
  padding: 10px;
}

ul.entity-list {
  display: inline-block;
}

.entity-pane select {
  display: inline-block;
  width: 76px;
  margin: 0;
  padding: 4px 2px;
  text-align: left;
}

.cross {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  overflow: hidden;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.cross:hover {
  color: #2b3545;
  background-color: #fff;
}

.plus {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 4px;
  background-color: #eee;

  -webkit-box-shadow: inset 0 1px 20px 0px rgba(120, 120, 120, 0.3);
  box-shadow: inset 0 1px 20px 0px rgba(120, 120, 120, 0.3);
}

.add-property-button {
  cursor: pointer;
}

.add-property-button:hover .plus {
  color: #2b3545;
  background-color: #fff;
}

ul.property-list li,ul.property-l li {
  margin-top: 10px;
  padding-top: 10px;
  list-style-position: inside;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

ul.property-list li:hover .cross.small,ul.property-l li:hover .cross.small {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.cross.small {
  vertical-align: top;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 8px;
  font-size: 16px;
  padding-bottom: 4px;
  margin-right: -14px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

input[type="checkbox"] {
  margin-right: 6px;
}

.tbl {
  min-width: 830px;
}

.tbl-wrapper {
  position: relative;
  height: 150px;
  overflow: hidden;

  -ms-overflow-x: scroll;
  overflow-x: scroll;
  background-color: #fff;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.tbl-wrapper .remove {
  font-size: 10px;
  background-color: #eee;
  color: #aaa;
  border: none;
  border-radius: 10px;
  line-height: 10px;
  height: 20px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.tbl-wrapper .remove:hover {
  background-color: #c95446;
  color: #fff;
}

.add-property-form {
  text-align: center;
}

.tbl-wrapper .done-btn,
.new-table-form .done-btn {
  font-size: 13px;
  background-color: #036a6e;
  color: #fff;
  border: none;
  border-radius: 10px;
  line-height: 10px;
  height: 45px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.tbl-wrapper .done-btn {
  font-size: 10px;
  height: 25px;
  margin-top: 5px;
}

.new-table-form input {
  vertical-align: top;
}

.new-table-form input[type="text"] {
  height: 45px;
}

.tbl {
  display: block;
  background-color: #fff; /*  border-top:   2px solid #AAA;


  border:   2px solid #333;

   */
overflow: hidden;
  height: 150px;
}

.tbl .hdr {
  font-weight: bold;
  border-bottom: 2px solid #AAA;
  height: 30px;
  padding: 4px;
  text-align: left;
  display: inline-block;
  min-width: 90px;
  width: 100%;
}

.tbl .desc {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}

.entity-pane {
  padding: 0 !important;
}

.form-pane {
  border: 1px solid #eee;

  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
  box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
  border-radius: 3px;
  background-color: #eee;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.form-pane .hdr {
  font-weight: bold;
}

/* table theme based on wordpress theme */
div.table-wrapper {
  overflow: auto;
}

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

table a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}

table a:active,table a:hover {
  color: #bd5a35;
  text-decoration: underline;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  margin: 20px;
  border: #ccc 1px solid;
  border-radius: 3px;

  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}

table th {
  padding: 21px 25px 22px 25px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));

  background: -webkit-linear-gradient(top, #ededed, #ebebeb);
  background: -moz-linear-gradient(top, #ededed, #ebebeb);
  background: -o-linear-gradient(top, #ededed, #ebebeb);
  background: -ms-linear-gradient(top, #ededed, #ebebeb);
  background: linear-gradient(top, #ededed, #ebebeb);
}

table th:first-child {
  text-align: left;
  padding-left: 20px;
}

table tr:first-child th:first-child {
  border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
  border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

table tr {
  text-align: center;
  padding-left: 20px;
}

table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}

table td {
  padding: 18px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));

  background: -webkit-linear-gradient(top, #fbfbfb, #fafafa);
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  background: -o-linear-gradient(top, #fbfbfb, #fafafa);
  background: -ms-linear-gradient(top, #fbfbfb, #fafafa);
  background: linear-gradient(top, #fbfbfb, #fafafa);
}

table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));

  background: -webkit-linear-gradient(top, #f8f8f8, #f6f6f6);
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
  background: -o-linear-gradient(top, #f8f8f8, #f6f6f6);
  background: -ms-linear-gradient(top, #f8f8f8, #f6f6f6);
  background: linear-gradient(top, #f8f8f8, #f6f6f6);
}

table tr:last-child td {
  border-bottom: 0;
}

table tr:last-child td:first-child {
  border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
  border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));

  background: -webkit-linear-gradient(top, #f2f2f2, #f0f0f0);
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  background: -o-linear-gradient(top, #f2f2f2, #f0f0f0);
  background: -ms-linear-gradient(top, #f2f2f2, #f0f0f0);
  background: linear-gradient(top, #f2f2f2, #f0f0f0);
}

.add-property-column .plus-icon {
  background-image: url(../img/add.png);

  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 8px;
  background-position: center;
  width: 100%;
  height: 30px;
}

.add-form-button {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.add-form-button .plus {
  font-size: 24px;
  padding-top: 6px;
  font-weight: bold;
  margin-top: 16px;
  color: #aaa;
}

.entity .icon {
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 50px;
  background-image: url(../img/entity_sprites.png);
}

.excel .icon {
  background-position: 0 -6px;
}

.show-data .icon {
  background-position: 0 -104px;
}

.delete .icon {
  background-position: 0 -58px;
}

.right-panel .delete {
  background-image: none;
}

.header h2 {
  line-height: 60px;
  float: left;
}

.header div {
  display: inline-block;
  float: left;
}

.right-icon {
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  padding-right: 10px;
  padding-left: 6px;
  line-height: 60px;
  vertical-align: top;

  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.right-icon:hover {
  border: 1px solid #dfdfdf;

  -webkit-box-shadow: inset 1px 1px 3px #ddd;
  box-shadow: inset 1px 1px 3px #ddd;
}

.right-icon:active {
  -webkit-box-shadow: 0 0 0 0 rgba(50, 30, 30, 0.2);
  box-shadow: 0 0 0 0 rgba(50, 30, 30, 0.2);
}

.right-icon span {
  vertical-align: top;
  line-height: 60px;
}

.right-icon .icon {
  margin-top: 8px;
}

.column {
  min-width: 90px;
  float: left;
}

.column .prettycheckbox {
  margin-top: -5px;
}

.full.title {
  height: 50px;
  padding-top: 16px;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}

.description {
  vertical-align: top;
  display: inline-block;
  position: relative;
}

.entity-nav {
  vertical-align: top;
}

.entity-nav .tab {
  display: inline-block;
  line-height: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}

.tab.active {
  background-color: #fff;
}

.entity-nav .tab:hover {
  border-left: 1px solid transparent;

  -webkit-box-shadow: inset 0px 0px 4px 0 rgba(160, 160, 160, 0.4);
  box-shadow: inset 0px 0px 4px 0 rgba(160, 160, 160, 0.4);
  background-color: #f3f3f3;
}

.entity-nav .tab a {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
}

.q-mark-circle {
  display: inline-block;
  width: 40px;
  height: 60px;
  background-image: url(../img/q-mark-gray.png);
  background-repeat: no-repeat;
  background-position: -94px 9px;
  cursor: pointer;
  vertical-align: top;
}

.q-mark-circle:hover {
  background-position: -144px 9px;
}

.dragndrop {
  display: block;
  height: 420px;
  width: 100%;
  border: 4px dashed #ccc;
}

.dragndrop:hover {
  background-color: #eee;
}

.dragndrop form {
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.dragndrop span {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 10px;
  line-height: 32px;
}

.dragndrop .pick-btn {
  margin-top: 30px;
}

.progressHolder {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.progressHolder .progress {
  background-color: #0088cc;
  background-image: none;
}

.preview {
  display: block;
  width: 100%;
  text-align: center;
}

.property-name-input {
  font-size: 12px !important;
}

.description .right-arrow {
  position: absolute;
  left: 840px;
  top: 33px;
  height: 150px;
  width: 30px;
  text-align: right;
  display: inline-block;
  background-image: url(../img/right-gradient.png);
}

.description .left-arrow {
  position: absolute;
  left: 0px;
  top: 33px;
  height: 150px;
  width: 30px;
  text-align: left;
  display: inline-block;
  background-image: url(../img/left-gradient.png);
}

.button {
  font-family: 'verb_regularbold';
  color: #0f2d40;
  position: relative;
  display: inline-block;
  background-color: #f3f3f3;

  background: -webkit-linear-gradient(#f3f3f3,#efefef);
  background: -moz-linear-gradient(#f3f3f3,#efefef);
  background: -o-linear-gradient(#f3f3f3,#efefef);
  background: -ms-linear-gradient(#f3f3f3,#efefef);
  background: linear-gradient(#f3f3f3,#efefef);
  -image border-radius: 4px;

  -webkit-box-shadow: 0 1px 3px #b9bbbe;
  box-shadow: 0 1px 3px #b9bbbe;
  overflow: hidden;
  height: 45px;
  padding: 11px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.button span {
  vertical-align: top;
  line-height: 24px;
}

.button .add-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/add.png);

  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-right: 8px;
}

.related-fields {
  padding-left: 8px;
  padding-top: 12px;
}

.related-fields .related-tag {
  display: inline-block;
  font-size: 12px;
  background-color: #1f3d50;
  color: #fff;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0 4px;
  cursor: pointer;
  text-decoration: none;
}

.tab .add-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../img/add.png);

  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-right: 6px;
  vertical-align: middle;
}

.property-list .attribs {
  /*  width:   0;


  height:   0;


  margin:   0;


  padding:   0;


  border:   none;


  visibility:  hidden;

   */
}

.relation-pane .edit-relation-div {
  padding: 10px;
}

.relation-pane#new-relation {
  display: none;
}

#new-relation input[type=text] {
  padding: 5px;
}

.relation-pane .edit-relation-div select {
  width: 140px;
}

.relation-pane .select-view {
  width: 100%;
}

.relation-pane .select-view li {
  width: 100%;
  font-size: 16px;
  height: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fcfcfc;
  line-height: 40px;
  padding-left: 20px;
  cursor: pointer;
}

.relation-pane .select-view li:hover {
  background-color: #fcfcfc;
}

.relation-pane .select-view li:first-child {
  border-top-color: transparent;
}

.relation {
  position: relative;
}

.relation .remove-relation {
  position: absolute;
  display: none;
  top: 7px;
  right: 7px;
  border-radius: 50%;
  padding: 0px 6px;
  font-size: 16px;
  color: #fff;
  background-color: #aaa;
}

.relation .remove-relation:hover {
  background-color: #c95446;
}

.icon-fk,.icon-o2o,.icon-m2m {
  display: inline-block;
  height: 140px;
  width: 140px;
  margin-left: 10px;
  background-repeat: no-repeat;
  float: left;
  background-image: url(../img/relation-icons.png);
}

.icon-fk {
  background-position: -140px 0;
}

.icon-o2o {
  background-position: -280px 0;
}

.trash .icon {
  background-image: url(../img/delete-icon.png);
  background-repeat: no-repeat;

  -webkit-background-size: 38px 35px;
  -moz-background-size: 38px 35px;
  background-size: 38px 35px;
}
