label {
  display: inline-block;
  font-weight: bold;
}

.expandible {
  cursor: pointer;
}

.content-editor li.expanded {
  display: inline-block;
}

.expandible.expanded {
  display: inline-block;
}

.element-create-form {
  padding: 20px;
  background-color: #eee;
  border-top: 1px solid #aaa;
  margin-bottom: 0;
}

.content-editor li {
  display: none;
}

.left-bar {
  border-right: 1px solid #ccc;
  height: 100%;
}

.left-bar .expandible {
  padding: 0;
}

.left-bar .expandible h2 {
  font-size: 18px;
  margin-left: 0;
  border-bottom: none;
  display: block;
}

.left-bar h2 {
  font-size: 18px;
  margin-left: 0px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-left: 6px;
}

.left-bar h2:hover {
  background-color: #eee;
}

.uie-gallery {
  width: 160px;
}

.uie-gallery li.expandible {
  padding-left: 16px;
  border-bottom: 1px solid #ccc;
}

.left-bar h3 {
  font-size: 14px;
  height: 24px;
  width: 100%;
}

.left-bar li:hover {
  background-color: #eee;
}

div.expandible {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.right-bar,.content-editor,.base-css {
  height: 500px;
}

.ace_gutter,.ace_scroller {
/*  padding-top: 10px;
*/}

.uie-gallery li {
  padding: 0;
}

.pages-list {
  display: inline-block;
}

.pages-list li {
  display: block;
}

.pane-inline {
  background-color: #fff !important;
}
