body {
/*  background-image: url(../img/blank-bg.png);
*/  background-repeat: no-repeat;
  background-position: top center;
}

.fixed-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2001;
}

.welcome {
  margin-top: 80px;
}

.question-cont {
  position: fixed;
  right: 100px;
  bottom: 100px;
}

.intro {

  font-size: 16px;
  line-height: 22px;
}

.intro p {
  color: #fff;
  width: 500px;
  margin-top: 30px;
}

.pane.btn {
  font-size: 16px;
  margin-bottom: 5px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}

