<h2>Relationships</h2>

<p>Relations provide the links between your User Tables and Tables. Relations are important if you want to be able to assign a post to an author, product to seller, and a comment to a contributor. </p>

<p><img src="{{STATIC_URL}}/img/tutorial/Relations_1.png" alt="alt text" /></p>

<p>Go to the “Relations” Section of “Tables” and select the relations that you need.</p>

<p>If you’re building a social network as in the documentation example, you’ll need to configure the relations between a “User &lt;-> User,” “User &lt;-> Post,” “User &lt;-> Picture.” Assigning relations between tables will occur in the examples of comments with posts, pictures, or product postings. </p>

<p><img src="{{STATIC_URL}}/img/tutorial/Relations_2.png" alt="alt text" /></p>

<p>Name the relations accordingly to how you would want it to read on your site if you were to have a “list of” 
As you add each relation, they will aggregate in the “Relations” section.
They will also aggregate underneath the respective tables to allow you to easily keep track of your relations when you start adding more user roles.</p>

<p><img src="{{STATIC_URL}}/img/tutorial/Relations_3.png" alt="alt text" /> </p>
