<h2>Tables</h2>

<p>Tables augment user roles by defining the entities of the users can. For a community marketplace, a buyer would add products, and sellers would post comments. </p>

<p><img src="{{STATIC_URL}}/img/tutorial/Tables_1.png" alt="alt text" /></p>

<p>If you want to add tables, press the “add table” button, add your new properties, and define their types. A good rule of thumb for defining tables is if you want the users to have a new function with different properties, then you will need to define a new table.</p>
