.elements-list ul li {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center 20px;

  -webkit-background-size: auto 20px;
  -moz-background-size: auto 20px;
  background-size: auto 20px;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 2px;
  cursor: pointer;
}

.elements-list ul li.ui-draggable:hover {
  // background-color: #3a4252;
  -webkit-transform: scale(1.10);
  -webkit-animation: blurp 0.16s linear;
}

@keyframes blurp {
  0% {
    -webkit-transform: scale(1);
}
45% {
    -webkit-transform: scale(1.12);
}
100% {
    -webkit-transform: scale(1.1);
}
}

@-moz-keyframes blurp {
  0% {
    -webkit-transform: scale(1);
}
45% {
    -webkit-transform: scale(1.12);
}
100% {
    -webkit-transform: scale(1.1);
}
}

@-webkit-keyframes blurp {
  0% {
    -webkit-transform: scale(1);
}
45% {
    -webkit-transform: scale(1.12);
}
100% {
    -webkit-transform: scale(1.1);
}
}

.elements-list ul li:active {
  border: 1px solid #3b4555;
  border-top: 1px solid #3b4555;
}

.elements-list .bottom-arrow {
  height: 36px;
  width: 190px;
  position: absolute;
  bottom: -36px;
  margin-left: 5px;
  border-top: 1px solid #3b4555;
  background-color: #0f2d40;
  background-image: url(/static/img/bottom-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.item-gallery {
  width: 210px;
  height: 100%;
  right: 0;
  padding: 0;
  padding-bottom: 42px;
  margin: 0;
  overflow: visible;

  -ms-overflow-y: scroll;
  overflow-y: scroll;
  z-index: 999;
  border-radius: 0;
  border: none;

  -webkit-box-shadow: none;
  box-shadow: none;
}

@-moz-document url-prefix() {
  .item-gallery  {
    width: 220px;
  }
}

 .item-gallery ::-webkit-scrollbar {
  width: 6px;
}

.item-gallery ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 6px;
}

.item-gallery ::-webkit-scrollbar-thumb {
  border-radius: 4px; /*-webkit-box-shadow:  inset 0 0 6px rgba(255,255,255,0.8);
   */
background-color: rgba(255,255,255,0.4);
}

.elements-list {
  width: 100%;
  display: block;
  overflow: visible;
}

.elements-list ul.list {
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: visible;
  padding: 0;
  padding-bottom: 90px;
  color: #fff;
  text-align: center;
}

ul.list:hover .bottom-arrow {

  transform: translate(0,-36px);
  -ms-transform: translate(0,-36px);
  -webkit-transform: translate(0,-36px);

  // transition-property: width;
  transition-duration: 0.18s;
  transition-timing-function: ease-out;
  /* Safari */
  // -webkit-transition-property:width;
  -webkit-transition-duration:0.18s;
  -webkit-transition-timing-function:ease-out;
}

.item-gallery .header:before {
  content: ' ';
  float: left;
  height: 30px;
  width: 20px;
  vertical-align: middle;
  background-image: url('/static/img/down-arrow.png');
  background-position: center 5px;
  background-repeat: no-repeat;

  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  margin-right: 5px;
}

/* context-entity-update */
.top-panel-title {
  height: 50px;
  border-bottom: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
  vertical-align: top;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.top-panel-title span.hide-gallery {
  padding: 10px;
}

.top-panel-title .right-arrow {
  display: inline-block;
  height: 100%;
  width: 40px;
  background-image: url(/static/img/right-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #1b2535;
}

.top-panel-title h2 {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  height: 40px;
  padding-top: 8px;
  padding-left: 8px;
  border-left: 1px solid #3b4555;
  color: #fff;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.search-panel {
  width: 220px;
  height: 46px;
  line-height: 46px;
  border-bottom: 2px solid #0f2d40;
  border-top: 2px solid #0f2d40;
  border-left: 2px solid #0f2d40;

  background-color: #fff;
  margin-top: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-panel .search {
  background: transparent;
  outline: none;
  color: #0f2d40;
  border: none;
  height: 36px;

  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  vertical-align: top;
  margin-top: 4px;
  border-left: 1px solid #3b4555;
  padding-left: 8px;
  border-width: 0;
}

.search-panel .search:focus {
  color: #0f2d40;
}

.search-panel .search-icon {
  display: inline-block;
  background-image: url(/static/img/search-icon.png);
  background-position: center;
  background-color: #0f2d40;
  height: 44px;
  width: 42px;
  overflow: hidden;
  border-right: 1px solid #1b2535;
}

.elements-list .gallery-header {
  width: 100%;
  margin-right: -8px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
  padding-left: 20px;
  line-height: 40px;

  margin-top: 8px;
  margin-left: -1px;
  position: relative;
  background-position: 0 0;
  border: none;
  cursor: default;
  text-shadow: 0 1px 0 #1b2535;
  background-color: #0f2d40;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  :active {
    border: none;
  }

  span.qmark {
    height: 24px;
    line-height: 40px;
    width: 30px;
    float: right;
    margin-right: 4px;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }

  span.qmark:hover {
    transform: scale(1.4);
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari and Chrome */
  }

  .icon {
    position: absolute;
    width: 8px;
    height: 12px;
    top: 15px;
    left: 15px;
    -webkit-transition: all 0.2s ease;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    /*background-image: url(/static/img/right-arrow.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;*/
  }

  &.open .icon {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
} // end .elements-list .gallery-header

.elements-list .gallery-info {
  width: 100%;
  color: #fff;
  margin-top: 8px;
  margin-left: -1px;
  border-radius: 0;
  height: auto;
}

.elements-list .gallery-info:hover {
  background-color: inherit;
}

.elements-list .full-width {
  width: 172px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 12px center;
  background-color: #0f2d40;

  -webkit-background-size: auto 28px;
  -moz-background-size: auto 28px;
  background-size: auto 28px;
  color: #fff;
  font-weight: bold;
  line-height: 80px;
}

.elements-list .half-width {
  background-color: #0f2d40;
  font-weight: bold;
}

.elements-list span {
  display: inline-block;
  vertical-align: top;
}

.elements-list .name {
  width: 120px;
  text-align: left;
  line-height: 14px;
  padding-top: 20px;
  height: 80px;
  padding-right: 8px;
  padding-left: 4px;
}

.half-width .icon {
  margin-top: 8px;
}

.half-width .name {
  width: 80px;
  text-align: center;
  padding-top: 4px;
}

/* icons */
.elements-list .full-width .icon {
  width: 50px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  margin-top: 24px;
}

.icon.create {
  background-image: url('/static/img/plus.png');
  background-position: 10px center;

  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.icon.show {
  background-image: url('/static/img/list.png');
  background-position: 10px center;

  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.icon.update {
  background-image: url('/static/img/update.png');
  background-position: 10px center;

  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.icon.local-signup,.icon.local-login {
  background-image: url('/static/img/users.png');
}

.icon.single-data {
  background-image: url('/static/img/plus.png');
}

.icon.facebook {
  -webkit-background-size: auto 30px !important;
  -moz-background-size: auto 30px !important;
  background-size: auto 30px !important;
  background-image: url('/static/img/facebook_icon.png');
}

.icon.twitter {
  -webkit-background-size: auto 30px !important;
  -moz-background-size: auto 30px !important;
  background-size: auto 30px !important;
  background-image: url('/static/img/twitter_icon.png');
}

.icon.linkedin {
  -webkit-background-size: auto 30px !important;
  -moz-background-size: auto 30px !important;
  background-size: auto 30px !important;
  background-image: url('/static/img/linkedin_icon.png');
}

.icon.create {
  background-image: url('/static/img/page_layout_icon&48.png');
}

.icon.table-gal {
  background-image: url('/static/img/table_icon.png');
  background-repeat: no-repeat;
  background-position: center center;
}


.uielement .icon {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin-bottom: 4px;
  background-repeat: no-repeat;
  background-image: url('/static/img/uielement_sprite.png');
}

.icon.buttons {
  background-position: -10px -25px;
}

.icon.boxes {
  background-position: -150px -25px;
}

.icon.images {
  background-position: -220px -25px;
}

.icon.headerTexts {
  background-position: -290px -25px;
}

.icon.texts {
  background-position: -360px -25px;
}

.icon.links {
  background-position: -430px -25px;
}

.icon.textInputs {
  background-position: -500px -25px;
}

.icon.textAreas {
  background-position: -570px -25px;
}

.icon.lines {
  background-position: -640px -25px;
}

.icon.dropdowns {
  background-position: -710px -25px;
}

.icon.imageslider {
  background-position: -780px -25px;
}

.icon.facebookshare {
  background-position: -850px -25px;
}

.icon.embedvideo {
  background-position: -990px -25px;
}


.icon.current-user-icon {
  display: inline-block;
  width: 50px;
  height: 34px;
  background-repeat: no-repeat;
  background-image: url('/static/img/plus.png');
  background-position: center center;

  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
}

.icon.searchbox-icon {
  background-image: url('/static/img/searchbox.png');
}

.icon.searchlist-icon {
  background-image: url('/static/img/searchlist.png');
}

.icon.plus-icon {
  background-image: url('/static/img/plus.png');
}

.half-width .money-button-icon,
.icon.money-button-icon {
  background-image: url('/static/img/money.png');
}

.half-width .money-button-icon {
  background-size: auto 100%;
  background-position: center;
}

.icon.form-icon {
  background-image: url('/static/img/page_layout_icon&48.png');
}

.icon.custom-widget {
  background-position: -920px -25px;
}

.elements-list ul li .create-form-icon {
  background-image: url('/static/img/page_layout_icon&48.png');
}

.half-width  .create-form-icon  {
  background-size: auto 100%;
  background-position: center;
}

.elements-list ul li .list-icon {
  background-image: url('/static/img/list.png');
}

.elements-list ul li .table-icon {
  background-image: url('/static/img/table_icon.png');
}

.elements-list.row-elements-list {
  height: 330px;
  overflow: hidden;

  -ms-overflow-y: scroll;
  overflow-y: scroll;
}

.half-width .icon {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin-bottom: 4px;
  background-repeat: no-repeat;
}

.half-width .icon.plus-icon {
  background-position: center center;

  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
}
