#widget-editor {
  position: absolute;
  top: 100%;
  left: 0;
  color: #fff;
  background-color: #2b3545;
  text-align: left;
  padding: 0px;
  background-color: #2b3545;
  .border-radius(4px);
  margin-top: 12px;
  font: normal 16px/20px "proxima-nova", Arial, sans-serif;
  overflow: visible;
  max-height: 400px;
  z-index: 2006;

  &.right {
    top: 0;
    left: 100%;
    margin-left: 16px;
    margin-top: 0;
  }

  &.left {
    top: 0;
    left: 0;
    margin-left: -270px;
    margin-top: 0;
  }

  .font-picker {
    width: 70px;
    margin-left: 8px;
  }

  .top-arrow {
    height: 12px;
    width: 30px;
    position: absolute;
    top: 0;
    margin-top: -12px;
    background-image: url(/static/img/top-blue-arrow.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-left: 24px;
  }

  .left-arrow {
    height: 30px;
    width: 12px;
    position: absolute;
    left: 0;
    top: -15px;
    margin-left: -12px;
    background-image: url(/static/img/left-blue-arrow.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-top: 24px;
  }

  .right-arrow {
    height: 30px;
    width: 12px;
    position: absolute;
    left: 100%;
    top: -15px;
    margin-right: -12px;
    background-image: url(/static/img/right-blue-arrow.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: 24px;
  }

  .pad {
    padding: 5px;
  }

  ul {
    padding: 0px;
    margin: 0px;
  }

  .tool-tip-box {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: rgba(30, 30, 30, 0.8);
    padding: 6px;
    font-weight: bold;
    margin-left: 10px;
    .border-radius(4px);
  }

  .padding:hover {
    background-color: #1b2535;
  }
} // end #widget-editor

.content-editor .key {
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 3%;
}

.content-editor li,.class-picker li {
  width: 100%;
  list-style: none;
  display: inline-block;
  border-bottom: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
}

.layout-editor ul li.selected,.content-editor ul li.selected,.padding-picker .selected,.alignment-picker .selected,.option-button.selected {
  background-color: #1b2535;
}

.layout-editor {
  top: 0;
  right: 260px;
  z-index: 1270 !important;
  background-color: #2b3545;
  font-size: 12px;
  line-height: 14px;
  width: 240px;
}

.layout-editor div.padding,.layout-editor div.a-pick {
  display: inline-block;
  width: 34px;
  height: 34px;
  .border-radius(4px);
  border: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
}

.layout-editor ul li.selected {
  background-color: #1b2535;
}

.size-picker {
  display: inline-block;
  width: 156px;
  margin-left: 4px;
  margin-top: 6px;
}

.option-button {
  display: inline-block;
  width: 34px;
  height: 34px;
  .border-radius(4px);
  border: 1px solid #1b2535;
  border-top: 1px solid #3b4555;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  vertical-align: top;
}

.option-button.delete-button {
  margin-left: 6px;
  display: inline-block;
}

.option-button:hover {
  background-color: #1b2535;
}

.font-options {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}

strong {
  font-weight: bold !important;
}

select.url-part {
  width: 76px;
  display: inline-block;
  margin: 0;
  padding: 4px 2px;
  text-align: left;
}

h3.edit-url {
  font-size: 20px;
  font-weight: bold;
}

.list-editor-container {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  height: 600px;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ddd;
}

.list-action-editor {
  display: inline-block;
  vertical-align: top;
  width: 156px;
  height: 600px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ddd;
}

.query-view-panel {
  -ms-overflow-y: scroll;
  overflow-y: scroll;
}

.type-pick {
  display: inline-block;
  width: 60px;
  height: 60px;
  .border-radius(4px);
  border: 1px solid #ccc;
  margin: 4px;
}

.content-editor {
  top: 0;
  right: 480px;
  z-index: 1270 !important;
  background-color: #2b3545;
  font-size: 12px;
  padding: 0;
  line-height: 14px;
  overflow: hidden;
  list-style: none;
  border-right: 1px solid #1b2535;
  border-left: 1px solid #3b4555;
  width: 240px;
}

#content-editor select {
  margin-left: 3%;
  width: 94%;
}

.header-div {
  height: 20px;
  width: 100%;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #3b4555;
  .gradient(#2b3545, #232a3a);
  line-height: 18px;
}

.widget-editor .select-view {
  position: relative;
  height: 40px;
  min-width: 240px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  overflow-y: scroll;
  .transition(height linear 0.1s);
}

.widget-editor .select-view .updown-handle {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  background-image: url('/static/img/updown-handle.png');
  background-repeat: no-repeat;
  background-position: right;
  z-index: 1001;
}

.widget-editor .select-view ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.widget-editor .select-view ul li {
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.widget-editor .select-view ul li:hover {
  background-color: #3b4555;
}

.alignment-picker,.padding-picker {
  padding: 4px;
}

.a-pick {
  cursor: pointer;
}

.a-pick:hover {
  background-color: #1b2535;
}

.a-left {
  background-image: url('/static/img/align_left_icon.png');
  background-repeat: no-repeat;
  .background-size(auto 50%);
  background-position: center center;
}

.a-center {
  background-image: url('/static/img/align_center_icon.png');
  background-repeat: no-repeat;
  .background-size(auto 50%);
  background-position: center center;
}

.a-right {
  background-image: url('/static/img/align_right_icon.png');
  background-repeat: no-repeat;
  .background-size(auto 50%);
  background-position: center center;
}

.padding.tb {
  background-image: url('/static/img/tb-padding.png');
  background-repeat: no-repeat;
  padding: 0;
  .background-size(auto 50%);
  background-position: center center;
}

.padding.lr {
  background-image: url('/static/img/lr-padding.png');
  background-repeat: no-repeat;
  padding: 0;
  .background-size(auto 50%);
  background-position: center center;
}
