<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/nv.d3.css" rel="stylesheet">

    <style>
      th:hover {
        text-decoration: underline;
      }
      td.active, th.active {
        background-color: #d9edf7 !important;
      }
      .chart svg {
        height: 400px;
      }
      .table-scrollable {
        height: 800px;
        overflow-y: scroll;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px solid #ccc;
      }
    </style>

    {% block css %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url appcubator.admin.views.home %}">Appcubator Panel</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{% url appcubator.admin.views.apps %}">Apps</a></li>
              <li class="active"><a href="{% url appcubator.admin.views.users %}">Users</a></li>
              <li class="active"><a href="{% url appcubator.admin.views.customers %}">Customers</a></li>
              <li class="active"><a href="{% url appcubator.admin.views.feedback %}">Feedback</a></li>
              <li class="active"><a href="{% url appcubator.admin.views.walkthroughs %}">Walkthroughs</a></li>
              <li class="active"><a href="{% url appcubator.admin.views.invitations %}">Invitations</a></li>
              <li class="active"><a href="{% url appcubator.admin.views.app_errors %}">App Errors</a></li>
            </ul>
            <span class="pull-right" style="color:#fff;">{% now "jS F Y H:i" %}</span>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <script src="{{ STATIC_URL }}js/libs/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore-amd/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/libs/nvd3/lib/d3.v3.js"></script>
    <script src="{{ STATIC_URL }}js/libs/nvd3/nv.d3.js"></script>

    <div class="container" style="margin-top:60px;">
      {% block content %}
      {% endblock %}
    </div> <!-- /container -->

    <script type="text/javascript">
      $.fn.sortableTable = function(options) {
        this.each(function() {
          var table = $(this);
          var body = table.find('tbody');

          table.on('click', 'th', function(e) {
            var index = e.currentTarget.cellIndex;
            var list = body.find('tr').toArray();

            // do we need to sort numerically or alphabetically?
            var sortNumber = false, sortTimestamp = false;

            if(e.currentTarget.dataset.sortType === 'number') {
              sortNumber = true;
            }
            if(e.currentTarget.dataset.sortType === 'timestamp') {
              sortTimestamp = true;
            }

            //if column is already active, reverse the order
            if(e.currentTarget.classList.contains('active')) {
              list.reverse();
            }
            else {
              list = _(list).sortBy(function(row) {
                var value = row.children[index].innerText;
                if(sortNumber) {
                  return parseInt(value, 10);
                }
                else if(sortTimestamp) {
                  return Date.parse(value);
                }
                else {
                  return value;
                }
              });
            }

            // load sorted rows into table
            var newHTML = '';
            _(list).each(function(row) {
              newHTML += '<tr>'+ row.innerHTML + '</tr>';
            });
            body.html(newHTML);

            // update styles for new sorted column
            table.find('th.active, td.active').removeClass('active');
            table.find('th:nth-child('+(index+1)+'), td:nth-child('+(index+1)+')').addClass('active');

            e.preventDefault();
          });

          // show initial active column as active
          if(options && options.initialColumn) {
            table.find('th:nth-child('+options.initialColumn+'), td:nth-child('+options.initialColumn+')').addClass('active');
          }
        });
      };

      $('.detailed-info').on('click', function(e) {
        $(e.target).popover('show');
      });
    </script>

    <script type="text/javascript" src="https://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="/static/js/libs/ace/theme-solarized_dark.js"></script>
    <script type="text/javascript" src="/static/js/libs/ace/mode-json.js"></script>
    <!--<script type="text/javascript" src="/static/js/libs/util/iui-nonamd.js"></script>-->
    <!--<script type="text/javascript" src="/static/js/libs/underscore-amd/underscore-min.js"></script>-->
    {% block js %}
    {% endblock %}
  </body>
</html>
