  <div class="span58 hoff1">
    <h2 class="pheader">Plugins</h2><em>(Work in progress. Please give us suggestions.)</em>
    <hr class="pheader">
    <div class="span58 hoff1 emails">
        <ul id="email-list" class="left-nav span12">
          <li>Google Analytics</li>
          <li>Paypal</li>
          <li>Suggestions</li>
        </ul>
      <div class="right-bar span32 offset2">
        <div>
          <h3 class="name">Email Name</h3>
          <input type="text" id="edit-name" style="display: none">
        </div>
        <form class="email-paper">
          <div class="remove">Delete Email</div>
          <div class="control-group hoff1">
            <label class="control-label">Subject</label>
            <input type="text" id="edit-subject" class="subject input-block-level">
          </div>
          <div class="control-group">
            <label class="control-label">Message</label>
            <textarea class="content input-block-level" id="edit-content" style="height: 300px; overflow: scroll"></textarea>
          </div>
        </form>
      </div>
      <div class="variables-bar span10 offset2">
        You can drag and drop these custom fields to your email.
        <ul id="variables-list" class="variables"></ul>
      </div>
    </div>
</div>