{% extends "admin/admin-base.html" %}
{% block content %}
  <h2>Apps</h2>
  <hr>
  <div class="pagination row">
    {% if apps.has_previous %}
      <a class="btn hboff1" href="?page={{ apps.previous_page_number }}">Previous</a>
    {% endif %}
    {% if apps.has_next %}
      <a class="btn pull-right hboff1" href="?page={{ apps.next_page_number }}">Next</a>
    {% endif %}
  </div>
  <table id="apps" class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th data-sort-type="number">App ID</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Subdomain</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps reversed %}
      <tr>
        <td><a href="{% url appcubator.admin_views.admin_app app.pk %}">{{ app.pk }}</a></td>
        <td><a href="{% url appcubator.admin_views.admin_app app.pk %}">{{ app.name }}</a></td>
        <td><a href="{% url appcubator.admin_views.admin_user app.owner.id %}">{{ app.owner }}</td>
        {% if app.deployment_id %}
          <td><a href="{{app.url}}">{{ app.subdomain }}</a></td>
        {% else %}
          <td>{{ app.subdomain }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $('#apps').sortableTable({initialColumn: 1});
</script>
{% endblock %}
