{% extends "admin/admin-base.html" %}
{% block content %}
  <h2>Apps</h2>
  <hr>
  <table id="apps" class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Subdomain</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps%}
      <tr>
        <td><a href="/stay/up/to/get/lucky/apps/{{ app.pk }}">{{ app.pk }}</a></td>
        <td><a href="/stay/up/to/get/lucky/apps/{{ app.pk }}">{{ app.name }}</a></td>
        <td><a href="/stay/up/to/get/lucky/users/{{ app.owner }}">{{ app.owner }}</a></td>
        {% if app.deployment_id %}
          <td><a href="http://{{app.subdomain}}.appcubator.com">{{ app.subdomain }}</a></td>
        {% else %}
          <td>{{ app.subdomain }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $('#apps').sortableTable({initialColumn: 1});
  </script>
{% endblock %}
