{% extends "admin/admin-base.html" %}
{% block content %}
  <h2>Customers</h2>
  <hr>
  <table id="customers" class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th data-sort-type="number">Customer ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Extra Info</th>
        <th>Project Description</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers reversed %}
      <tr>
        <td>{{ customer.pk }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td class="span4">
          {{ customer.extra_info }}
          <br>
          <form action='/stay/up/to/get/lucky/customers/{{customer.pk}}/add_contact_log/' method="POST">
            {% csrf_token %}
            <input type="text" name="note" placeholder="note">
            <input type="submit" class="btn" value="Contacted">
          </form>
        </td>
        <td>{{ customer.project_description }}</td>
        <div id="invitation-modal-{{ customer.pk }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Invitation Modal</h3>
          </div>
          <form class="ksikka-send-invitation" method="post" action="/send_invitation/{{ customer.pk }}/">
          <div class="modal-body">
            <p class="row">
                <input type="text" class="span10 offset1" placeholder="Subject Line" name="subject"><br  />
                <textarea class="span10 offset1" name="text">
                  Thanks for your interest in Appcubator. Below you can find your access link to Appcubator Private Beta program.

                  SIGNUP_LINK

                  Sincerely,
                  Appcubator Team
                </textarea>
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <input type="submit" class="btn btn-primary" value="Send Invitation">
          </div>
          </form>
        </div>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $('#customers').sortableTable({initialColumn: 1})
  $('form.ksikka-send-invitation').submit(function(){
    var url = $(this).attr('action');
    $.post(url, $(this).serialize(), function(d){alert(d);});
    return false;
  });
</script>
{% endblock %}
