{% extends "admin/admin-base.html" %}
{% block content %}
  <h2>Feedback</h2>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Timestamp</th>
        <th>User ID</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      {% for feedback in feedback reversed%}
      <tr>
        <td class="span1">{{ feedback.pk }}</td>
        <td class="span2">{{ feedback.timestamp }}</td>
        <td class="span1">{{ feedback.user_id }}</td>
        <td class="span7">{{ feedback.data }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
