{% extends "admin/admin-base.html" %}
{% block content %}
  <h2>Users</h2>
  <hr>
  <table id="users" class="table table-striped">
    <thead>
      <tr>
        <th data-sortType="number">User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Is Noob</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users reversed%}
      <tr>
        <td><a href="{% url appcubator.admin_views.admin_user user.pk %}">{{ user.pk }}</a></td>
        <td><a href="{% url appcubator.admin_views.admin_user user.pk %}">{{ user.user.first_name }} {{ user.user.last_name }}</a></td>
        <td>{{ user.user.email }}</td>
        <td>{{ user.noob }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $('#users').sortableTable({initialColumn: 1});
</script>
{% endblock %}

