{% extends "admin/admin-base.html" %}
{% block content %}
  <style type="text/css">
    td.active, th.active {
      background-color: #d9edf7 !important;
    }
  </style>
  <h2>Users</h2>
  <hr>
  <div class="row">
    <div class="span2">ID</div>
    <div class="span10">{{ user.pk }}</div>
  </div>

  <div class="row">
    <div class="span2">Name</div>
    <div class="span10">{{ user.user.first_name }} {{ user.user.last_name }}</div>
  </div>

  <div class="row">
    <div class="span2">Email</div>
    <div class="span10">{{ user.user.email }}</div>
  </div>

  <div class="row">
    <div class="span2">Noob?</div>
    <div class="span10">{{ user.noob }}</div>
  </div>
  <br><br>
  <h3>User Logs</h3>
  <hr>
  <table id="logs" class="table table-striped">
    <thead>
      <tr>
        <th><a href="#">App ID</a></th>
        <th><a href="#">Timestamp</a></th>
        <th><a href="#">Log Type</a></th>
        <th><a href="#">Log Data</a></th>
      </tr>
    </thead>
    <tbody>
      {% for log in userlogs reversed %}
      <tr>
        <td class="span1">{{ log.app_id }}</td>
        <td class="span2">{{ log.timestamp }}</td>
        <td class="span2">{{ log.name }}</td>
        <td class="span7">{{ log.data }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script type="text/javascript">
  $('table th').click(function(e) {
    var index = e.currentTarget.cellIndex;
    var list = $('table tbody tr').toArray()
    list = _(list).sortBy(function(row) {
      return row.children[index].innerText;
    });
    var body = $('table tbody').empty();
    _(list).each(function(row) {
      body.append(row);
    });
    $('th.active, td.active').removeClass('active');
    $('table th:nth-child('+(index+1)+'), table td:nth-child('+(index+1)+')').addClass('active');
    return false;
  });

  // sorted by timestamp by default
  $('table th:nth-child(2), table td:nth-child(2)').addClass('active');
  </script>
{% endblock %}
