{% extends "infra-html.html" %}

{% block css %}
{% endblock %}

{% block topbar %}
{% endblock %}

{% block page %}
<div class="container" style="text-align:center;">
  <img src="{{ STATIC_URL }}img/mascot-sad.png" class="hoff8"  style="margin-bottom:40px;">
  <br  />
  500 - Internal Server Error. Contact team@appcubator.com and we'll get it working asap!
  <a onclick="history.go(-1);" class="hoff6"><< Go back to previous page</a>
</div>
{% endblock %}
{% block js %}
<script>
</script>

{% endblock %}
