<script type="text/template" id="app-main-page">
{% include "app-main-page.html" %}
</script>

<script type="text/template" id="app-info-page">
{% include "app-info-page.html" %}
</script>

<script type="text/template" id="entities-page">
{% include "app-entities-page.html" %}
</script>

<script type="text/template" id="pages-page">
{% include "app-pages-page.html" %}
</script>

<script type="text/template" id="editor-page">
{% include "app-editor-page.html" %}
</script>

<script type="text/template" id="mobile-editor-page">
{% include "app-mobile-editor-page.html" %}
</script>

<script type="text/template" id="emails-page">
{% include "app-emails-page.html" %}
</script>

<script type="text/template" id="themes-page">
{% include "app-themes-page.html" %}
</script>

<script type="text/template" id="deploy-panel">
  <a class="app-link" target="_blank" href="<%= site_url %>"><%= site_url %></a>

  <div class="left-pane">
    <img src="{{ STATIC_URL}}img/happy_engineer.png">
  </div>
  <div class="right-pane">
    <p>Your site is available at the url above. You can also share your work with your friends.</p>

    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= site_url %>" data-text="Check out what I've built with @appcubator" data-size="large" data-count="none">Tweet</a>
    <br  />
    <a href="#"
      onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u=<%= site_url %>',
          'facebook-share-dialog',
          'width=626,height=436');
        return false;" class="share-on-facebook">
      Share on Facebook
    </a>
    <br  />
    <br  />
    <div class="download-pane">
      <img src="{{ STATIC_URL }}img/download-icon.png">
      <a rel="external" href="<%= zip_url %>">The code you have written is available to download here.</a>
    </div>
    <!-- <p>git clone <%= git_url %></p> -->
  </div>

</script>
<script type="text/template" id="share-panel">
  <a class="app-link" target="_blank" href="<%= site_url %>"><%= site_url %></a>

  <div class="left-pane">
    <img src="{{ STATIC_URL}}img/happy_engineer.png">
  </div>
  <div class="right-pane">
    <p>Share your work with your friends.</p>

    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= site_url %>" data-text="Check out what I've built with @appcubator" data-size="large" data-count="none">Tweet</a>
    <br  />
    <a href="#"
      onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u=<%= site_url %>',
          'facebook-share-dialog',
          'width=626,height=436');
        return false;" class="share-on-facebook">
      Share on Facebook
    </a>
  </div>

</script>
<script type="text/template" id="admin-panel">
<div style="padding:20px; padding-top: 40px;">
<p>You can see your data, and upload new spreadsheets through the Admin Panel. Admin Panel is a seperate panel built into your application.</p>

<p>You can use the following credentials to login to your panel.</p>
<p>
  <span><strong>Username:</strong> <%= username %></span><br  />
  <span><strong>Password:</strong> <%= pwd %></span>
</p>
</div>
<div class="bottom-sect">
<a class="btn btn-info right" target="_blank" href="<%= url %>">Access Admin Panel »</a>
</div>
</script>
