<!-- Top Menu -->
<div class="section-select" id="tool-bar">
    <div class="save-run-group">
        <div class="menu-button run" id="deploy">
            <span class="play-btn">
                <span class="play-btn-icon">
                </span>
            </span>
            <span id="deploy-text">
                Publish
            </span>
        </div>
        <div class="menu-button save" id="save">
            <span>
                Save
            </span>
        </div>
    </div>
    <div class="right-group">
        <div class="menu-button pages" id="menu-pages">
            <span class="pages-icon"></span>
            <div id="current-page" class="page-item">
            </div><ul id="page-list">
            </ul>
            <div id="create-page" class="page-item">
            </div>
        </div>
        <ul class="navigation-menu">
            <li class="menu-app-entities">
                <a id="entities-menu" href="/app/{{ app.id }}/tables/"><span class="entities-icon"></span><span>Data</span></a>
            </li><li class="menu-app-emails">
                <a id="emails-menu" href="/app/{{ app.id }}/emails/"><span class="emails-icon"></span><span>Emails</span></a>
            </li><li class="menu-app-plugins">
                <a id="plugins-menu" href="/app/{{ app.id }}/plugins/"><span class="plugins-icon"></span><span>Plugins</span></a>
            </li><li class="question">
                <a></a>
            </li>
        </ul>
    </div>
</div>