<script type="text/template" id="app-overview-page">
{% include "app-overview-page.html" %}
</script>

<script type="text/template" id="app-info-page">
{% include "app-info-page.html" %}
</script> 

<script type="text/template" id="entities-page">
{% include "app-entities-page.html" %}
</script>

<script type="text/template" id="pages-page">
{% include "app-pages-page.html" %}
</script>

<script type="text/template" id="editor-page">
{% include "app-editor-page.html" %}
</script>

<script type="text/template" id="mobile-editor-page">
{% include "app-mobile-editor-page.html" %}
</script>

<script type="text/template" id="emails-page">
{% include "app-emails-page.html" %}
</script>
<script type="text/template" id="plugins-page">
{% include "app-plugins-page.html" %}
</script>

<script type="text/template" id="themes-page">
{% include "app-themes-page.html" %}
</script>

<script type="text/template" id="deploy-panel">
  <a class="app-link" target="_blank" href="<%= site_url %>"><%= site_url %></a>

  <div class="left-pane">
    <img src="{{ STATIC_URL}}img/happy_engineer.png">
  </div>
  <div class="right-pane">
    <p>Your site is available at the url above. You can also share your work with your friends.</p>

    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= site_url %>" data-text="Check out what I've built with @appcubator" data-size="large" data-count="none">Tweet</a>
    <br  />
    <a href="#"
      onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u=<%= site_url %>',
          'facebook-share-dialog',
          'width=626,height=436');
        return false;" class="share-on-facebook">
      Share on Facebook
    </a>
    <br  />
    <br  />
    <div class="download-pane">
      <img src="{{ STATIC_URL }}img/download-icon.png">
      <a rel="external" href="<%= zip_url %>">The code you have written is available to download here.</a>
    </div>
    <!-- <p>git clone <%= git_url %></p> -->
  </div>

</script>
<script type="text/template" id="share-panel">
  <a class="app-link" target="_blank" href="<%= site_url %>"><%= site_url %></a>

  <div class="left-pane">
    <img src="{{ STATIC_URL}}img/happy_engineer.png">
  </div>
  <div class="right-pane">
    <p>Share your work with your friends.</p>

    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= site_url %>" data-text="Check out what I've built with @appcubator" data-size="large" data-count="none">Tweet</a>
    <br  />
    <a href="#"
      onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u=<%= site_url %>',
          'facebook-share-dialog',
          'width=626,height=436');
        return false;" class="share-on-facebook">
      Share on Facebook
    </a>
  </div>

</script>
<script type="text/template" id="download-panel">
  <div class="left-pane span11 hoff3" style="text-align: center;">
    <img src="{{ STATIC_URL}}img/fork.png">
  </div>
  <div class="right-pane span24 hoff2">
    <div>
    <h4>Download <strong>ZIP</strong></h4>
    <div class="download-pane hoff1"> <img src="/static/img/download-icon.png"> 
      <a rel="external" href="/app/2/zip/">The code you have written is available to download here.</a>
    </div>
    </div>
    <hr>
    <div>
    <h4>Clone the <strong>GIT</strong> repo</h4>
    <input type="text" class="span24 hoff1 clone-url" value="<%= clone_url %>" readonly="readonly">
    </div>
    <a href="/resources/tutorials/deploy-to-cloud/" rel="external">See the guide on how to easily deploy to cloud.</a>
  </div>
</script>
<script type="text/template" id="admin-panel">
<div style="padding:20px; padding-top: 40px;">
<p>You can see your data, and upload new spreadsheets through the Admin Panel. Admin Panel is a seperate panel built into your application.</p>

<p>You can use the following credentials to login to your panel.</p>
<p>
  <span><strong>Username:</strong> <%= username %></span><br  />
  <span><strong>Password:</strong> <%= pwd %></span>
</p>
</div>
<div class="bottom-sect">
<a class="btn btn-info right" target="_blank" href="<%= url %>">Access Admin Panel »</a>
</div>
</script>

<script type="text/template" id="temp-signupdeploy">
    <a class="app-link" target="_blank" href="<%= site_url %>"><%= site_url %></a>
    <div style="display: inline-block; width: 270px; vertical-align:top;  margin-top: 30px;">
      <h6 style="font-size: 24px; text-align: left; line-height: 32px;">Like what you have seen so far? Signup to see more!</h6>
      <span>  
        <div class="right-pane">
          <p>Share your work with your friends.</p>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= site_url %>" data-text="Check out what I've built with @appcubator" data-size="large" data-count="none">Tweet</a>
          <br  />
          <a href="#"
            onclick="
              window.open(
                'https://www.facebook.com/sharer/sharer.php?u=<%= site_url %>',
                'facebook-share-dialog',
                'width=626,height=436');
              return false;" class="share-on-facebook">
            Share on Facebook
          </a>
        </div>
      </span>
    </div>
    <form class="sign-up-form" method="POST" id="signup" action="{% url signup_form %}" style="display: inline-block; width: 210px; margin-left: 45px;  margin-top: 30px;">
        <div class="left-side" >
          <div class="btn btn-blue btn-facebook" style="width:100%;">Fill With Facebook</div>
          <input type="text" name="name" id="inp-name" placeholder="Full Name" style="width:100%; margin-top: 15px;">
          <div class="form-error field-name-first_name"></div>

          <input type="text" name="email" id="inp-email" placeholder="Email" style="width:100%;">
          <div class="form-error field-name-email"></div>
          <div class="form-error field-name-username"></div>

          <input type="hidden" name="extra-info" id="inp-extra" value="-">

          <input type="password" name="password1" id="inp-name" placeholder="Password" style="width:100%;">
          <div class="form-error field-name-password1"></div>

          <input type="password" name="password2" id="inp-email" placeholder="Confirm Password" style="width:100%;">
          <div class="form-error field-name-password2"></div>
          <input style="height:48px; width:100%;" type="submit" class="btn btn-blue" id="sign-up" value="Sign Me Up »">
          <div style="height:48px; width:100%; display:none;" class="btn btn-blue" id="passive-button"></div>
        </div>
    </form>
</script>
