  <div class="hide-btn hide-overlay">×</div>
  <div class="container">
    <div class="span36 left-menu">
      <div class="current-app-info">
      {% if app %}
          <div class="app title">{{ app.name }}</div>
          <div class="row hoff1 span48 current-app-links">
            <a class="white-border span8 hi8 settings hide-overlay" href="{% url appcubator.views.app_page app.id %}info/"><span class="icon"></span>App Settings</a></li>
            <a class="white-border span8 hi8 offset2 theme" href="{% url appcubator.views.app_edit_theme app.id %}" rel="external" target="_blank"><span class="icon"></span>Theme Editor</a>
            <a class="white-border span8 hi8 offset2 hide-overlay build" href="#"><span class="icon"></span>Go Back to {{ app.name }}</a>
          </div>
      {% endif %}
      </div>
      <div class="row span30">
        <div class="all-app title" style="display:none;">ALL APPS</div>
        <div class="all-apps span30" style="display:none;">
        {% for a in apps reversed %}
          <div class="row">
            <a class="span28 hi4 hoff1 white-border" href="{% url appcubator.views.app_page a.id %}" rel="external">
              <strong>{{ a.name }}</strong>
            </a>
          </div>
        {% endfor %}
        </div>
        <a href="#" class="see-all">See all apps.</a>
        <a href="#" class="hide-all" style="display:none;">Go back to {{app.name}}.</a>
        <div class="row">
          <a class="span16 hi4 hoff1 large-link" href="{% url appcubator.views.app_new %}" rel="external">
            <strong>+ CREATE A NEW APP</strong>
          </a>
        </div>
        <a class="white-border span18 hi4" href="/account" rel="external">
          <span class="icon settings"></span>
          <span>Account Settings</span>
        </a>
        <a class="white-border span18 hi4" href="/logout" rel="external">
          <span class="span3"></span>
          Logout ({{user.username}})
        </a>
      </div>
    </div>

  </div>
  <div class="question-cont">
    <img src="{{ STATIC_URL }}img/question-market.png">
    <p>Yes, there is an actual person here :)</p>
  </div>