<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title> Appcubator | {{ title }}</title>
<link type="text/css" href="/app/{{ app.id}}/uiestate.css" id="css-uiestate" rel="stylesheet"/>
<link type="text/css" href="/app/{{ app.id}}/mobile_uiestate.css" id="css-mobile-uiestate" rel="stylesheet"/>
<link type="text/css" href="/static/css/appcubator-override.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/editor-inject.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/jquery-ui.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/app/editor/widget-editor.css" rel="stylesheet"/>

</head>
<body>
        <!-- Navbar -->
        <div class="navbar navbar-fixed-top" id="navbar">
          
          <button id="edit-navbar-btn">Edit Navbar</button>

          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#" id="brand-name">{{ app.name }}</a>
              <div class="nav-collapse collapse" data-toggle="collapse">
                <ul class="nav" id="links">
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Editing Container -->
        <div class="container editing" id="full-container"></div>
        <div class="editing" id="elements-container">
        <!-- UI Elements -->
        </div>
        <!-- Footer -->
        <div class="footer" id="footer"></div>

<script type="text/javascript">
    var staticVersion = "{{STATIC_VERSION}}";
</script>
<script data-main="{{ STATIC_URL }}js/application/main-app/editor/iframe-main" src="{{ STATIC_URL }}js/libs/require.js"></script>

</body>
</html>