{% extends "infra-app.html" %}
{% load embed_json %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css">
<link type="text/css" href="/app/{{ app.id}}/uiestate.less" id="css-uiestate" rel="stylesheet"/>
<link type="text/css" href="/app/{{ app.id}}/mobile_uiestate.less" id="css-mobile-uiestate" rel="stylesheet"/>
{% endblock %}

{% block topbar %}
{% include "app-navbar.html" %}
{% endblock %}

{% block page %}
  
  <div class="container hoff6" id="dashboards">
    <div class="span14 left-div">
<!--       <span class="title">Your Apps</span>
 -->      <ul class="left-nav nav span15 apps-list hoff2">
      {% for a in apps reversed %}
          <li class='menu-item {% if forloop.last %}selected{% endif %}' id="menu-item-{{ a.pk }}">
            <a class="" href="#">{{ a.name }}</a>
          </li>
      {% endfor %}
      </ul>
      <a href="/app/new/" class="new"><strong>+</strong>New App</a>
      <a href="#">Community Forum</a><br>
      <a href="#">Learning Resources</a>
    </div>
    <div class="span50 hoff1">
    {% for a in apps reversed %}
        <div class="board {% if forloop.last %}current{% endif %}" id="dashboard-{{ a.pk }}">
          <div class="header hi9">
            <div class="logo span8 hi8"><img src="{{ STATIC_URL }}img/placeholder.png"></div>
            <div class="span34 offset2 hi8">
              <h1 class="hoff1">{{ a.name }}</h1>
              <br>
              <a target="_blank" {% if is_deployed == 1 %} href="{{ a.url }}" {% endif %} class="fancy link">{{ a.url }}{% if is_deployed == 0 %} (Not Deployed yet.) {% endif %}  <div href="#" class="edit-btn btn hi2">Edit</div></a><br>
              <i class="hoff1 span34">Last Updated: {{ a.last_update }}</i>
            </div>
          </div>
          <hr class="span46 pheader hoff1">
<!--             <div class="span12 hi10">
              <div class="pane-btn">
                <div class="hi3 span14 deploy pane" id="share"><span class="icon"></span><h4>Share App</h4></div>
                <div class="hi3 span14 deploy data pane browse"><span class="icon"></span><h4>Browse Data</h4></div> <div href="/app/7/zip/" class="hi3 span14 deploy download pane" id="download"><span class="icon"></span><h4>Download Code</h4></div>
              </div>
            </div> -->
            <div class="hi5 span46">
              <a class="btn big span4" href="/app/{{ a.pk }}/clone/"><div class="clone-icon"></div></a>
              <a class="btn big span4 offset1 download" href="#"><div class="download-icon"></div></a>
              <a class="btn big span10 offset1 browse" href="#">Browse Data</a>
              <a class="btn big span10 offset1" id="share" href="#">Share</a>
              <a class="btn btn-info big edit span14 offset1" target="_blank" href="/app/{{ a.pk }}/">Start Editing »</a>
            </div>
          <hr class="span46 pheader hoff1"> <!-- <img class="span58 analytics-demo hoff1" src="/static/img/analytics.png"> -->
          <div class="row hoff1">
            <div class="row hoff1 analytics" style="position: relative"> <div class="coming-soon-overlay" style="display: none; top: 35px; background-color: rgba(227, 227, 227, 0.75); padding-top: 10%"> <h2>Publish your app to see your site analytics!</h2> </div>
            <h2 class="span46 hoff1">Analytics</h2> 
            <div class="span30">
            <div class="row hoff1">
            <div class="span14 hi10">
            <strong class="total-active-users">0</strong>
            <span class="analyitcs-title">Active Users</span>
            </div>
            <div class="span14 offset1 hi10">
            <strong class="total-page-views">0</strong>
            <span class="analyitcs-title">Total Page Views</span>
            </div>
            </div>
            <div class="row hoff1">
            <div class="span14 hi10">
            <strong class="total-users">1</strong>
            <span class="analyitcs-title">Total Users</span>
            </div>
            <div class="span14 offset1 hi10">
            <strong class="total-visitors">0</strong>
            <span class="analyitcs-title">Total Visitors</span>
            </div>
            </div>
            </div>
            <div class="span14 hi21 hoff1 total-page-visits"><span class="analyitcs-title">Page Visits</span><br></div></div>
          </div>
        </div>
    {% endfor %}
    </div>
  </div>

  {% include "app-panel-templates.html" %}
{% endblock %}

{% block templates %}
{% endblock %}

{% block js %}
  <script type="text/javascript">
    {% for a in apps reversed %}
      {% if forloop.last %}var initAppId = {{ a.pk }};{% endif %}
    {% endfor %}

    var apps = {};
    var app_urls = {};

    {% for a in apps reversed %}
      apps[{{a.pk}}] = {{ a.state_json|fix_solidus|safe }};
      app_urls[{{a.pk}}] = "{{ a.url }}";
      {% if forloop.last %}
      var initAppId = {{ a.pk }};
      var appUrl = "{{ a.url }}";
      {% endif %}
    {% endfor %}

    
    // var appUrl = "{{ app.url }}";
    // var appGitRepo = "{{ app.git_url }}";
    // var appState = {{ app.state_json|fix_solidus|safe }};
    // var uieState = {{ app.uie_state_json|fix_solidus|safe }};
    // var mobileUieState = {{ app.mobile_uie_state_json|fix_solidus|safe }};
    // var statics = {{ statics|fix_solidus|safe }};
    // var themes = {{ themes|fix_solidus|safe }};
    // var mobileThemes = {{ mobile_themes|fix_solidus|safe }};
    // var staticVersion = "{{STATIC_VERSION}}";
    // var is_deployed = {{ is_deployed }}
    // var v1 = {};
    // var v1State = {};
  </script>
  <script data-main="{{ STATIC_URL }}js/application/external-pages/dashboard" src="{{ STATIC_URL }}js/libs/require.js">
  </script>
{% endblock %}