 <div class="loading-gif" id="loading-gif"></div>

  <!-- Top Menu -->
  <div class="section-select">
    <a href="{% url appcubator.views.app_dashboard app.id %}" class="menu-button home">
    </a><div class="menu-button pages"><ul id="page-list"></ul>
    </div>
    <div class="save-run-group">
      <div class="menu-button save" id="editor-save">
      <span>Save</span>
      </div><div class="menu-button run" id="deploy"><span>Publish</span>
    </div>
    </div>
    <div class="menu-button help"></div>
  </div>

  <!-- Inside-Page -->
  <div class="page-container">
    <div class="mobile-page-wrapper" id="page-wrapper">
      <div class="url-bar">http://yourapp.com</div>
      <div class="page full container fspdfwerbckl" id="page">
        <!--Menu-->
        <div class="snap-drawers">
          <div class="snap-drawer snap-drawer-left content">
            <div id="navbar">
              <h3 class="title">Menu</h3>
              <ul class="nav list" id="links"></ul>
            </div>
          </div>
        </div>
        <div class="snap-content">
          <!-- Navbar -->
          <header class="bar-title">
            <a class="button menu" href="#">Menu</a>
            <h1 class="title">Title</h1>
          </header>
          <!-- Navbar Ends-->
          <ul class="editing content" id="elements-container">
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Gallery Panel -->
  <div id="top-panel-bb" class="right-panel">
    <div class="top-panel-title">
      <span>UI Elements</span>
    </div>
    <div class="search-panel">
      <span class="search-icon"></span><input type="text" class="search" placeholder="Search Elements...">
    </div><div class="item-gallery section" id="item-gallery">
      <div class="elements-list" id="elements-list">
        <ul id='all-list' class="list"></ul>
      </div>
    </div>
  </div>
