<div class="span58 hoff1">
    <div id="web-section">
      <h2 class="pheader">Pages</h2>
      <hr class="span58 pheader">
      <ul class="" id="list-pages">
      </div>
      <div class="add-box create-page span18 pane hi22" id="create-page-box">
        <div class="box-button span18 hoff2">
          <img src="/static/img/add.png" class="span3 add-img">
          <h2 class="offset1">Create a New Page</h2>
        </div>
        <form class="page-view span18 hi21 offsetr1 create-form" style="display:none;">
          <div class="hoff2">
            <input type="text" class="page-name span12" placeholder="Page Name">
            <input type="submit" class="small done-btn" value="Done">
          </div>
          <div class="row offset1 hi6"></div>
        </form>
      </div>
    </div>
    <!--
    <div id="mobile-section" class="hoff2 span58">
      <h2 class="header">Mobile Pages</h2>
      <hr class="span58">
      <div class="" id="list-mobile-pages">
      </div>
      <div class="add-box create-page span18 pane hi22" id="create-mobile-page-box">
        <div class="box-button span18 hoff2">
          <img src="/static/img/add.png" class="span3 add-img">
          <h2 class="offset1">Create a New Page</h2>
        </div>
        <form class="page-view span18 hi21 offsetr1 pane create-form" style="display:none;">
          <div class="hoff2">
            <input type="text" class="page-name span12 offset2" placeholder="Page Name">
          </div>
          <div class="row offset1 hi6"></div>
        </form>
      </div>
    </div>
    -->
</div>