<div class="hoff1">
<h2 class="pheader">
    Plugins  <button id='browsePlugins'> Browse </button>
</h2>
<hr>

<div class='pluginContainer'>

<% for (var i=0; i<plugins.length;i++) {%>
<div class="pluginBar"> 
    <div class="identifier"> <a href='#'> <%=plugins[i].pluginInformation.name %> </a> <div class="pluginImageHolder"> </div></div>
    <div class="information"> <%=plugins[i].pluginInformation.description%>
    </div>

    <div class="toggleSwitch">
        <div class="onoffswitch" >
            <input type="checkbox" name="onoffswitch<%=i%>" class="onoffswitch-checkbox" id="myonoffswitch<%=i%>" >
            <label class="onoffswitch-label" for="myonoffswitch<%=i%>">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
            </label>
        </div>
    </div>
</div>
<hr>
<% } %>



</div>
</div>
