{% extends "infra-html.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/welcome.css">
{% endblock %}

{% block topbar %}
{% include "infra-topbar-app.html" %}
{% endblock %}

{% block page %}
<div class="fixed-bg">
  <div class="row">
    <div class="span36 offset8 intro">
      <img class="welcome" src="{{ STATIC_URL }}img/welcome-marker.png">
      <p>We are happy to see you using Appcubator and would like to help you get started as smoothly as possible.</p>
      <p>How would you like to proceed?</p>
    </div>
  </div>
  <div class="row hoff2 span48 offset8">
    <a class="welcome-icon quick-tour">
      <img src="{{ STATIC_URL }}img/quick-tour.png">
      <p>Take a Quick Tour</p>
    </a>
    <a class="welcome-icon walkthrough-twitter">
      <img src="{{ STATIC_URL }}img/walkthrough-twitter.png">
      <p>Walkthrough Building Twitter</p>
    </a>
  </div>
  <div class="row span48 offset8">
    <a class="welcome-icon read-tutorials">
      <img src="{{ STATIC_URL }}img/read-tutorial.png">
      <p>Read Tutorials</p>
    </a>
    <a href="/app/new/" class="welcome-icon start-building">
      <img src="{{ STATIC_URL }}img/start-building.png">
      <p>Start Building</p>
    </a>
  </div>
  <div class="question-cont">
    <img src="{{ STATIC_URL }}img/question-market.png">
    <p>Yes, there is a real person here :)</p>
  </div>
</div>
<span class="span6 save-btn" id="save"></span>
  <span class="span6 qm-btn" id="tutorial">?</span>
  <span class="span6 scrollUp-btn hidden" id="scrollUp"></span>

  <div class="container hoff6" id="main-container"></div>
    {% include "app-page-templates.html" %}
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/libs/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.js"></script>
<script type="text/javascript">
    var appId = 0;
    var appState = {{ default_state|safe }};
    var uieState = {{ default_uie_state|safe }};
    var mobileUieState = {{ default_mobile_uie_state|safe }};
    var statics = {{ statics|safe }};
    var themes = {{ themes|safe }};
    var mobileThemes = {{ mobile_themes|safe }};
    var GRID_WIDTH = 80;
    var GRID_HEIGHT = 15;
</script>
<script data-main="{{ STATIC_URL }}js/application/external-pages/app-welcome-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
<script type="text/javascript">
  $(document).ready(function() {


  });
</script>
{% endblock %}
