  <div class="span58 hoff1">
    <h2 class="pheader">Plugins</h2><h3 class="offset2">(Work in progress. <a href="#" class="suggestions">Please give us suggestions.</a>)</h3>
    <hr class="pheader">
    <div class="span58 hoff1 emails">
        <ul id="email-list" class="left-nav span12">
          <li id="ganalytics-btn">Google Analytics</li>
          <li id="paypal-btn">Paypal</li>
          <li id="suggestions-btn">Suggestions</li>
        </ul>
      <div class="right-bar span40 offset2" id="disqus-thread" style="display:none;">
        <div id="disqus_thread"></div>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
      <div class="right-bar span40 offset2" id="google-analytics">
        Google Analytics ID:<br> <input type="text" placholder="Google Analytics ID"><br>
        <input type="submit" class="blue-btn btn" value="Activate">
      </div>
      <div class="right-bar span40 offset2 overlay" id="paypal" style="display:none;">
        Paypal ID:<br> <input type="text" placholder="Paypal ID"><br>
        <input type="submit" class="blue-btn" value="Activate">
      </div>      
    </div>
</div>