<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title> Appcubator | {{ title }}</title>
<link type="text/css" href="/app/{{ app.id}}/uiestate.css" id="css-uiestate" rel="stylesheet"/>
<link type="text/css" href="/app/{{ app.id}}/mobile_uiestate.css" id="css-mobile-uiestate" rel="stylesheet"/>
</head>
<body>
<!-- Navbar -->
        <navbar class="navbar" id="navbar">
          <div class="navbar-inner">
            <a class="brand" href="#" id="brand-name">{{ app.name }}</a>
            <ul class="nav" id="links">
            </ul>
            <button id="edit-navbar-btn">Edit Navbar</button>
          </div>
        </navbar>
        <!-- Editing Container -->
        <div class="container editing" id="full-container"></div>
        <div class="editing" id="elements-container">
        <!-- UI Elements -->
        </div>
        <!-- Footer -->
        <footer class="footer" id="footer"></footer>

</body>
</html>