{% extends "infra-app.html" %}
{% load embed_json %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css">
{% endblock %}

{% block topbar %}
{% include "app-navbar.html" %}
{% endblock %}

{% block page %}

  <div class="container hoff6" id="dashboards">
    <div class="span14 left-div">
      {% if messages %}
      <div class="error-content span12 offset1 hoff2">
      {% for message in messages %}
          <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
      {% endfor %}
      </div>
      {% endif %}
      <ul class="left-nav nav span15 apps-list hoff2">
      {% for a in apps %}
        <li class='menu-item {% if app_id == a.pk %}selected{% endif %}' id="menu-item-{{ a.pk }}">
          <a class="" href="#">{{ a.name }}</a>
        </li>
      {% endfor %}
      {% if collab_apps %}<li><br></li>{% endif %}
      {% for a in collab_apps %}
        <li class='menu-item {% if app_id == a.pk %}selected{% endif %}' id="menu-item-{{ a.pk }}">
          <a class="" href="#">{{ a.name }}</a>
        </li>
      {% endfor %}
      </ul>
      <a href="/app/new/" class="new"><strong>+</strong>New App</a>
      <a href="/forum/" target="_blank">Community Forum</a><br>
      <a href="/resources/" target="_blank" class="hoff1">Learning Resources</a>
    </div>
    <div class="span50 hoff1">
    {% for a in collab_apps reversed %}
        {% include "app-dashboard-app-page.html" %}
    {% endfor %}
    {% for a in apps reversed %}
        {% include "app-dashboard-app-page.html" %}
    {% endfor %}
    </div>
  </div>

  {% include "app-panel-templates.html" %}
{% endblock %}

{% block templates %}
{% endblock %}

{% block js %}
  <script type="text/javascript">
    {% for a in apps %}
      {% if forloop.last %}var initAppId = {{ a.pk }};{% endif %}
    {% endfor %}

    var apps = {};
    var app_urls = {};
    var app_gitRepos = {};
    {% for a in apps %}
      apps[{{a.pk}}] = {{ a.state_json|fix_solidus|safe }};
      app_urls[{{a.pk}}] = "{{ a.url }}";
      app_gitRepos[{{a.pk}}] = "{{ a.git_url }}"
      {% if forloop.last %}
      var app =  {{ a.state_json|fix_solidus|safe }};;
      var initAppId = {{ a.pk }};
      var appUrl = "{{ a.url }}";
      var appGitRepo = "{{ a.git_url }}"

      {% endif %}
    {% endfor %}

    
  </script>
  <script data-main="{{ STATIC_URL }}js/application/external-pages/dashboard" src="{{ STATIC_URL }}js/libs/require.js">
  </script>
{% endblock %}
