<div class="v1nav navbar logo-text navbar-inverse navbar-fixed-top ">
  <div class="hi4 navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li class="brand">
            <h1 class="name">
              <a id="main-menu" {% if app %} href="/app/{{ app.id }}/" {% else %} href="/app/0/" {% endif %} {% if navHide != "true" %} rel="external" {% endif %}>
                <span class="brand">Appcubator</span>
                {% if app %}
                <span class="title">Overview</span>
                {% else %}
                <span class="title">Home</span>
                {% endif %}
              </a>
            </h1>{% if app and navHide != "true" %}<ul class="navigation-menu">
              <li class="menu-app-pages">
                <a id="pages-menu" href="/app/{{ app.id }}/pages/"><span class="pages-icon"></span><span>Pages</span></a>
              </li><li class="menu-app-entities">
                <a id="entities-menu" href="/app/{{ app.id }}/tables/"><span class="entities-icon"></span><span>Tables</span></a>
              </li><li class="menu-app-emails">
                <a id="emails-menu" href="/app/{{ app.id }}/emails/"><span class="emails-icon"></span><span>Emails</span></a>
              </li><li class="menu-app-themes">
                <a id="gallery-menu" href="/app/{{ app.id }}/gallery/"><span class="gallery-icon"></span><span>Themes</span></a>
              </li>
            </ul>{% endif %}
          </li>
          <li class="pull-right dropd">
            <a href="#" class="garage-toggle">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
