  <img src="{{ STATIC_URL }}img/up-arrow-black.png" class="up-arrow">
  <div class="container">
    <div class="row">
          <a class="span32 hi4 large-link white-border" href="/forum/questions/" rel="external" target="_blank">
            <strong>COMMUNITY Q&A FORUM </strong>
          </a>
    </div>

    <div class="row hoff1">
      <div class="right-menu span15">
        <a class="white-border span14 hi4 toggle-invitations-modal" href="#">
          <span class="icon invite"></span>
          <span>Invite Your Friends</span></a>
        <a class="white-border span14 hi4" href="/resources" target="_blank" rel="external">
          <span class="icon resources"></span>
          <span>Resources</span></a>
        <a class="white-border span14 hi4" href="/community" target="_blank" rel="external">
          <span class="icon community"></span>
          <span>Community</span></a>
      </div>
      <div class="notifications">
        <span class="icon resources"><div class="title">Notifications</div>
        <hr>
        <ul>
          <li>You can fill the <a rel="external" target="_blank" href="https://www.appcubator.com/feedback/">feedback form</a> for a chance to win a free domain.</li>
          <li>You can add custom CSS/JS/HTML to your pages using "Custom Widget".</li>
          <li>Now you can see the analytics about your application in the dashboard below.</li>
        </ul>
      </div>
    </div>

    <div class="bottom-sect hi4 hoff2 span32 row">
          <a class=" span18 hi4" href="/account" rel="external">
            <span class="icon settings"></span>
            <span>Account Settings ({{user.username}})</span>
          </a>
          <a class="hi4 right" href="/logout" rel="external">
            Logout 
          </a>
    </div>
  </div>