  <img src="{{ STATIC_URL }}img/up-arrow-black.png" class="up-arrow">
  <div class="container">
    <div class="span32 left-menu">
      <div class="current-app-info">
      {% if app %}
          <div class="app title">{{ app.name }}</div>
          <div class="row hoff1 span48 current-app-links">
            <a class="white-border span15 hi8 settings hide-overlay" href="{% url appcubator.views.app_page app.id %}info/">
              <span class="icon"></span>
              <div class="text">
                <span class="title">App Settings</span>
                <p>Change settings for your app or delete it.</p>
              </div>
            </a>
            <a class="white-border span15 hi8 offset2 theme" href="{% url appcubator.views.app_edit_theme app.id %}" rel="external" target="_blank">
              <span class="icon"></span>
              <div class="text">
                <span class="title">Theme Editor</span>
                <p>Customize the styling of your app.</p>
              </div>
            </a>
          </div>
      {% endif %}
      </div>
      <div class="row span30">
        <div class="row">
          <a class="span32 hi4 large-link white-border" href="{% url appcubator.views.user_page user.username %}" rel="external">
            <strong>GO TO DASHBOARD</strong>
          </a>
        </div>
        <div class="row">
          <a class="span32 hi4 large-link white-border" href="{% url appcubator.views.app_new %}" rel="external">
            <strong>+ CREATE A NEW APP</strong>
          </a>
        </div>
        <div class="bottom-sect hi4 hoff2 span32">
          <a class=" span18 hi4" href="/account" rel="external">
            <span class="icon settings"></span>
            <span>Account Settings ({{user.username}})</span>
          </a>
          <a class="hi4 right" href="/logout" rel="external">
            Logout 
          </a>
        </div>
      </div>
    </div>

  </div>
