<div class="header">


	<h2>Plugin Repository</h2>
	<div class="q-mark-circle"></div>


</div>


<div class="current-content">
	<div class='pluginTitleBar'>
		<div class='pluginLogo'> </div>
		<h6> <a href="#"> flickerpicker </a> <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div> </h6>
		<div class="description"> Lorem ipsum something Lorem ipsum something Lorem ipsum somethingLorem  </div>
		<button class="addPluginPutton"> Add Plugin </button>
	</div> 
	<div class='pluginTitleBar'>
		<div class='pluginLogo'> </div>
		<h6> <a href="#"> BuyAndSell </a> <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div></h6>
		<div class="description"> Lorem ipsum something </div>
		<button class="addPluginPutton"> Add Plugin </button>
	</div> 
	<div class='pluginTitleBar'>
		<div class='pluginLogo'> </div>
		<h6> <a href="#"> BuyAndSell </a> <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div></h6>
		<div class="description"> Lorem ipsum something </div>
		<button class="addPluginPutton"> Add Plugin </button>
	</div>
	<div class='pluginTitleBar'>
		<div class='pluginLogo'> </div>
		<h6> <a href="#"> BuyAndSell </a> <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div></h6>
		<div class="description"> Lorem ipsum something </div>
		<button class="addPluginPutton"> Add Plugin </button>
	</div>	
</div>


<style type="text/css">



</style>