<div class="v1nav navbar logo-text navbar-inverse navbar-fixed-top ">
  <div class="hi4 navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li class="brand">
            <h1 class="name">
              <a id="main-menu" href="{% url appcubator.views.user_page user.username %}" onclick="window.open(this.href, this.href); return false" rel="external">
                <span class="brand">Appcubator</span>
                <span class="title">Dashboard</span>
              </a>
            </h1>{% if app and navHide != "true" %}<ul class="navigation-menu">
              <li class="menu-app-pages">
                <a id="pages-menu" href="/app/{{ app.id }}/pages/"><span class="pages-icon"></span><span>Pages</span></a>
              </li><li class="menu-app-entities">
                <a id="entities-menu" href="/app/{{ app.id }}/tables/"><span class="entities-icon"></span><span>Tables</span></a>
              </li><li class="menu-app-themes">
                <a id="gallery-menu" href="/app/{{ app.id }}/gallery/"><span class="gallery-icon"></span><span>Themes</span></a>
              </li><li class="menu-app-emails">
                <a id="emails-menu" href="/app/{{ app.id }}/emails/"><span class="emails-icon"></span><span>Emails</span></a>
              </li><li class="menu-app-plugins">
                <a id="plugins-menu" href="/app/{{ app.id }}/plugins/"><span class="plugins-icon"></span><span>Plugins</span></a>
              </li>
            </ul>{% endif %}
          </li>
          {% if app %}
          <li class="pull-right dropd">
            <a href="#" class="garage-toggle">
            </a>
          </li>
          {% else %}
          <li class="pull-right dropd">
            <a href="{% url appcubator.views.user_page user.username %}" class="g-toggle" onclick="window.open(this.href, this.href); return false" rel="external">
            </a>
          </li>
          {% endif %}
          <li class="pull-right dropd">
            <a href="#" class="world-toggle">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>