<script type="text/template" id="app-overview-page">
{% include "app-overview-page.html" %}
</script>

<script type="text/template" id="pages-page">
{% include "app-pages-page.html" %}
</script>

<script type="text/template" id="editor-page">
{% include "app-editor-page.html" %}
</script>

<script type="text/template" id="mobile-editor-page">
{% include "app-mobile-editor-page.html" %}
</script>

<script type="text/template" id="emails-page">
{% include "app-emails-page.html" %}
</script>

<script type="text/template" id="themes-page">
{% include "app-themes-page.html" %}
</script>

<script type="text/template" id="plugin-browser">
{% include "app-plugin-browser.html" %}
</script>

{% include "app-panel-templates.html" %}
