/* * * * * * * * * * *
 Import Fonts
* * * * * * * * * * */

{% for font in uie_state.fonts %}
  @import url("https://fonts.googleapis.com/css?family={{ font.name }}:400,700,400italic,700italic");
{% endfor %}

/* * * * * * * * * * *
 Base CSS
* * * * * * * * * * */

{{ uie_state.basecss|safe }}


/* * * * * * * * * * *
 buttons
* * * * * * * * * * */

{% for b in  uie_state.buttons %}

.{{b.class_name.split|join:"."|safe}} {
{{b.style|safe}}
}

{% if b.hoverStyle %}
.{{b.class_name.split|join:"."|safe}}:hover {
{{b.hoverStyle|safe}}
}
{% endif %}

{% if b.activeStyle %}
.{{b.class_name.split|join:"."|safe}}:active {
{{b.activeStyle|safe}}
}
{% endif %}

{% endfor %}

/* * * * * * * * * * *
 Images
* * * * * * * * * * */

{% for i in  uie_state.images %}

{{i.tagName|safe}}.{{i.class_name.split|join:"."|safe}},
div.{{i.class_name.split|join:"."|safe}} {
{{i.style|safe}}
}

{% endfor %}

/* * * * * * * * * * *
 Headers
* * * * * * * * * * */

{% for ht in  uie_state.headerTexts %}

{{ht.tagName|safe}}.{{ht.class_name.split|join:"."|safe}} {
{{ht.style|safe}}
}

{% endfor %}

/* * * * * * * * * * *
 Text
* * * * * * * * * * */

{% for t in  uie_state.texts %}

{{t.tagName|safe}}.{{t.class_name.split|join:"."|safe}} {
{{t.style|safe}}
}

{% endfor %}


/* * * * * * * * * * *
 Links
* * * * * * * * * * */

{% for l in  uie_state.links %}

{{l.tagName|safe}}.{{l.class_name.split|join:"."|safe}} {
{{l.style|safe}}
}

{% if l.hoverStyle %}
.{{l.class_name.split|join:"."|safe}}:hover {
{{l.hoverStyle|safe}}
}
{% endif %}

{% endfor %}

/* * * * * * * * * * *
 Text Input
* * * * * * * * * * */

{% for ti in  uie_state.textInputs %}

{{ti.tagName|safe}}.{{ti.class_name.split|join:"."|safe}} {
{{ti.style|safe}}
}

{% endfor %}

/* * * * * * * * * * *
 Passwords
* * * * * * * * * * */

{% for p in  uie_state.passwords %}

{{p.tagName|safe}}.{{p.class_name.split|join:"."|safe}} {
{{p.style|safe}}
}

{% endfor %}

/* * * * * * * * * * *
 Text Areas
* * * * * * * * * * */

{% for ta in uie_state.textAreas %}

{{ta.tagName|safe}}.{{ta.class_name.split|join:"."|safe}} {
{{ta.style|safe}}
}

{% endfor %}

/* * * * * * * * * * *
 Lines
* * * * * * * * * * */

{% for l in uie_state.lines %}

{{l.tagName|safe}}.{{l.class_name.split|join:"."|safe}} {
{{l.style|safe}}
}

{% endfor %}

/* * * * * * * * * * *
 Dropdowns
* * * * * * * * * * */

{% for d in uie_state.dropdowns %}

{{d.tagName|safe}}.{{d.class_name.split|join:"."|safe}} {
{{d.style|safe}}
}

{% endfor %}

/* * * * * * * * * * *
 Boxes
* * * * * * * * * * */

{% for b in uie_state.boxes %}

{{b.tagName|safe}}.{{b.class_name.split|join:"."|safe}} {
{{b.style|safe}}
}

{% endfor %}

/* * * * * * * * * * *
 Forms
* * * * * * * * * * */

{% for b in uie_state.forms %}

{{b.tagName|safe}}.{{b.class_name.split|join:"."|safe}} {
{{b.style|safe}}
}

{% endfor %}

/* * * * * * * * * * *
 Lists
* * * * * * * * * * */

{% for b in uie_state.lists %}

{{b.tagName|safe}}.{{b.class_name.split|join:"."|safe}} {
{{b.style|safe}}
}

{% endfor %}

