<div class="header">


	<h2>Plugin Repository</h2>
	<div class="q-mark-circle"></div>


</div>


<div class="current-content">
	<% _.each(pluginsList, function(plugin, ind) { %>
	<div class='pluginTitleBar'>
		<div class='pluginLogo'> </div>
		<h6> <a href="#"> <%= plugin.name %></a> <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div> </h6>
		<div class="description"><%= plugin.description %></div>
		<button class="addPluginButton btn" id="add-<%= ind %>"> Add Plugin </button>
	</div> 
	<% }); %>
</div>


<style type="text/css">



</style>