{% extends "infra-html.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/welcome.css">
{% endblock %}

{% block topbar %}
{% include "infra-topbar-app.html" %}
{% endblock %}

{% block page %}
<div class="fixed-bg welcome">
  <div class="row">
    <div class="span36 offset8 intro">
      <img class="welcome" src="{{ STATIC_URL }}img/welcome-marker.png">
      <p>We are happy to see you using Appcubator and would like to help you get started as smoothly as possible.</p>
      <p>How would you like to proceed?</p>
    </div>
  </div>
  <div class="row hoff2 span48 offset8">
    <a class="welcome-icon quick-tour">
      <img src="{{ STATIC_URL }}img/quick-tour.png">
      <p>Take a Quick Tour</p>
      <div class="info-text qt-text">
        <span class="title">Take a Quick Tour</span>
        We will give you a quick tour of what Appcubator is and how it works in general.
      </div>
    </a>
    <div class="welcome-icon walkthrough-twitter" href="#">
      <img src="{{ STATIC_URL }}img/walkthrough-twitter.png">
      <p>Walkthrough Building Twitter</p>
      <div class="info-text qt-text">
        <span class="title">Walkthrough Building Twitter</span>
        This is for you if you're one of those people who likes to learn by doing. <br  />
        We will walk you through building a clone of Twitter.com in 8 minutes!
      </div>
    </div>
  </div>
  <div class="row span48 offset8">
    <a href="/documentation" class="welcome-icon read-tutorials">
      <img src="{{ STATIC_URL }}img/read-tutorial.png">
      <p>Read Documentation</p>
      <div class="info-text qt-text">
        <span class="title">Read Documentation</span>
        Read through Appcubator tutorials and watch the quick videos. This is the best way to learn how to use Appcubator.
      </div>
    </a>
    <a href="/app/new/" class="welcome-icon start-building">
      <img src="{{ STATIC_URL }}img/start-building.png">
      <p>Start Building</p>
      <div class="info-text qt-text">
        <span class="title">Start Building</span>
        If you feel comfortable with Appcubator by now, you can just go ahead and start building! The racoon will help you get started as quickly as possible.
      </div>
    </a>
  </div>
  <div class="row span48 offset8 twitter-chooser" style="display: none">
      <!-- simple twitter tutorial -->
      <a class="welcome-icon" href="{% url appcubator.views.app_new_walkthrough walkthrough='simpleWalkthrough' %}">
        <img src="{{ STATIC_URL }}img/walkthrough-twitter.png">
        <p>Simple Walkthrough</p>
        <div class="info-text qt-text">
          <span class="title">Simple Walkthrough</span>
          Skip the setup, and dive into designing your own Twitter!
        </div>
      </a>
      <!-- in-depth twitter tutorial -->
      <a class="welcome-icon" href="{% url appcubator.views.app_new_walkthrough walkthrough='walkthrough' %}">
        <img src="{{ STATIC_URL }}img/walkthrough-twitter.png">
        <p>In-Depth Walkthrough</p>
        <div class="info-text qt-text">
          <span class="title">In-Depth Walkthrough</span>
          Go through the whole process of building Twitter, from start to end, using Appcubator.
        </div>
      </a>
    </div>
  <div class="question-cont">
    <img src="{{ STATIC_URL }}img/question-market.png">
    <p>Yes, there is an actual person here :)</p>
  </div>
</div>
  <span class="span6 save-btn" id="save"><img id="save-icon" src="{{ STATIC_URL }}img/save.png"></span>
  <span class="span6 qm-btn" id="tutorial">?</span>
  <span class="span6 scrollUp-btn hidden" id="scrollUp"></span>

  <div class="container hoff6" id="main-container"></div>
    {% include "app-page-templates.html" %}
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/libs/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.js"></script>
<script type="text/javascript">
    var appId = 0;
    var appState = {{ default_state|safe }};
    var uieState = {{ default_uie_state|safe }};
    var mobileUieState = {{ default_mobile_uie_state|safe }};
    var statics = {{ statics|safe }};
    var themes = {{ themes|safe }};
    var mobileThemes = {{ mobile_themes|safe }};
    var GRID_WIDTH = 80;
    var GRID_HEIGHT = 15;
</script>
<script data-main="{{ STATIC_URL }}js/application/external-pages/app-welcome-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
<script type="text/javascript">
</script>
{% endblock %}
