<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title> Appcubator | {{ title }}</title>
<link type="text/css" href="/app/{{ app.id}}/uiestate.css" id="css-uiestate" rel="stylesheet"/>
<link type="text/css" href="/static/css/appcubator-override.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/editor-inject.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/jquery-ui.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/perfect-scrollbar-0.4.6.min.css" rel="stylesheet"/>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script src="http://cl.ly/code/2R2P0B3s3u0q/jquery.content_slider.js" type="text/javascript"></script>
 -->

</head>
<body>
        <!-- Navbar -->
        <div id="navbar">
          <button id="edit-navbar-btn">Edit Navbar</button>
        </div>
        <!-- Editing Container -->
        <div class="editing elements" id="elements-container">
        <!-- UI Elements -->
        </div>

        <div class="container editing full-container" id="addNewSection">
            <span id="addNewSectionTitle">Add A New Section</span>
            <ul class="options" style="display:none;">
                <li class="section-option" id="opt-12">12</li>
                <li class="section-option" id="opt-3-3-3-3">3-3-3-3</li>
                <li class="section-option" id="opt-4-4-4">4-4-4</li>
                <li class="section-option" id="opt-4-8">4-8</li>
                <li class="section-option" id="opt-8-4">8-4</li>
            </ul>
        </div>

        <!-- Footer -->
        {% if old_nav %}
        <footer class="footer" id="footer">
        </footer>
        {% endif %}

<script type="text/javascript">
    var staticVersion = "{{STATIC_VERSION}}";
</script>
<script data-main="{{ STATIC_URL }}js/application/main-app/editor/iframe-main" src="{{ STATIC_URL }}js/libs/require.js">
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script src="http://cl.ly/code/2R2P0B3s3u0q/jquery.content_slider.js" type="text/javascript"></script>
<script type="text/javascript" src="http://cl.ly/code/471n3G0I3134/bootstrap-select.js"></script>

</body>
</html>
