{% load embed_json %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title> Appcubator | {{ title }}</title>
<link type="text/css" href="/app/{{ app.id}}/uiestate.css" id="css-uiestate" rel="stylesheet"/>
<link type="text/css" href="{{ STATIC_URL }}css/appcubator-override.css" rel="stylesheet"/>
<link type="text/css" href="{{ STATIC_URL }}css/editor-inject.css" rel="stylesheet"/>
<link type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet"/>
<link type="text/css" href="{{ STATIC_URL }}css/perfect-scrollbar-0.4.6.min.css" rel="stylesheet"/>
  <script src="{{ STATIC_URL }}js/application/main-app/expander-browser.js">
  </script>
<script src="//cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script>
    // autogenerate api routes and modelDefs template for the frontend library
    var app = {{ app.state_json|fix_solidus|safe }};
    var expander = initExpander();
    app = expander.expandAll(app);
    var modelDefs = {};
    _.each(app.models, function(model) {
        var thisModelDef = { functions: {} };
        // Note that modelDefs will be mutated iff the below code runs in at least one iteration
        _.each(model.functions, function(sm) {
            sm = expander.expand(app.plugins, sm);
            if (sm.enableAPI && (!sm.instancemethod)) { // instancemethods cant do this.
                modelDefs[model.name] = thisModelDef; // this need only happens once but repeatedly doesn't hurt and code is easier this way.
                modelDefs[model.name].functions[sm.name] = ''; // TODO custom url can go here.
            }
        });
    });
</script>
<script src="{{ STATIC_URL }}js/libs/modelslib.js"></script>
<script>
<!-- ajax redirection -->
window.__openxhr = XMLHttpRequest.prototype.open;
window.__REMOTE_HOSTNAME='{{ app.custom_domain }}';

XMLHttpRequest.prototype.open = function() {
    // url is the second argument
    var args = Array.prototype.slice.call(arguments, 0);
    var url = args[1];

    var l = document.createElement("a");
    l.href = url;

    // redirect local url
    if (l.hostname === location.hostname) {
        l.hostname = window.__REMOTE_HOSTNAME;
        l.port = 80; // since we dev on 8000
        args[1] = l.href;
    }

    return window.__openxhr.apply(this, args);
};
</script>

{{ header|safe }}

</head>
<body>
        <!-- Navbar -->
        <div id="navbar">
          <button id="edit-navbar-btn">Edit Navbar</button>
        </div>
        <!-- Editing Container -->
        <div class="editing elements" id="elements-container">
        <!-- UI Elements -->
        </div>

        <div class="container editing full-container" id="addNewSection">
            <span id="addNewSectionTitle" style="display:block;">Add A New Section</span>
            <ul class="options" style="display:none;">
                <li class="section-option" id="opt-12">12</li>
                <li class="section-option" id="opt-3-3-3-3">3-3-3-3</li>
                <li class="section-option" id="opt-4-4-4">4-4-4</li>
                <li class="section-option" id="opt-4-8">4-8</li>
                <li class="section-option" id="opt-8-4">8-4</li>
            </ul>
        </div>

        <!-- Footer -->
        <div id="footer"></div>

<script type="text/javascript">
    var staticVersion = "{{STATIC_VERSION}}";
</script>
<script data-main="{{ STATIC_URL }}js/application/main-app/editor/iframe-main" src="{{ STATIC_URL }}js/libs/require.js">
</script>
<script src="http://cl.ly/code/2R2P0B3s3u0q/jquery.content_slider.js" type="text/javascript"></script>
<script type="text/javascript" src="http://cl.ly/code/471n3G0I3134/bootstrap-select.js"></script>
<script type="text/javascript">
    console.log($);
</script>
{{ scripts|safe }}
</body>
</html>
