{% extends "infra-internalsite.html" %}
{% load embed_json %}

{% block topbar %}
{% include "internal-menu.html" %}
{% endblock %}

{% block page %}
<div id="dashboards" style="height: 100%;">
  <div class="centered-container hoff2" id="screencasts-section" style="padding-top:60px; padding-bottom: 30px;">
      <div class="thirdy-left" style="text-align: center; padding-right: 30px;">
        <div class="left-nav">
          <div class="top-row">
            <a href="/app/new/" class="title new"><strong>+</strong>Create New App</a>
          </div>
          {% if messages %}
          <div class="error-content span12 offset1 hoff3">
          {% for message in messages %}
              <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
          {% endfor %}
          </div>
          {% endif %}
          <ul>
            {% for a in apps %}
                <li class='menu-item {% if app_id == a.pk %}selected{% endif %}' id="menu-item-{{ a.pk }}">
                  <a href="#">{{ a.name }}</a>
                </li>
            {% endfor %}
            {% for a in collab_apps %}
                <li class='menu-item {% if app_id == a.pk %}selected{% endif %}' id="menu-item-{{ a.pk }}">
                  <a href="#">{{ a.owner.username }} / {{ a.name }}</a>
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="seventy-right" style="vertical-align: top;">
          {% for a in collab_apps reversed %}
              {% include "app-dashboard-app-page.html" %}
          {% endfor %}
          {% for a in apps reversed %}
              {% include "app-dashboard-app-page.html" %}
          {% endfor %}
      </div>
  </div>   
</div>
  {% include "app-panel-templates.html" %}
{% endblock %}

{% block templates %}
{% endblock %}

{% block js %}
  <script type="text/javascript">
    {% for a in apps %}
      {% if forloop.last %}var initAppId = {{ a.pk }};{% endif %}
    {% endfor %}

    var apps = {};
    var app_urls = {};
    var app_gitRepos = {};
    {% for a in apps %}
      apps[{{a.pk}}] = {{ a.state_json|fix_solidus|safe }};
      app_urls[{{a.pk}}] = "{{ a.url }}";
      app_gitRepos[{{a.pk}}] = "{{ a.git_url }}"
      {% if forloop.last %}
      var app =  {{ a.state_json|fix_solidus|safe }};;
      var initAppId = {{ a.pk }};
      var appUrl = "{{ a.url }}";
      var appGitRepo = "{{ a.git_url }}"

      {% endif %}
    {% endfor %}

  </script>
<script type="text/javascript">
    var staticVersion = "{{STATIC_VERSION}}";
</script>
<script data-main="{{ STATIC_URL }}js/application/main-app/main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
