{% extends "infra-html.html" %}
{% load embed_json %}
{% block css %}
<link type="text/css" href="{{ STATIC_URL }}css/jsoneditor.css" rel="stylesheet"/>
<link rel="stylesheet" href="{{ STATIC_URL }}js/application/jsoneditor/style.css">

{% endblock %}

    {% block topbar %}
      <div class="save btn" id="save">Save</div>
    {% endblock %}

    {% block page %}
    {% endblock %}

{% block js %}
  <script type="text/javascript">
    var appId = {{ app.id }};
    var appUrl = "{{ app.url }}";
    var appGitRepo = "{{ app.git_url }}";
    var appState = {{ app.state_json|fix_solidus|safe }};
    var uieState = {{ app.uie_state_json|fix_solidus|safe }};
    var mobileUieState = {{ app.mobile_uie_state_json|fix_solidus|safe }};
    var statics = {{ statics|fix_solidus|safe }};
    var themes = {{ themes|fix_solidus|safe }};
    var mobileThemes = {{ mobile_themes|fix_solidus|safe }};
    var staticVersion = "{{STATIC_VERSION}}";
    var is_deployed = {{ is_deployed }}
    var v1 = {};
    var v1State = {};
    var pageId = null;
    var innerDoc;
  </script>
  <script data-main="{{ STATIC_URL }}js/application/jsoneditor/main" src="{{ STATIC_URL }}js/libs/require.js">
  </script>
{% endblock %}
