{% extends "infra-html.html" %}

{% block css %}
<link type="text/css" href="{{ STATIC_URL }}css/racoon.css" id="css-racoon" rel="stylesheet"/>
<link type="text/css" href="{{ STATIC_URL }}css/prettyCheckable.css" id="css-prettycheckable" rel="stylesheet"/>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
{% endblock %}

{% block topbar %}
{% endblock %}

{% block page %}
<div class="container hoff2">
  <div class="top-panel">
    <div id="container">
      <div id="cube" class="animate">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="logo-text">Appcubator</div>
    <div class="banner">Getting Started</div>
  </div>
  <ul class="span52 racoon offset6 hoff1">
    <li class="intro">
      Welcome! Here are few questions that will help you get started quickly.
    </li>
  </ul>
</div>
{% endblock %}

{% block js %}
<script>
var appId = {{ app_id }};
</script>
<script data-main="{{ STATIC_URL }}js/application/wizard/main" src="{{ STATIC_URL }}js/libs/require.js"></script>


{% endblock %}
