<div class="container hoff1" id="entities-page">
    <div class="span58">
        <h2 class="pheader">
            User Tables
        </h2>
        <div class="tbl-button right" id="add-role">
            <div class="box-button">
                <span class="add-icon">
                </span>
                <span>
                    Add User Table
                </span>
            </div>
            <form id="add-role-form" class="right new-table-form" style="display: none; height: 45px">
                <input type="submit" class="done-btn" value="Done">
                <input type="text" placeholder="New User Role">
            </form>
        </div>
    </div>
    <hr class="span58 pheader">
    <div class="span58 hoff1" id="users">
        <div id="user-entity">
        </div>
    </div>
    <div class="span58 hi1">
    </div>
    <div class="span58 hoff2">
        <h2 class="pheader">
            Tables
        </h2>
        <div class="tbl-button right" id="add-entity">
            <div class="box-button">
                <span class="add-icon">
                </span>
                <span>
                    Add Table
                </span>
            </div>
            <form style="display: none; height: 45px" class="right new-table-form"
            id="add-entity-form">
                <input type="submit" class="done-btn" value="Done">
                <input type="text" placeholder="New Table">
            </form>
        </div>
        <hr class="span58 hoff1">
    </div>
    <div class="span58" id="tables">
    </div>
    <div class="span58 hi1">
    </div>
    <div class="span58 hoff2">
        <h2 class="pheader">
            Relations
        </h2>
        <div class="tbl-button right" id="add-relation">
            <div class="box-button">
                <span class="add-icon">
                </span>
                <span>
                    Add Relation
                </span>
            </div>
        </div>
    </div>
    <hr class="span58 hoff1">
    <div class="span58" id="relations">
    </div>
    <div class="span58" style="height: 45px;">
    </div>
</div>