<!-- Copied from appmake but modified to reference statics from appmake -->
{% load embed_json %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Appcubator | Plugin editor </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="{{ CODEGEN_STATICS_URL }}styles/main.css">

        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->

        <script src="{{ CODEGEN_STATICS_URL }}bower_components/modernizr/modernizr.js"></script>

        <!-- endbuild -->
    </head>


<style>

</style>

<body>
  <script type="text/javascript">
    STATIC_URL = '{{STATIC_URL}}';
  </script>
  <script type="text/javascript">
    var appId = {{ app.id }};
    var appUrl = "{{ app.url }}";
    var appGitRepo = "{{ app.git_url }}";
    var appState = {{ app.state_json|fix_solidus|safe }};
    var uieState = {{ app.uie_state_json|fix_solidus|safe }};
    var mobileUieState = {{ app.mobile_uie_state_json|fix_solidus|safe }};
    var statics = {{ statics|fix_solidus|safe }};
    var staticVersion = "{{STATIC_VERSION}}";
    var v1 = {};
    var v1State = {};
    var pageId = null;
    var innerDoc;
    var DEBUG = {% if DEBUG %}true{% else %}false{% endif %};
  </script>

    <script src="{{ STATIC_URL }}js/application/main-app/expander-browser.js"></script>
        <!-- build:js scripts/main.js -->
    <script data-main="{{ CODEGEN_STATICS_URL }}scripts/main" src="{{ CODEGEN_STATICS_URL }}bower_components/requirejs/require.js"></script>
        <!-- endbuild -->

</body>
</html>
