{% extends "infra-app.html" %}

{% block css %}
{% endblock %}

{% block topbar %}
{% include "internal-menu.html" %}
{% endblock %}

{% block page %}
<div class="container hoff3">
  <div class="span40 hoff8">
    <h2 class="">Start a New App</h2>
    <div class="hoff1">
        <form method="post" action="/app/new/">
        {% csrf_token %}
        <h4 class="span12 hoff1">Name of the app</h4>
        <input class="span16 hoff1" name="name" type="text" placeholder="Easy App" value="{{old_name}}">
        {% if errors %}
        <div class="error-content">
        <br>
        {% for k, values in errors.items %}
            {% for val in values %}
            {{ val }}<br>
            {% endfor %}
        {% endfor %}
        </div>
        {% endif %}
        {% if other_errors %}
        <div class="error-content">
        <br>
        {% for val in other_errors %}
            {{ val|safe }}<br>
        {% endfor %}
        </div>
        {% endif %}
        <hr>

    <span id="current-temp-text"></span><input type="submit" value="Start Building My App »" id="skip-racoon" class="span15 btn btn-blue hi3 offset12 pull-right" >

    </form>
    </div>
  </div>
  <div class="mascot hoff8 span20 hi16 offset4" id="mascot">
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/libs/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.js"></script>
<!-- <script data-main="{{ STATIC_URL }}js/application/external-pages/apps-new-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
 -->
 <script data-main="{{ STATIC_URL }}js/application/main-app/main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
