{% extends "website-resources-infra.html" %}
{% block content %}
<div class="centered-container resource slide-documentation">
    <h4>How to Use the Theme Editor</h4>
    <p>Theme editor gives you full control over your interface. It requires knowledge of CSS. It uses LESS to compile the styles on the generated app, but it's not a required skill.</p>
    <p class="image"><img src="https://www.filepicker.io/api/file/r3WVLeS2QY6vXSuAk3op"></p>
    <p>You can access the theme editor on the top right menu of your application. You'll be directed to the Theme Editor when you click the "Theme Editor" button.</p>
    <h5>Base CSS</h5>
    <p>Base CSS is the CSS that will directly be injected to your page. It should include the overall styling of your page, such as the styling of the body tag, navigation bar or footer.</p>
    <h6>How to style body tag?</h6>
    <p>To style the &#60;body&#62; tag, it's just enough to add lines on top of the basecss, without any brackets. The lines you write here will automatically be wrapped with <code>body { /* Your CSS */ }</code>.</p>
    <p class="example">
      <span>Example styling:</span><br>
      <img src="https://www.filepicker.io/api/file/EJd57eLJSZOGEoab2Jnv">
    </p>
    <h6>How to style Navigation Bar?</h6>
    <p>Navbar on the generated app has a constant semantic HTML, but you are free to style it however you would like.</p>
    <p>The HTML for the navigation bar looks like the following:<p>
      <p><pre><code>
        &#60;div class="navbar" id="navbar">
        &#60;div class="navbar-inner">
        &#60;a class="brand" href="/" id="brand-name">Design This For Me? &#60;/a>
        &#60;ul class="nav" id="items">
        &#60;li> &#60;a href="#">Item 1 &#60;/a> &#60;/li>
        &#60;li> &#60;a href="#">Item 2 &#60;/a> &#60;/li>
        &#60;li class="logout-item pull-right"> &#60;a id="logout" href="#">Logout &#60;/a> &#60;/li>
        &#60;/ul>
        &#60;/div>
        &#60;/div>
      </code></pre></p>
      <p>The <i>class</i>s and <i>id</i>s here are always constant, so you can style each part of the navbar through those selectors. The template theme will have a simple styling that you can just fill in.</p>
      <h6>How to style Footer?</h6>
      <p><pre><code>
        &#60;div class="footer">
        &#60;div class="container">
        &#60;ul class="footer-links">
        &#60;li>&#60;a href="#" class="menu-item">Footer Item 1&#60;/a>&#60;/li>
        &#60;li>&#60;a href="#" class="menu-item">Footer Item 2&#60;/a>&#60;/li>
        &#60;/ul>
        &#60;p class="footer-text muted">Powered by Appcubator&#60;/p>
        &#60;/div>
        &#60;/div>
      </code></pre></p>
      <p>The <i>class</i>s and <i>id</i>s here are always constant, so you can style each part of the footer through those selectors. The template theme will have a simple styling that you can just fill in.</p>
      <h5>Adding UI Element Styles</h5>
      <p>The types of UI elements you can create on the editor are already defined and you can create new classes, or "styling"s, for these UI element types. The stylings you create will be available on the editor, when you click the "Edit Style" button on the widget editor.</p>
      <p class="example">
        <span>Example styling for buttons:</span><br>
        <img src="https://www.filepicker.io/api/file/SX8QAPc2SXuUhV9mmvR2" style="height:240px;">
        <img src="https://www.filepicker.io/api/file/iVjwuCieSQ65vnuZYiiK" style="height:240px; margin-left: 20px"><br>
        <small>P.S. We don't recommend making buttons as ugly as the ones on the above example :) </small>
      </p>
      <h6>How to add custom fonts</h6>
      <p>It's exteremely easy to add custom fonts to your theme. We have already integrated Google Fonts API, so you can just pick which fonts you'd like to use from the dropdown and start using it in your CSS.</p>
      <p class="image">
        Just click on "Fonts" on the left menu, and ...
        <img src="https://www.filepicker.io/api/file/020MDdmtTeKaM5fv2KHu">
      </p>
      <h6>How to add images and icons</h6>
      <p>Wouldn't it be awesome if you put some nice icons to your theme or provide some more statics? It's easy. You can go to the statics section by clicking the "Statics" on the left menu and you will see the interface where you can upload new statics as well as see your already uploaded statics.</p>
      <p class="image">
        Press Cmd+C or Ctrl+C when you see the prompt below, and you can use it anywhere in your CSS by pasting it. It'll be available everywhere. 
        <img src="https://www.filepicker.io/api/file/lh99JrOuRmSMtPRQHrBB
        ">
      </p>
    </p>
    <hr>
    <div class="feed">
      <p>Please don't hesitate to ask your questions or comment below. We'll answer as soon as possible!</p>
      <div class="fb-comments" data-href="http://appcubator.com/resources/designer-guide/" data-width="600"></div>
      <div id="fb-root"></div>
    </div>
</div>
{% endblock %}

