{% extends "infra-html.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/themes.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/js/libs/fontselect/fontselect.css" />
{% endblock %}

{% block topbar %}
{% include "infra-topbar-designer.html" %}
{% endblock %}

{% block page %}
<a class="span6 save-btn" id="save">
  <img src="/static/img/save.png">
</a>
<div class="container hoff6">
  <div class="span12">
      <ul class="uie-gallery left-nav">
        <li class="expandible" id="basecss">Base CSS</li>
        <li class="expandible" id="fonts">Fonts</li>
        <li class="expandible" id="button">Buttons</li>
        <li class="expandible" id="image">Images</li>
        <li class="expandible" id="header-text">Headers</li>
        <li class="expandible" id="text">Texts</li>
        <li class="expandible" id="link">Links</li>
        <li class="expandible" id="text-input">Inputs</li>
        <li class="expandible" id="password">Password Fields</li>
        <li class="expandible" id="text-area">Text Areas</li>
        <li class="expandible" id="line">Lines</li>
        <li class="expandible" id="dropdown">Dropdowns</li>
        <li class="expandible" id="box">Boxes</li>
        <li class="expandible" id="form">Forms</li>
        <li class="expandible" id="list">Lists</li>

        <li class="expandible" id="pages">Pages</li>
        <li class="expandible" id="statics">Statics</li>
      </ul>

  </div>
  <div class="right-bar span42 offset2">
    <ul class="content-editor">
      <li id="basecss-cont" class="expanded">
        <h3>Base CSS</h3>
        <div class="base-css span40" id="base-css">

        </div>
      </li>
      <li id="fonts-cont">
        <h3>Fonts</h3>
        <div>
          <input type="text" class="font-selector">
          <ul class="fonts hoff2"></ul>
        </div>
        <!-- <textarea id="fonts-editor"></textarea> -->
      </li>
      <li id="pages-cont">
        <ul id="pages-list" class="pages-list">
        </ul>
        <div class="span16 hi12 pane border" id="create-page">
          + Create Sample Page
        </div>
        <form class="create-page-form" style="display:none">
          <input class="create-page-name" type="text" placeholder="placename">
        </form>
      </li>
      <li class="" id="button-cont">
        <h3>Buttons</h3>
      </li>
      <li class="" id="image-cont">
        <h3>Images</h3>
      </li>
      <li class="" id="header-text-cont">
        <h3>Headers</h3>
      </li>
      <li class="" id="text-cont">
        <h3>Texts</h3>
      </li>
      <li class="" id="link-cont">
        <h3>Links</h3>
      </li>
      <li class="" id="text-input-cont">
        <h3>Inputs</h3>
      </li>
      <li class="" id="password-cont">
        <h3>Password Fields</h3>
      </li>
      <li class="" id="text-area-cont">
        <h3>Text Areas</h3>
      </li>
      <li class="" id="line-cont">
        <h3>Lines</h3>
      </li>
      <li class="" id="dropdown-cont">
        <h3>Dropdowns</h3>
      </li>
      <li class="" id="box-cont">
        <h3>Boxes</h3>
      </li>
      <li class="" id="form-cont">
        <h3>Forms</h3>
      </li>
      <li class="" id="list-cont">
        <h3>Lists</h3>
      </li>
      <li id="statics-cont">
        <div class="btn-primary btn" id="upload-static">Upload New</div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
</script>
<script>
var themeState = {{ theme|safe }};

var themeId = null;
var appId = null;

{% if themeId %}
var themeId = {{ themeId }};
{% elif appId%}
var appId = {{ appId }};
{% endif %}

var statics = {{ statics|safe }};
</script>
<script data-main="{{ STATIC_URL }}js/application/designer-app/theme-show-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
