{% extends "infra-html.html" %}

{% block css %}
{% endblock %}

{% block topbar %}
{% include "infra-topbar-designer.html" %}
{% endblock %}

{% block page %}
<div class="container hoff2">

  <div class="span20 hoff5">
    <h2 class="">Profile</h2>
  </div>
  <div class="offset2 span40 hoff5">
    <h2 class="hi4 span40">Current Themes</h2>
    <ul id="themes-list">
      {% for theme in themes %}
      <li class="hoff1 span10">
        <a href="/theme/{{ theme.pk }}/">
          <h3>{{ theme.name }}</h3>
          <div>
            <img src="{{theme.image}}">
          </div>
          <form class="hoff1" method="POST" action="/theme/{{theme.pk}}/delete/">
            {% csrf_token %}
            <input type="submit"  class="btn btn-danger" value="Delete">
          </form>
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="hi5 hoff1 span40 pane border create-theme">
      <div class="create-theme-text">+ Create a new theme</div>
      <form class="create-form hi3 hoff1 span36" style="display:none;"><input type="text" placeholder="Name of the theme" class="theme-name"><input type="submit" class="btn" value="Create"></form>
    </div>

     <div class="hi5 hoff1 span40 pane border create-mobile-theme">
      <div class="create-mobile-theme-text">+ Create a mobile theme</div>
      <form class="create-mobile-form hi3 hoff1 span36" style="display:none;"><input type="text" placeholder="Name of the theme" class="theme-name"><input type="submit" class="btn" value="Create"></form>
    </div>
  </div>

</div>
{% endblock %}
{% block js %}
<script data-main="{{ STATIC_URL }}js/application/designer-app/designer-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
