{% extends "infra-html.html" %}

{% block css %}
  <link type="text/css"  rel="stylesheet/less" href="{{ STATIC_URL }}css/app/themes.less">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/js/libs/fontselect/fontselect.css" />
{% endblock %}

{% block topbar %}
{% include "infra-topbar-designer.html" %}
{% endblock %}

{% block page %}
<a class="span6 save-btn" id="save">
  <img src="/static/img/save.png">
</a>
<div class="container hoff6">
  <div class="span12">
      <ul class="uie-gallery left-nav">
        <li class="expandible" id="basecss"><a href="/app/{{ appId }}/edit_theme/basecss/">Base CSS</a></li>
        <li class="expandible" id="fonts"><a href="/app/{{ appId }}/edit_theme/fonts/">Fonts</a></li>
        <li class="expandible" id="button"><a href="/app/{{ appId }}/edit_theme/button/">Buttons</a></li>
        <li class="expandible" id="image"><a href="/app/{{ appId }}/edit_theme/image/">Images</a></li>
        <li class="expandible" id="header-text"><a href="/app/{{ appId }}/edit_theme/header-text/">Headers</a></li>
        <li class="expandible" id="text"><a href="/app/{{ appId }}/edit_theme/text/">Texts</a></li>
        <li class="expandible" id="link"><a href="/app/{{ appId }}/edit_theme/link/">Links</a></li>
        <li class="expandible" id="text-input"><a href="/app/{{ appId }}/edit_theme/text-input/">Inputs</a></li>
        <li class="expandible" id="password"><a href="/app/{{ appId }}/edit_theme/password/">Password Fields</a></li>
        <li class="expandible" id="text-area"><a href="/app/{{ appId }}/edit_theme/text-area/">Text Areas</a></li>
        <li class="expandible" id="line"><a href="/app/{{ appId }}/edit_theme/line/">Lines</a></li>
        <li class="expandible" id="dropdown"><a href="/app/{{ appId }}/edit_theme/dropdown/">Dropdowns</a></li>
        <li class="expandible" id="box"><a href="/app/{{ appId }}/edit_theme/box/">Boxes</a></li>
        <li class="expandible" id="form"><a href="/app/{{ appId }}/edit_theme/form/">Forms</a></li>
        <li class="expandible" id="list"><a href="/app/{{ appId }}/edit_theme/list/">Lists</a></li>
        <li class="expandible" id="statics"><a href="/app/{{ appId }}/edit_theme/statics/">Statics</a></li>
      </ul>
  </div>
  <div class="right-bar span42 offset1">
    <ul class="element-editor">
      <li id="basecss-cont" class="expanded">
        <h3>Base CSS</h3>
        <div class="base-css span40" id="base-css">

        </div>
      </li>
      <li id="fonts-cont">
        <h3>Fonts</h3>
        <div>
          <input type="text" class="font-selector">
          <ul class="fonts hoff2"></ul>
        </div>
        <!-- <textarea id="fonts-editor"></textarea> -->
      </li>
      <li class="" id="button-cont">
        <h3>Buttons</h3>
      </li>
      <li class="" id="image-cont">
        <h3>Images</h3>
      </li>
      <li class="" id="header-text-cont">
        <h3>Headers</h3>
      </li>
      <li class="" id="text-cont">
        <h3>Texts</h3>
      </li>
      <li class="" id="link-cont">
        <h3>Links</h3>
      </li>
      <li class="" id="text-input-cont">
        <h3>Inputs</h3>
      </li>
      <li class="" id="password-cont">
        <h3>Password Fields</h3>
      </li>
      <li class="" id="text-area-cont">
        <h3>Text Areas</h3>
      </li>
      <li class="" id="line-cont">
        <h3>Lines</h3>
      </li>
      <li class="" id="dropdown-cont">
        <h3>Dropdowns</h3>
      </li>
      <li class="" id="box-cont">
        <h3>Boxes</h3>
      </li>
      <li class="" id="form-cont">
        <h3>Forms</h3>
      </li>
      <li class="" id="list-cont">
        <h3>Lists</h3>
      </li>
      <li id="statics-cont">
        <div class="btn-primary btn" id="upload-static">Upload New</div>
        <div id="theme-statics" class="row hoff2"></div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
</script>
<script>
var themeState = {{ theme|safe }};
var themeId = null;
var appId = null;

{% if themeId %}
var url = '/theme/'+themeId;
var themeId = {{ themeId }};
{% elif appId%}
var url = '/app/' + appId;
var appId = {{ appId }};
{% endif %}

var statics = {{ statics|safe }};
</script>
<script data-main="{{ STATIC_URL }}js/application/designer-app/theme-show-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
