<script type="text/template" id="tutorial-intro">
  {% include "documentation/html/intro.html" %}
</script>

<script type="text/template" id="tutorial-tables-page">
  {% include "documentation/html/tables_page.html" %}
</script>

<script type="text/template" id="tutorial-user-tables">
  {% include "documentation/html/user_tables.html" %}
</script>

<script type="text/template" id="tutorial-tables">
  {% include "documentation/html/tables.html" %}
</script>

<script type="text/template" id="tutorial-relationships">
  {% include "documentation/html/relationships.html" %}
</script>

<script type="text/template" id="tutorial-pages">
  {% include "documentation/html/pages.html" %}
</script>

<script type="text/template" id="tutorial-editor">
  {% include "documentation/html/editor.html" %}
</script>

<script type="text/template" id="tutorial-design-elements">
  {% include "documentation/html/design_elements.html" %}
</script>

<script type="text/template" id="tutorial-images">
  {% include "documentation/html/images.html" %}
</script>

<script type="text/template" id="tutorial-login">
  {% include "documentation/html/login.html" %}
</script>

<script type="text/template" id="tutorial-page-content">
  {% include "documentation/html/page_content.html" %}
</script>

<script type="text/template" id="tutorial-forms">
  {% include "documentation/html/Forms.html" %}
</script>

<script type="text/template" id="tutorial-lists">
  {% include "documentation/html/lists.html" %}
</script>

<script type="text/template" id="tutorial-search">
  {% include "documentation/html/search.html" %}
</script>

<script type="text/template" id="tutorial-themes">
  {% include "documentation/html/themes.html" %}
</script>

<script type="text/template" id="tutorial-deploy">
  {% include "documentation/html/deploy.html" %}
</script>

<script type="text/template" id="tutorial-emails">
  {% include "documentation/html/emails.html" %}
</script>

<script type="text/template" id="tutorial-application-settings">
  {% include "documentation/html/application_settings.html" %}
</script>

<script type="text/template" id="tutorial-domain-settings">
  {% include "documentation/html/domain_settings.html" %}
</script>

<script type="text/template" id="tutorial-seo-optimization">
  {% include "documentation/html/seo_optimization.html" %}
</script>

<script type="text/template" id="tutorial-deleting-your-application">
  {% include "documentation/html/deleting_your_application.html" %}
</script>

<script type="text/template" id="feedback-form-page">
  {% include "documentation/html/feedback.html" %}
