 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title> Appcubator | What is Appcubator?</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/marketing.css" rel="stylesheet">
{% block css %}
{% endblock %}
</head>
<body>
<div class="logo-fixed"></div>
<div class="action action1">Create the flow of your app through a drag’n’drop interface.</div>
<div class="action action2">Get help from designers.</div>
<div class="action action3">Ask developers for custom features.</div>

</body>
</html>
