{% extends "infra-html.html" %}

{% block less %}
<link rel="stylesheet/less" href="{{ STATIC_URL }}css/app/style.less">
<link rel="stylesheet/less" href="{{ STATIC_URL }}css/app/editor/editor.less">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/js/libs/fontselect/fontselect.css" />

{% endblock %}

{% block css-files %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app/style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app/editor/editor.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/js/libs/fontselect/fontselect.css" />
{% endblock %}

{% block topbar %}
{% include "app-navbar.html" %}
{% endblock %}

{% block overlay-page %}
<div class="welcome garage" id="garage-div" {% if not display_garage %} style="display:none;" {% endif %}>
  {% include "app-garage-temp.html" %}
</div>
<div class="welcome world" id="world-div" {% if not display_garage %} style="display:none;" {% endif %}>
  {% include "app-world-temp.html" %}
</div>
{% endblock %}


{% block payment-templates %}
<!-- Put the payment stuff here -->
{% endblock %}