<div class="v1nav navbar logo-text navbar-inverse navbar-fixed-top ">
  <div class="hi4 navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li class="brand"><h1 class="name"><a id="main-menu">Appcubator</a></h1></li>
          <li class="pull-right login-btn" id="login-btn"><a href="#">Login</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>