{% extends "infra-html.html" %}

{% block less %}
<link rel="stylesheet/less" href="{{ STATIC_URL }}css/app/app.less">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/libs/fontselect/fontselect.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css" />
{% endblock %}

{% block css-files %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app/app.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app/editor/editor.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/libs/fontselect/fontselect.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css" />
{% endblock %}

{% block topbar %}
{% include "internal-menu.html" %}
{% endblock %}

{% block page %}
<div id="app-content">
{% include "app-navbar.html" %}
{% block app-content%}

{% endblock %}
</div>
{% endblock %}

{% block overlay-page %}
{% endblock %}


{% block payment-templates %}
<!-- Put the payment stuff here -->
{% endblock %}
