<div class="navbar" id="main-menu">
    <div class="large-header">
        <a href="/">
          <div id="box-container">
            <div id="cube" class="">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </a>
        <a href="/"><h1>Appcubator</h1></a>
    </div>
    <ul class="menu">
      <li id="menu-resources"><a href="/resources/">RESOURCES</a></li>
      <li id="menu-community"><a href="/community/">COMMUNITY</a></li>
      {% if user.is_authenticated %}
      <li><a href="/app/">GARAGE</a></li>
      <li><a href="#" class="account-icon"></a></li>
      {% else %}
      <li><a class="login-button" href="/login/">LOGIN</a></li>
      <li><a class="signup-button" href="/signup/">SIGNUP</a></li>
      {% endif %}      

    </ul>
</div>
    <ul class="account-dropdown-menu">
      <li>Account Settings</li>
      <li>Ask a Question</li>
      <hr>
      <li>Log Out (Ilter Canberk)</li>
    </ul>