{% extends "infra-out-html.html" %}

{% block css %}
<script type="text/javascript" src="https://platform.linkedin.com/in.js">
api_key: etouje3xl27v
scope: r_fullprofile r_emailaddress
</script>
<script type="text/javascript" src="//use.typekit.net/gyl1cyv.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home2.css">
{% endblock %}
{% block page %}
<div id="fb-root"></div>
<script>
</script>
{% include "website-leftpanel.html" %}

<div class="sliding-panel">
  <div class="slide-aboutus">
    <h4>Screencasts</h4>
    <ul class="screencasts">
      <li>
        <a class="picture" href="/resources/screencast/1/">
          <div class="layover">Watch now »</div>
          <img src="{{ STATIC_URL }}img/screencast1.png">
        </a>
        <div class="summary">
          <h3>Back to Basics</h3>
          <div>This screencast explains basics of Appcubator: getting started with an app and creating pages.</div>
          <a href="/resources/screencast/1/" class="btn btn-green hoff1" id="member">Watch Now »</a>
        </div>
      </li>
      <li>
        <a class="picture" href="/resources/screencast/2/">
          <div class="layover">Watch now »</div>
          <img src="{{ STATIC_URL }}img/screencast1.png">
        </a>
        <div class="summary">
          <h3>Making It Look Lively</h3>
          <div>This screencast explains pages in more detail, show how to make them more interactive and linked with each other.</div>
          <a href="/resources/screencast/2/" class="btn btn-green hoff1" id="member">Watch Now »</a>
        </div>
      </li>
    </ul>
    <h4>Example Apps</h4>
    <ul class="sample-apps">
      <li>
        <a class="picture" href="/resources/sample/1/">
          <div class="layover">Start now »</div>
          <img src="{{ STATIC_URL }}img/sampleapp1.png">
        </a>
        <div class="summary">
          <h3>StudyCloud</h3>
          <div>We broke down StudyCloud app into pieces and made videos explaining each piece.</div>
          <a href="/resources/sample/1/" class="btn btn-green hoff1" id="member">Start Now »</a>
        </div>
      </li>
    </ul>
    <h4>Documentation</h4>
    <div class="documentation">
    {% include "documentation/html/menu.html" %}
    </div>
    <h4>Advanced Guides</h4>
    <small>These are targeted for advanced users and developers. They're not required knowledge.</small>
    <ul class="guides">
      <li>
        <a href="/resources/designer-guide/">
          <div  class="picture">
            <img src="{{ STATIC_URL }}img/guide-icon.png">
          </div>
          <div class="summary">
            <h3>Designing Themes</h3>
            <div>This guide explains how to edit the theme of your application as well as creating new themes.</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  {% include "website-footer.html" %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" data-main="{{ STATIC_URL }}js/application/external-pages/website-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
