{% extends "website-resources-infra.html" %}
{% block content %}
<div class="centered-container">
<h4>StudyCloud</h4>
    <div class="explanation">Study cloud is a knowledge sharing platform for students. It let's students upload their study notes, and find notes uploaded by other students. It includes important functionalities such as file uploads and search.</div>
    <ul class="sample-apps parts">
        {% for part in parts %}
        {% include "website-resources-screencast-template.html" with sample_num="1" part_num=forloop.counter part_title=part.title part_description=part.description %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
