{% extends "infra-out-html.html" %}

{% block css %}
<script type="text/javascript" src="https://platform.linkedin.com/in.js">
api_key: etouje3xl27v
scope: r_fullprofile r_emailaddress
</script>
<script type="text/javascript" src="//use.typekit.net/gyl1cyv.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home2.css">
{% endblock %}
{% block page %}
<div id="fb-root"></div>
<script>
</script>
{% include "website-leftpanel.html" %}

<div class="sliding-panel">
  <div class="slide-aboutus">
    <h4>StudyCloud</h4>
    <div class="explanation">ghjkghjkghjkghjkfghjk</div>
    <ul class="sample-apps">
        <li>
          <a class="picture" href="/resources/sample/1/">
            <div class="layover">Start now »</div>
            <img src="{{ STATIC_URL }}img/sampleapp1.png">
          </a>
          <div class="summary">
            <h3>StudyCloud</h3>
            <div>We broke down StudyCloud app into pieces and made videos explaining each piece.</div>
            <a href="/resources/sample/1/" class="btn btn-green hoff1" id="member">Start Now »</a>
          </div>
        </li>
    </ul>
  </div>
  {% include "website-footer.html" %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" data-main="{{ STATIC_URL }}js/application/external-pages/website-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
<script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=145000778994158";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</script>
{% endblock %}
