{% extends "infra-website.html" %}
{% load threadedcomments_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/suggestions.css">
{% endblock %}

{% block page %}
<div class="sliding-panel">
{% include "website-navbar.html" %}


<h4 class="hoff6" style="border-bottom-width: 0;">{{ object.title }}</h4>

  <div class="slide container">
    {% get_comment_list for object as comment_list %}
    {% for suggestion in comment_list|fill_tree|annotate_tree %}
        {% ifchanged suggestion.parent_id %}{% else %}</li>{% endifchanged %}
        {% if not comment.open and not suggestion.close %}</li>{% endif %}
        {% if suggestion.open %}<ul>{% endif %}

        <li id="c{{ comment.id }}" class="main-suggestion">
          <div>{{ suggestion.comment }}</div>
          <div class="hi6 sub-comments">
            <div>Comment on it</div>
            {% render_comment_form for suggestion %}
          </div>
        </li>
        {% for close in suggestion.close %}</li></ul>{% endfor %}
    {% endfor %}
    {% get_comment_form for object as form %}
      <form action="{% comment_form_target for form %}" method="post">
          {% csrf_token %}
          {% for field in form %}
              {% if field.name == "name" %}
                  <input id="id_name" type="hidden" name="name" value="{{ user.username }}" />
                  <label>Posting as {{ user.username }}</label>
              {% elif field.name == "url" %}
                  <input id="id_url" type="hidden" name="url" value="" />
              {% elif field.name == "title" %}
                  <input id="id_title" type="hidden" name="title" value="" />
              {% elif field.name == "honeypot" %}
                  <input id="id_honeypot" type="hidden" name="honeypot" value="" />
              {% elif field.name  == "email" %}
                  <input type="hidden" name="email" value="{{ user.email }}" id="id_email" />
              {% else %}{{ field }}
              {% endif %}
          {% endfor %}    
          <input type="submit" class="btn" name="submit" value="Comment">
      </form>

  </div>


  {% include "website-footer.html" %}
</div>
{% endblock %}
