<script type="text/template" id="tutorial-intro">
  {% include "tutorial/html/intro.html" %}
</script>

<script type="text/template" id="tutorial-overview">
  {% include "tutorial/html/overview.html" %}
</script>

<script type="text/template" id="tutorial-app_info">
  {% include "tutorial/html/app-info.html" %}
</script>

<script type="text/template" id="tutorial-data_storage">
  {% include "tutorial/html/data-storage.html" %}
</script>

<script type="text/template" id="tutorial-data_storage-entity">
  {% include "tutorial/html/data-storage-entity.html" %}
</script>

<script type="text/template" id="tutorial-data_storage-user">
  {% include "tutorial/html/data-storage-user.html" %}
</script>

<script type="text/template" id="tutorial-data_storage-sample">
  {% include "tutorial/html/data-storage-sample.html" %}
</script>

<script type="text/template" id="tutorial-data_storage-upload">
  {% include "tutorial/html/data-storage-upload.html" %}
</script>

<script type="text/template" id="tutorial-themes_design">
  {% include "tutorial/html/themes-design.html" %}
</script>

<script type="text/template" id="tutorial-themes_design-existingdesign">
  {% include "tutorial/html/themes-design-existingdesign.html" %}
</script>

<script type="text/template" id="tutorial-pages">
  {% include "./tutorial/html/pages.html" %}
</script>

<script type="text/template" id="tutorial-pages-context">
  {% include "tutorial/html/pages-context.html" %}
</script>

<script type="text/template" id="tutorial-editor">
  {% include "tutorial/html/editor.html" %}
</script>

<script type="text/template" id="tutorial-editor-lists">
  {% include "tutorial/html/editor-lists.html" %}
</script>

<script type="text/template" id="tutorial-editor-forms">
  {% include "tutorial/html/editor-forms.html" %}
</script>

<script type="text/template" id="feedback-form-page">
  {% include "tutorial/html/feedback-form-page.html" %}
</script>
