{% extends "website-resources-infra.html" %}
{% block content %}
<div id="social-slides">
Loading slides...
</div>

{% endblock %}
{% block js %}
<script>
    var el = document.getElementById('social-slides');
    function SlideView(el) {
        this.el = el;
        var self = this;

        /* render */
        self.bindEvents = function () {
            // haha idk how to do self
            $('').bind('click', self.prevSlide);
        };
        self.render = function() {
            self.bindEvents();
            self.el.innerHTML = 'hi';
        };

        /* accessors */
        self.getIndexFromTextBox = function(){
            return 5;
        };
        self.getCurrentIndex = function(){
            return 8;
        };

        /* on-event callbacks */
        self.nextSlide = function(e){
            var i = self.getCurrentIndex();
            // validate i + 1
            self._jumpToSlide(i + 1);
        };

        self.prevSlide = function(e){
            // validate i - 1
            self._jumpToSlide(i - 1);
        };

        self.jumpToSlide = function(e) {
            var targetIndex = self.getIndexFromTextBox();
            // TODO validate
            self._jumpToSlide(targetIndex);
        };

        /* internal */
        self._jumpToSlide = function(i) {
            alert('Going to slide ' + i);
        };

        return self;
    }
    var sv = SlideView(el);
    sv.render();
</script>
{% endblock %}
