{% extends "website-tutorial-infra.html" %}

{% block tutorial-table-content %}
<li><a href="#what-section">What can you do with Custom Widgets?</a></li>
<li><a href="#howto-section">How to add Custom Widgets?</a></li>
<li><a href="#js-section">Adding JS</a></li>
<li><a href="#html-section">Adding HTML</a></li>
<li><a href="#css-section">Adding CSS</a></li>
<li><a href="#example-section">Example Uses</a></li>
{% endblock%}

{% block tutorial-content %}
<div class="section" id="what-section">
    <h4>What can you do with Custom Widgets?</h4>
    <p>Custom Widgets let's you everything that can be achieved with JS, CSS and HTML. There is no limit to it.</p> 
</div>
<div class="section" id="howto-section">
    <h4>How to add Custom Widgets?</h4>
    <p>Custom widgets let you freely add custom front-end code to your pages. It is on the gallery, under the Design Elements section</p>
    <p class="image"><img src="https://www.filepicker.io/api/file/Vm0su2zTAixmGqLPcmIZ"></p>
    <p>When it's dropped on the page, the Custom Widget Editor will show up. Alternatively, you can select it on the editor and click on "Edit Custom Widget" button.</p>
    <p class="image"><img src="https://www.filepicker.io/api/file/2gKdgDzKQmGrOczIk3UA"></p>
    <p>On the custom widget editor, there are three sections: JS, HTML and CSS. Each sections contains a code editor that should be used for adding the corresponding code. If there is an error in the code, the editor will not run it or render the HTML.</p>
</div>
<div class="section" id="js-section">
    <h5>Adding JS</h5>
    <p>You can write your Javascript in the corresponding text editor and it'll be added to your page automatically. Some points to bear in mind while writing Javascript on Appcubator:</p>
    <ul>
      <li>Two most popular libraries, jQuery and Underscore are already included in the page. So you don't need to include them again and bloat your code. You can just start using <strong>$</strong> or <strong>_</strong> in your code.</li>
      <li>JS for each Custom Widget is executed in it's own scope. This means that you can not write two different custom widgets JS interfacing with each other. On the other hand, you are free to interface with DOM elements</li>
    </ul>
</div>
<div class="section" id="addinguielement-section">
      <h5>Adding HTML</h5>
      <p>You can write you HTML in the corresponding text editor and it'll be rendered on your page when you close the editor. The custom HTML is rendered inside a div with widht and height defined by Appcubator's grid system. So if you just want to utilize editor's resizing/moving abilities, you should style your outer element with <code>width:100%</code> and <code>height:100%</code></p>
</div>
<div class="section" id="customfonts-section">
      <h6>Adding CSS</h6>
      <p>You can easily add CSS to style your existing elements or custom HTML you just wrote using Custom Widget. The only limitation right now is that the "position:fixed;" will not work accuratly. We're working on getting around that limitation</p>
</div>
<div class="section" id="addimages-section">
      <h5>Example Uses</h5>
      <h6>Getting Fancy With CSS</h6>
      <p>We will add a jQuery plug.</p>
      <p class="image">
        Press Cmd+C or Ctrl+C when you see the prompt below, and you can use it anywhere in your CSS by pasting it. It'll be available everywhere. 
        <img src="https://www.filepicker.io/api/file/lh99JrOuRmSMtPRQHrBB
        ">
      </p>
      <h6>Example Uses</h6>
      <p>We will add a jQuery plug.</p>
      <p class="image">
        Press Cmd+C or Ctrl+C when you see the prompt below, and you can use it anywhere in your CSS by pasting it. It'll be available everywhere. 
        <img src="https://www.filepicker.io/api/file/lh99JrOuRmSMtPRQHrBB
        ">
      </p>
</div>
    <hr>
    <div class="feed">
      <p>Please don't hesitate to ask your questions or comment below. We'll answer as soon as possible!</p>
      <div class="fb-comments" data-href="http://appcubator.com/resources/designer-guide/" data-width="600"></div>
      <div id="fb-root"></div>
    </div>
{% endblock %}
