{% extends "website-tutorial-infra.html" %}

{% block tutorial-table-content %}
<li><a href="#screencasts-section">Screencasts</a></li>
<li><a href="#exampleapps-section">Example Apps</a></li>
<li><a href="#guides-section">Guides</a></li>
{% endblock %}

{% block tutorial-content %}
    <div class="centered-container section" id="screencasts-section" style="">
      <h4>Screencasts</h4>
      <p>We broke down <a href="http://studycloud.appcubator.com" target="_blank">StudyCloud</a> app into pieces and made screencasts explaining each piece.</p>
      <ul class="screencasts">
        {% for part in parts %}
        {% include "website-resources-screencast-template.html" with sample_num="1" part_num=forloop.counter part_title=part.title part_description=part.description %}
        {% endfor %}
      </ul>
    </div>
    <div class="centered-container section" id="exampleapps-section">
      <h4>Example Apps</h4>
      <ul class="sample-apps">
        <li>
          <a href="/resources/tutorial/build-social-network">
            <div  class="picture">
              <img src="{{ STATIC_URL }}img/guide-icon.png">
            </div>
            <div class="summary">
              <h3>Building a Social Network</h3>
              <div>This guide explains how to build a social network using Appcubator.</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="centered-container section" id="guides-section">
      <h4>Tutorials and Guides</h4>
<!--       <small>These are targeted for advanced users and developers. They're not required knowledge.</small>
 -->      
      <ul class="guides">
        <li>
          <a href="/resources/designer-guide/">
            <div  class="picture">
              <img src="{{ STATIC_URL }}img/guide-icon.png">
            </div>
            <div class="summary">
              <h3>Designing Themes</h3>
              <div>This guide explains how to edit the theme of your application as well as creating new themes.</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
{% endblock %}
