{% extends "website-tutorial-infra.html" %}

{% block tutorial-table-content %}
<li><a href="#what-section">What can you do with Custom Widgets?</a></li>
<li><a href="#howto-section">How to add Custom Widgets?</a></li>
<li><a href="#js-section">Adding JS</a></li>
<li><a href="#html-section">Adding HTML</a></li>
<li><a href="#css-section">Adding CSS</a></li>
<li><a href="#example-section">Example Uses</a></li>
{% endblock%}

{% block tutorial-content %}
<div class="section" id="what-section">
    <h4>What can you do with Custom Widgets?</h4>
    <p>Custom Widgets let's you everything that can be achieved with JS, CSS and HTML. There is no limit to it.</p> 
</div>
<div class="section" id="howto-section">
    <h4>How to add Custom Widgets?</h4>
    <p>Custom widgets let you freely add custom front-end code to your pages. It is on the gallery, under the Design Elements section</p>
    <p class="image"><img src="https://www.filepicker.io/api/file/Vm0su2zTAixmGqLPcmIZ"></p>
    <p>When it's dropped on the page, the Custom Widget Editor will show up. Alternatively, you can select it on the editor and click on "Edit Custom Widget" button.</p>
    <p class="image"><img src="https://www.filepicker.io/api/file/2gKdgDzKQmGrOczIk3UA"></p>
    <p>On the custom widget editor, there are three sections: JS, HTML and CSS. Each sections contains a code editor that should be used for adding the corresponding code. If there is an error in the code, the editor will not run it or render the HTML.</p>
</div>
<div class="section" id="js-section">
    <h5>Adding JS</h5>
    <p>You can write your Javascript in the corresponding text editor and it'll be added to your page automatically. Some points to bear in mind while writing Javascript on Appcubator:</p>
    <ul>
      <li>Two most popular libraries, jQuery and Underscore are already included in the page. So you don't need to include them again and bloat your code. You can just start using <strong>$</strong> or <strong>_</strong> in your code.</li>
      <li>JS for each Custom Widget is executed in it's own scope. This means that you can not write two different custom widgets JS interfacing with each other. On the other hand, you are free to interface with DOM elements</li>
    </ul>
</div>
<div class="section" id="html-section">
      <h5>Adding HTML</h5>
      <p>You can write you HTML in the corresponding text editor and it'll be rendered on your page when you close the editor. The custom HTML is rendered inside a div with widht and height defined by Appcubator's grid system. So if you just want to utilize editor's resizing/moving abilities, you should style your outer element with <code>width:100%</code> and <code>height:100%</code></p>
</div>
<div class="section" id="css-section">
      <h6>Adding CSS</h6>
      <p>You can easily add CSS to style your existing elements or custom HTML you just wrote using Custom Widget. The only limitation right now is that the "position:fixed;" will not work accuratly. We're working on getting around that limitation</p>
</div>
<div class="section" id="example-section">
      <h5>Example Uses</h5>
      <h6>Getting Fancy With CSS</h6>
      <p>We will be adding a *pretty* complicated piece of widget in this example, taken from <a href="http://codepen.io">Codepen</a>. It is simply achieved by copy-pasting the CSS, HTML, and JS respectively to the related text boxes. The link is below</p>
      <div class="hi5">
        <a href="http://team-customwidgets.appcubator.com/ClothingExample/" target="_blank" class="fancy hoff2 span16" style="display:block;">
          Tear-able Clothing Example
        </a>
      </div>
      <br>
      <div>
        <p class="image">
          Custom Widget Editor
          <img src="https://www.filepicker.io/api/file/RlI2ug8oTx6SK6k0Jrmf
          ">
        </p>
      </div>
      <h6>Adding a jQuery plugin</h6>
      <p>We will add a jQuery plugin to make our textareas WYSIYG in this example. The plugin we'll use is called jgte(<a href="http://jqueryte.com/">http://jqueryte.com/</a>).</p>
      <p class="image">
        We're adding a simple feedback form on our page first.
        <img src="https://www.filepicker.io/api/file/RHIjT0idTaaHX8H9Q6XO">
      </p>
      <p>Then we're dropping a Custom Widget to the page and copy paste the Javascript and CSS from the library.</p>
      <p class="image">
        We're adding a simple feedback form on our page first.
        <img src="https://www.filepicker.io/api/file/YP54wA3DQ3WnBk1V8JZ7">
      </p>
      <p>After that, we're adding <code> $("textarea").jqte();</code> in the JS editor, after the library code.</p>
      <p>And, our textareas are fancy now! Check it out at the link below.</p>
      <div class="hi7">
        <a href="http://team-customwidgets.appcubator.com/Feedback/" target="_blank" class="fancy hoff2 span28" style="display:block; margin-bottom:30px;">http://team-customwidgets.appcubator.com/Feedback/</a>
      </div>
</div>
    <hr style="display:block;">
    <div class="feed">
      <p>Please don't hesitate to ask your questions or comment below. We'll answer as soon as possible!</p>
      <div class="fb-comments" data-href="http://appcubator.com/resources/designer-guide/" data-width="600"></div>
      <div id="fb-root"></div>
    </div>
{% endblock %}
