{% extends "website-resources-infra.html" %}
{% block content %}
<style>
.social-network-tut h4, .social-network-tut h5 {
    margin-bottom: 20px;
}
.social-network-tut .intro-wrapper {
    display: inline-block;
    width: 560px;
    margin-left: 80px;
}
.social-network-tut .nav-wrapper {
    display: inline-block;
    width: 160px;
    vertical-align: top;
    margin-left: 140px;
    margin-top: 60px;
}
.social-network-tut .nav-wrapper ol {
    list-style-type: decimal;
    list-style-position: inside;
    background-color:#FFF;
    padding: 20px;
    line-height: 1.5em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #DDD;
}
.tutorial-section {
    min-width: 714px;
    width: 80%;
    border: 1px solid red;
    margin: 20px;
    overflow: hidden; /* onload, hide the overflowing bootstrapped slides */
}
.slide-view * {
    border: black 1px solid;
}
.slide-view .slides-wrap {
    height: 350px;
    width: 710px;
    display: inline-block;
}
.slide-view .slide-container {
    height: 100%;
}
.slide-view .slide-container .slide-image {
    display: inline-block;
    position: relative;
    height: 100%;
    width:500px;
    background-size: 100% auto;
}
.slide-view .slide-container .slide-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    color: white; /* what will be visible on slides? */
}
.slide-view .slide-container .slide-panel {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 100%;
    position: relative;
}
.slide-view .nav-section {
    height: 50px;
    width: 204px;
    display: inline-block;
    position: absolute;
    bottom: 0;
}
.slide-view .arrow-wrap {
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
}
.slide-view .arrow-wrap:hover {
    cursor: pointer;
}
.slide-view .goto-slide-wrap {
    display: inline-block;
    vertical-align: top;
    width: 100px;
}
</style>
<div class="centered-container social-network-tut">
    <h4>Tutorial - Building a social network</h4>
    <div class="intro-wrapper">
        <p>In this tutorial, we'll build a fairly standard social network, demoed here:
        <br>
        <br>
        <a href="http://book-face.appcubator.com/">book-face.appcubator.com</a>
        <br>
        <br>
        <p>We'll do all of this without writing code, and in the end, you'll be able to download the frontend and backend code for the web app.</p>
        <br>
        <br>
        <p>End result:</p>
        <a href="http://book-face.appcubator.com/" target="_blank">
             <img src="https://www.filepicker.io/api/file/qm5fTBFDTKSQZhpoJqO7">
        </a>
    </div>
    <div class="nav-wrapper">
        <ol>
            <h3>Overview</h3>
            <a><li>User Profiles</li></a>
            <a><li>Wall Posts</li></a>
            <a><li>Friendships</li></a>
        </ol>
    </div>
</div>
<div class="centered-container">
    <h5>User Profiles</h5>
    {% include "website-resources-tutorial-section.html" with data=tut_img_dict.profile id="social-slides-profiles" %}
</div>
<div class="centered-container">
    <h5>Wall posts</h5>
    {% include "website-resources-tutorial-section.html" with data=tut_img_dict.profile id="social-slides-posts" %}
</div>
<div class="centered-container">
    <h5>Friendships</h5>
    {% include "website-resources-tutorial-section.html" with data=tut_img_dict.profile id="social-slides-friendships" %}
</div>

{% endblock %}
