<div class="navbar">
  <div class="centered-container">
    <div class="large-header">
        <a href="/">
          <div id="box-container">
            <div id="cube" class="">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </a>
        <a href="/"><h1>Appcubator</h1></a>
    </div>
    <ul class="menu">
      <li><a href="/resources/">EXAMPLES</a></li>
      <li><a href="/community/">COMMUNITY</a></li>
      <li><a href="/login/">LOGIN</a></li>
      <li class="signup-button">SIGNUP</li>
    </ul>
  </div>
</div>