{% extends "infra-out-html.html" %}

{% block css %}
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
api_key: t0q97cjtk5kf
scope: r_fullprofile r_emailaddress
</script>
<script type="text/javascript" src="//use.typekit.net/gyl1cyv.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css">
{% endblock %}
{% block page %}
<div id="fb-root"></div>
<script>
</script>
{% include "website-leftpanel.html" %}

<div class="sliding-panel">
  <div class="slide-aboutus">
    <h3>About Us</h3>
    <div class="">
      <p>Web applications have come increasingly important, but they are not necessarily easier to build. For every executed web application, there are thousands of great ideas abandoned. Labeled as too complex, they are left to the specialists: the programmers and developers.  We saw that it was necessary to bridge this gap and created Appcubator to democratize software development.</p><br  />
       
      <p>Our product is not just for the aspiring MBA student who has a great startup idea; it’s for everyone, from the high school student who wants to build a marketplace for his school, to the developer who wants to reduce his build time.</p><br  />
       
      <p>Appcubator’s mission is to empower creative people with great ideas to build great things. Our approach is to built software with an intuitive, visual web platform that makes it effortless to code your own user-centric web application.</p><br  />
      <p class="quote">Simple things should be simple, complex things should be possible.<br  />- Alan Kay</p>
    </div>
    <h3>Team</h3>
    <div class="people">
      <div class="person">
        <div class="peep">
          <img src="{{ STATIC_URL }}img/pp/ilter.jpg">
        </div>
        <p>Ilter Canberk</p>
        <span class="bio">
          Ilter works on perfecting the user experience at Appcubator. Previously, Ilter interned at Facebook as a Mobile UI Engineer, where he focused on the Facebook app for iOS 5.0. He studied electrical and computer engineering at Carnegie Mellon University. Ilter is an endorsed coffee aficionado.
        </span>
      </div>

      <div class="person">
        <div class="peep">
          <img class="karan" src="{{ STATIC_URL }}img/pp/karan.jpg">
        </div>
        <p>Karan Sikka</p>
        <span class="bio">
          Karan works on the back-end magic at Appcubator. Previously, Karan was a computer programmer at a search engine company called Quixey, where he helped improve search relevance. He studied computer science and computational biology at Carnegie Mellon University. Karan holds the Appcubator team record for pullups.
        </span>
      </div>
      <div class="person">
        <div class="peep">
          <img class="nikhil" src="{{ STATIC_URL }}img/pp/nikhil.jpg">
        </div>
        <p>Nikhil Khadke</p>
        <span class="bio">
          Nikhil works on the back-end magic at Appcubator. Previously, Nikhil worked on large scale system infrastructure projects at Google and Yahoo. Nikhil has a bachelor’s degree in computer science from Carnegie Mellon University and is pursuing a masters of computer science from Stanford University. Nikhil is planning on running tough mudder, our thoughts and prayers are with him.
        </span>
      </div>

      <div class="person">
        <div class="peep">
          <img class="kedar" src="{{ STATIC_URL }}img/pp/kedar.jpg">
        </div>
        <p>Kedar Amladi</p>
        <span class="bio">
          Kedar works on the front end design at Appcubator. Previously, Kedar has experience in web development in freelance and startup environments, with expertise in JavaScript and Python. Kedar studied electrical and computer engineering at Carnegie Mellon University. In his spare time, Kedar studies the art of dog breeding.
        </span>
      </div>

      <div class="person">
        <div class="peep">
          <img class="sagar" src="{{ STATIC_URL }}img/pp/sagar.jpg">
        </div>
        <p>Sagar Rambhia</p>
        <span class="bio">
          Sagar is Appcubator’s non-technical hire working on the business model. Previously, Sagar held business roles in startup environments. Sagar studied Biochemistry at Case Western Reserve University and will attend Case Western Reserve University School of Medicine. Sagar is ethnically intrigued with Eastern Asia.
        </span>
      </div>

      <span class="perm-bio">
        Appcubator emphasizes family values. We are a diverse team who keep it up 24/7. Chill people to give you a chill interface, so you can enjoy the app building process. This is science.
      </span>
    </div>
    <h3>Contact</h3>
    <div>You can contact us at <strong><a href="#">team@appcubator.com</a></strong></div>
    <h3>Backed By</h3>
    <div class="backed-by"><img src="{{ STATIC_URL }}img/yc-logo.gif"><br  /><img class="startx" src="{{ STATIC_URL }}img/startx-logo.png"></div>
  </div>
  <div class="footer">
   <span>Appcubator © 2013</span> • <a href="/aboutus">About Us</a> • <a href="/termsofservice">Privacy</a>
 </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" data-main="{{ STATIC_URL }}js/application/external-pages/website-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
