{% extends "infra-out-html.html" %}

{% block css %}
<script type="text/javascript" src="https://platform.linkedin.com/in.js">
api_key: etouje3xl27v
scope: r_fullprofile r_emailaddress
</script>
<script type="text/javascript" src="//use.typekit.net/gyl1cyv.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home3.css">
{% endblock %}
{% block page %}
<div id="fb-root"></div>
<script>
</script>
{% include "website-navbar.html" %}

<div class="sliding-panel">
  <div class="slide slide-intro">
    <div class="blue-bar community">
      <div class="large-text">
        Community.
      </div>
      <div class="icon-menu">
        <a class="item" href="/community/">
          <img src="{{ STATIC_URL}}img/featured.png">
          <span>Featured Apps</span>
        </a>
        <a class="item" href="/community/faq/">
          <img src="{{ STATIC_URL}}img/faq.png">
          <span>Frequently Asked Questions</span>
        </a>
        <a class="item" onclick="javascript:olark('api.box.show'); olark('api.box.expand');">
          <img src="{{ STATIC_URL}}img/chat.png">
          <span>Chat With Us</span>
        </a>
      </div>
    </div>
  </div>
  <div class="slide-info slide">
    <div class="row">
      <div class="centered-container">
        <h2>Skiboa</h2>
        <div class="info">
          <p>Skiboa is a site where skiers and snowboarders can compare the prices of season passes and lift tickets across all major Lake Tahoe ski resorts.</p>
          <p>Every year, hundreds of thousands of people flock to Lake Tahoe to tear it up on the slope, but how do they choose which resort to go to? They have to go on every ski resorts web page, compare the pricing of all of them side by side, read the yelp reviews, and hours get wasted.</p>
          <p>Skiboa is the first site to aggregate the pricing and deals from all the major Lake Tahoe Ski Resorts into one place where you can conveniently compare across resorts. Amber has frequented the Lake Tahoe resorts and goes snowboarding several times a year, and she’s dedicated to providing the most accurate and comprehensive data she can gets her hands on.</p>
        </div>
        <div class="screen no-bg">
          <div class="gif-wrapper">
          <img src="{{ STATIC_URL }}img/skiboa.gif">
          </div>
          <a href="http://www.skiboa.com" target="_blank">http://www.skiboa.com</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="centered-container">
        <h3>Want your app to be featured here? Please reach us at team@appcubator.com</h3>
      </div>
    </div>
  </div>
  {% include "website-footer.html" %}
</div>
{% endblock %}

{% block js %}

<script data-main="{{ STATIC_URL }}js/application/website/main2" src="{{ STATIC_URL }}js/libs/require.js"></script>
<script type="text/template" id="temp-inviteform">
    <form class="sign-up-form" id="sign-up-form">
      <div class="left-side">
        <input type="text" name="name" id="inp-name" placeholder="Full Name">
        <input type="text" name="email" id="inp-email" placeholder="Email">
        <input type="text" name="company" id="inp-company" placeholder="Company">
        <input type="hidden" name="extra-info" id="inp-extra" value="-">
        <hr>
        <div class="btn btn-blue btn-facebook">Fill With Facebook</div>
        <div class="btn btn-blue btn-linkedin">Fill With LinkedIn</div>
        <% print('<sc'+'ript type="IN/Login"></sc'+'ript>') %>
      </div>
      <div class="right-side">
        <textarea name="description" id="inp-description" placeholder="Technical description of your application. This is for us to attain the feasibility of the project to best direct you. It's totally fine if you just want to check it out."></textarea>
        <input type="checkbox" id="inp-interest" data-label="I'm also interested in the <span id='s-session'>Head Start</span> session.">
        <input type="submit" class="btn btn-blue" id="sign-up" value="Sign Me Up »">
      </div>
    </form>
    <div class="thanks-for-signing" style="display:none;">
      <p>Thank you for signing up!</p>
      <p>Someone from our team will contact you for details and further steps very soon.</p>
      <div class="social-share">
        <span>In the meantime, you can let your friends know about Appcubator!</span>
        <div class="fb-share">
          <div class="fb-like" data-href="http://www.appcubator.com" data-send="false" data-width="160" data-show-faces="true" data-font="segoe ui"></div>
        </div>
        <div class="twitter-share">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.appcubator.com" data-via="appcubator">Tweet</a>
          <% print('<sc'+'ript>'); %> <% print('</sc'+'ript>'); %>
        </div>
      </div>
    </div>
</script>
{% endblock %}
