{% extends "infra-website.html" %}

{% block page %}
{% include "website-navbar.html" %}
<div class="sub-navbar">
  <div class="centered-container">
    <ul>
      <li><a href="#features-section">Features</a></li>
      <li><a href="#featured-apps-section">Examples</a></li>
      <li><a href="#pricing-section">Pricing</a></li>
    </ul>
  </div>
</div>

<div class="sliding-panel">
  <div class="slide slide-intro full">
    <div class="blue-bar">
      <div class="large-text">
        The Easiest Way to Build Web Apps
      </div>
      <div class="sub-text">
       The only visual tool that builds and hosts full stack web apps, backed by developer-friendly code.
      </div>
      <!--<a class="white-btn" href="/resources/editor/" rel="external" target="_blank">Take a Quick Tour</a>-->
      <div class="video lil-box" id="video-box"><video height="210" id="videotc" controls>
          <sourc type='video/mp4; codecs="H.264, AAC"'>
      </video></div>
      <div class="quick-tour lil-box">
          <a class="white-btn" href="/resources/editor/" rel="external" target="_blank">Take a Quick Tour</a>
          <p class="sub-text">Preview Appcubator before <a class="signup-button underline" href="">signing up</a>.</p>
      </div>
      <a class="white-btn hidden signup-button" href="/signup/" rel="external" style="display:none;">Signup Now</a>
      <div class="lil-box" style="width:50px;"></div>
    </div>
    <div class="three-div">
      <div class="left view">
        <span>Front-end</span>
        <a href="#"><img src="{{ STATIC_URL }}img/imagine-blue.png"></a>
        <span class="explanation">Visual editor for extremely fast prototyping.</span>
      </div>
      <span class="three-dots no-mobile">
        <span class="dot">·</span>
        <span class="dot">·</span>
        <span class="dot">·</span>
      </span>
      <div class="middle view">
        <span>Back-end</span>
        <a href="#"><img src="{{ STATIC_URL }}img/build-blue.png"></a>
        <span class="explanation">Relational database for dynamic web apps.</span>
      </div>
      <span class="arrow no-mobile">
        <span>»</span>
      </span>
      <div class="right view">
        <span>Instantly Live</span>
        <a href="#"><img src="{{ STATIC_URL }}img/publish-blue.png"></a>
        <span class="explanation">Instant hosting, downloadable code.</span>
      </div>
      <span class="scroll-down-note no-mobile">
        <span>Scroll down to learn more.</span>
      </span>
    </div>
  </div>
  <div class="slide-info slide section" id="features-section">
    <div class="row">
      <div class="centered-container">
        <h2>Craft elegant, fully-functional prototypes</h2>
        <h6>Interactive drag and drop page builder for happy designing. No hassle hosting. No experience required.</h6>
        <div class="half-left">
          <div class="screen no-bg">
            <div class="gif-wrapper">
            <img src="{{ STATIC_URL }}img/imagine3.gif">
            </div>
          </div>
        </div>
        <div class="half-right right-el">
          <div class="info">
            <h3>Design</h3>
            <ul>
                <li>Try on different styles with Designer Themes</li>
                <li>Upload and freely position your own images</li>
            </ul>
            <h3>Functionality</h3>
            <ul>
              <li>Ship User Authentication without writing code</li>
              <li>Create a custom relational database schema</li>
              <li>Get common forms and relational DB queries</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="centered-container">
        <h2>Generate industry-standard code</h2>
        <h6>We generate code backed by popular open-source frameworks, so your work is always portable.</h6>
        <div class="half-right padding-top">
          <div class="info">
            <div>
              <h3>Modify</h3>
              <ul>
                <li>Customize the CSS styles of UI Elements</li>
                <li>Write HTML, CSS, and Javascript to create custom UIs</li>
              </ul>
              <h3>Download</h3>
              <ul>
                <li>Download your fully-customizable Python/Django code</li>
                <li>Host your portable application anywhere</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="half-left">
          <div class="screen no-bg">
            <div class="gif-wrapper">
            <img src="{{ STATIC_URL }}img/build.gif">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide slide-gallery section" id="featured-apps-section">
    <div class="row">
      <div class="centered-container">
        <h2>With Appcubator, you can build...</h2>
        <div class="gallery">
          <ul>
            <style>
              .gallery .content .description {
                font-size: 16px; 
                margin-bottom: 0;
              }
              .gallery .content .occupation {
                font-size: 13px;
              }
            </style>
            <a href="/community/" target="_blank">
              <li>
                <div class="content">
                  <span class="title">T15</span>
                  <div class="screenshot"><img src="{{STATIC_URL}}img/app1.png"></div>
                  <p class="description">A private social network</p>
                  <p class="author">Built by Moises Morgenstern, <span class="occupation">an MBA student.</span></p>
                </div>
              </li>
            </a><a href="/community/#stonehill-payroll" target="_blank">
              <li>
                <div class="content">
                  <span class="title">Payroll</span>
                  <div class="screenshot"><img src="{{STATIC_URL}}img/app2.png"></div>
                  <p class="description">A payroll management system.</p>
                  <p class="author">Built by Jacob Buckman, <span class="occupation">a college freshman.</span></p>
                </div>
              </li>
            </a><a href="/community/" target="_blank">
              <li>
                <div class="content">
                  <span class="title">StudyCloud</span>
                  <div class="screenshot"><img src="{{STATIC_URL}}img/app3.png"></div>
                  <p class="description">A university note-sharing platform.</p>
                  <p class="author">Built by Pooja Rambhia, <span class="occupation">a medical student.</span></p>
                </div>
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-last section" id="pricing-section">
    <div class="centered-container">
      <div class="large-container">
            <h2>Pricing</h2>
            <ul class="pricing">
<li class="free">
                <span class="title free">Free forever to build</span>
                <span class="content">
                  <p>It's free to sign up, explore and build your app for as long as you want.</p>
                  <p class="includes"> Includes 24 hour support, unlimited *.appcubator.com domains, design themes and service integrations.</p>
                </span>
                <span class="price">Free</span>
              </li>
              <li class="mobile">
                <span class="title">Production Plan</span>
                <span class="content">
                  <p>Ability to add custom domain to your app, official support from Appcubator and guaranteed response time of 12 hours.</p>
                  <p class="includes"> Includes custom domain and branding, analytics to your site, more scalable infrastructure, and a free domain as well as everything on the free plan.</p>
                </span>
                <span class="price"><i class="small">$</i>35<i class="small">/mo</i></span>
              </li>
              <li class="session">
                <span class="title">Head Start</span>
                <span class="content">
                  <p>Short on time? We are happy to help. You'll get a video call with someone from our team where we will build your application and teach you how to use Appcubator for further iterations.</p>
                  <p class="includes"> Includes ~2 hours private video call or Skype session with someone from Appcubator team.</p>
                </span>
                <span class="price"><i class="small">$</i>480</span>
              </li>
            </ul>
      </div>
      <div class="right-container">
        <a class="btn btn-blue hoff1 signup-button request-invite" href="/signup/">Signup Now</a>
        <ul>
          <li><a href="/developer/"><i>></i>Why should you use it if you are an experienced developer?</a></li>
        </ul>     
        <div class="fb-like-box" data-href="http://www.facebook.com/appcubator" data-width="300" data-height="240" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>   
      </div>
    </div>

  </div>
  {% include "website-footer.html" %}
</div>
{% endblock %}

{% block js %}
<!--<script src="//cdn.optimizely.com/js/312473184.js"></script>-->
<script data-main="{{ STATIC_URL }}js/application/website/main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
