{% extends "website-tutorial-infra.html" %}

{% block css %}
<style>
.social-network-tut h4, .social-network-tut h5 {
    margin-bottom: 20px;
}
.social-network-tut .intro-wrapper {
    position: relative;
    left: 0;
    top: 0;
    margin-left: 220px;
    display: block;
    vertical-align: top;
    padding: 30px;
}

a.fancy {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 12px;
    border-radius: 4px;
}

ol.nav-wrapper,
ul.nav-wrapper {
    display: inline-block;
    float: left;
    margin-top: 30px;
    border-radius: 4px;
    width: 200px;
    list-style-type: decimal;
    list-style-position: inside;
    background-color:#FFF;
    padding: 20px;
    line-height: 1.5em;
    border: 1px solid #DDD;
    vertical-align: top;
}
.tutorial-section {
    min-width: 714px;
    width: 100%;
    margin: 20px;
    overflow: hidden; /* onload, hide the overflowing bootstrapped slides */
}

.slide-view .slides-wrap {
    display: block;
}
.slide-view .slide-nav-wrap {
    display: inline-block;
    vertical-align: top;
    width: 100px;
}
.slide-view .slide-container {
    height: 100%;
}
.slide-view .slide-container .slide-image {
    display: block;
    position: relative;
    height: 420px;
    width:100%;
    background-size: 108% auto;
    background-position: top center;
}
.slide-view .slide-container .slide-overlay-text {
    position: absolute;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    min-height: 60px;
    padding: 15px;
    bottom: 0;
    left: 0;
    margin: 0;
    color: white; /* what will be visible on slides? */
}
.slide-view .slide-container .slide-panel {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    position: relative;
}
.slide-view .nav-section {
    height: 50px;
    width: 100%;
    display: block;
    margin-top: 10px;
}

.slide-view .nav-section .nav-arrows {
    float: right;
}

.slide-view .arrow-wrap {
    height: 50px;
    width: 50px;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    color: #0f2d40;
}
.slide-view .arrow-wrap:hover {
    cursor: pointer;
}
.slide-view .goto-slide-wrap {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 45px;
    line-height: 45px;
}

.slide-view .goto-slide-wrap span {
    vertical-align: top;
}

.slide-view .goto-slide-input {
    height: 45px;
}

.slide-view .slide-nav-wrap a.selected {
    font-weight: bold;
    text-decoration: underline;
}

h5 { position: relative; }
h5 a {
    position: absolute;
    top: -90px; /* because of the fixed navbar */
}
</style>
{% endblock %}

{% block tutorial-table-content %}
<li><a href="#overview-section">Overview</a></li>
<li><a href="#download-section">Download code</a></li>
<li><a href="#setup-section">Setup Heroku</a></li>
<li><a href="#push-section">Push your code</a></li>
<li><a href="#tips-section">Heroku Tips</a></li>
{% endblock %}

{% block tutorial-content %}
<div class="section" id="overview-section">
    <h4>Tutorial - Deploying to Heroku</h4>
    <div class="intro-wrapper">
        <p>Heroku (pronounced her-OH-koo) is a way of easily running web apps on servers in the cloud. You can use it while developing or in production.</p>
        <p>Appcubator-generated Django apps are preconfigured to run on Heroku, so you can get up and running quickly.</p>

        <p>To get started you should first <a href="https://id.heroku.com/signup/www-header" target="_blank">signup for Heroku</a> and <a href="https://toolbelt.heroku.com/">install the Heroku Toolbelt</a>.
           Once this is done, you can follow this tutorial to get your application up and running on Heroku.</p>
    </div>
</div>
{# These names should also be in SLIDEVIEWSLUGS #}
<div class="section" id="download-section">
    <h5>1. Download your code<a name="user-profiles"></a></h5>
    <p>Download your code from the Appcubator Overview page. If you know how to use git, just clone the repo. If not, don't worry, just download and extract the zip to a folder of your choice.</p>
    <p>
        We'll refer to the path to your app as the app's directory. An example for Mac:
        <pre><code>/Users/appcubator/Projects/appcubator-bookface</code></pre>
        A Windows example:
        <pre><code>C:\Users\Appcubator\Projects\appcubator-bookface</code></pre>
    </p>
    <p>In your terminal/command-line, <code>cd</code> into your app's directory and continue to the next step.</p>
</div>
<div class="section" id="setup-section">
    <h5>2. Setup Git and Heroku<a name="user-profiles"></a></h5>
    <p>Now that you've downloaded your code, we'll get it setup for running on Heroku.</p>
    <p>First, make a git repository (if you didn't already) by running <code>git init .</code> in your app's directory.</p>
    <p>Then, open the <code>requirements.txt</code> file and uncomment the lines as specified in the file.</p>
    <p>Then run <code>heroku create [desired subdomain]</code>, and if you set up heroku correctly before, you should see some output like this:
    <pre><samp>$ heroku create appcubator-bookface
Creating appcubator-bookface... done, stack is cedar
http://appcubator-bookface.herokuapp.com/ | git@heroku.com:appcubator-bookface.git
</samp></pre></p>
    <p>Now configure heroku to use the special heroku settings provided by Appcubator.</p>
    <pre><code>$ heroku config:set DJANGO_SETTINGS_MODULE=settings.heroku</code></pre>
    <p>At this point you should have Heroku configured to use the settings file at <code>settings/heroku.py</code></p>
    <p><em>Technical detail:</em> When you push this code in the next step, Heroku will first see that you have a requirements.txt file, install the required software, then run the command in the Procfile which will start the web server.</p>
</div>
<div class="section" id="push-section">
    <h5>3. Push code to Heroku (first time)<a name="user-profiles"></a></h5>
    <p>If you haven't done so already, add all your files to the git repository:</p>
    <pre><code>git add .
git commit -am "first commit"</code></pre>
    <p>Now, let's push the code to heroku and initialize the database.</p>
    <pre><code>$ git push heroku master</code></pre>
    <p>The first time you do this, you should see a very long output. It means that Heroku is installing the required software for your app, which is good.</p>
    <p>To set up the database:</p>
    <pre><code>$ heroku run python manage.py syncdb --noinput
$ heroku run python manage.py migrate</code></pre>
    <p>At this point, your code is hosted on heroku's servers, required software packages are installed, and your database is setup. Put more simply, your app is live and ready to go! Here's a convenient way to go the URL in your browser:</p>
    <pre><code>$ heroku open</code></pre>
    <p><em>Technical detail:</em> Heroku provides apps with a <a href="http://www.postgresql.org/" target="_blank">Postgres database</a></p>
</div>
<div class="section" id="tips-section">
    <h5>4. General tips while using Heroku<a name="user-profiles"></a></h5>
    <p>To see your application's log output on Heroku, use the following command:</p>
    <pre><code>$ heroku logs --tail</code></pre>
</div>
{# include "website-resources-tutorial-section.html" with data=tut_imgs.0 id="social-slides-profiles" #}

{% endblock %}


{% block js %}
{{ block.super }}
<script type="text/javascript">
var SLIDEVIEWSLUGS = ["user-profiles"];
</script>
{% endblock %}
