{% extends "infra-html.html" %}
{% load embed_json %}
{% block css %}
<link type="text/css" href="/app/0/uiestate.less" id="css-uiestate" rel="stylesheet"/>
<link type="text/css" href="/app/0/mobile_uiestate.less" id="css-mobile-uiestate" rel="stylesheet"/>
{% endblock %}

{% block less %}
<link rel="stylesheet/less" href="{{ STATIC_URL }}css/app/editor/editor.less">
{% endblock %}
{% block css-files %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app/editor/editor.css">
{% endblock %}


{% block topbar %}
{% include "app-navbar.html" %}
{% endblock %}

{% block overlay-page %}
<div class="fixed-bg welcome garage" id="garage-div" {% if not display_garage %} style="display:none;" {% endif %}>
    {% include "app-garage-temp.html" %}
</div>
{% endblock %}

{% block page %}
  {% include "app-page-templates.html" %}
{% endblock %}

{% block js %}
  <script type="text/javascript">
    var appId = 0;
    var appUrl = "sampleapp.com";
    var appGitRepo = "";
    var appState = {{ default_state|fix_solidus|safe }};
    var uieState = {{ default_uie_state|fix_solidus|safe }};
    var mobileUieState = {{ default_mobile_uie_state|fix_solidus|safe }};
    var statics = {{ statics|fix_solidus|safe }};
    var themes = {{ themes|fix_solidus|safe }};
    var mobileThemes = {{ mobile_themes|fix_solidus|safe }};
    var staticVersion = "{{STATIC_VERSION}}";
    var is_deployed = false;
    var v1 = {};
    var v1State = {};
  </script>
  <script data-main="{{ STATIC_URL }}js/application/website/main" src="{{ STATIC_URL }}js/libs/require.js">
  </script>
{% endblock %}
