<div class="navbar navbar-fixed-top navbar-default" id="navbar">
  <div class="container">  
    <div class="navbar-header">
      <a href="#" class="navbar-brand">{{ navbar.brandName }}</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        {% for l in navbar.links %}
        <li{% if l.is_current_page(page) %} class="active"{% endif %}>
        <a href="{{ l.url_pl.to_code() }}">{{ l.title }}</a>
        </li>
        {% endfor %}
        {{ '{% if user.is_authenticated %}' }}
        <li class="logout-item pull-right">
        <a id="logout" href="{{ "{% url \"django.contrib.auth.views.logout\" %}" }}">Logout</a>
        </li>
        {{ '{% endif %}' }}
      </ul>
    </div>
  </div>
</div>