<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/test/lib/jasmine-1.3.1/jasmine.css">

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-editor.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/widget-editor.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/editor-gallery.css">

  <script type="text/javascript" src="{{ STATIC_URL }}js/test/lib/jasmine-1.3.1/jasmine.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/test/lib/jasmine-1.3.1/jasmine-html.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/test/src/appState.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/test/src/uieState.js"></script>

  <script type="text/javascript">
  var v1State = {};
  var require = {

    paths: {
      "jquery" : "{{ STATIC_URL }}js/libs/jquery/jquery",
      "jquery-ui" : "{{ STATIC_URL }}js/libs/jquery-ui/jquery-ui",
      "jquery.filedrop" : "{{ STATIC_URL }}js/libs/jquery/jquery.filedrop",
      "jquery.flexslider" : "{{ STATIC_URL }}js/libs/jquery/jquery.flexslider-min",
      "underscore" : "{{ STATIC_URL }}js/libs/underscore-amd/underscore",
      "backbone" : "{{ STATIC_URL }}js/libs/backbone-amd/backbone",
      "util" : "{{ STATIC_URL }}js/libs/util/util",
      "util.filepicker" : "{{ STATIC_URL }}js/libs/util/util.filepicker",
      "comp": "{{ STATIC_URL }}js/libs/util/comp",
      "bootstrap" : "{{ STATIC_URL }}js/libs/bootstrap/bootstrap",
      "app" : "{{ STATIC_URL }}js/application/main-app",
      "editor" : "{{ STATIC_URL }}js/application/main-app/editor",
      "m-editor" : "{{ STATIC_URL }}js/application/main-app/mobile-editor",
      "dicts" : "{{ STATIC_URL }}js/application/main-app/dicts",
      "mixins" : "{{ STATIC_URL }}js/mixins",
      "key" : "{{ STATIC_URL }}js/libs/keymaster/keymaster",
      "answer" : "{{ STATIC_URL }}js/libs/answer/answer",
      "prettyCheckable" : "{{ STATIC_URL }}js/libs/jquery/prettyCheckable",
      "list" : "{{ STATIC_URL }}js/libs/list",
      "models" : "{{ STATIC_URL }}js/application/data/models",
      "collections" : "{{ STATIC_URL }}js/application/data/collections",
      "tutorial" : "{{ STATIC_URL }}js/application/tutorial",
      "domReady": "{{ STATIC_URL }}js/test/libs/requirejs/domReady",
    },

    shim: {
      "jquery-ui": {
        exports: "$",
        deps: ['jquery']
      },
      "underscore": {
        exports: "_"
      },
      "backbone": {
        exports: "Backbone",
        deps: ["underscore", "jquery"]
      },
      "bootstrap" : {
        deps: ["jquery"]
      },
      "answer" : {
        deps: ["{{ STATIC_URL }}js/libs/answer/lib/natural.js", "underscore", "jquery"]
      },
      "backbone.hotkeys" : {
        deps: ["jquery"]
      }
    }
  };
   
  </script>

  <!-- include source files here... -->
  <script type="text/javascript" src="{{ STATIC_URL}}js/libs/requirejs/require.js"></script>
  <script type="text/javascript">
 
    require(
    [
    "{{ STATIC_URL }}js/test/lib/console-runner.js",
    "{{ STATIC_URL }}js/test/spec/dataSpec.js"
    ],
    function( document ){
     
        window.consoleReporter = new jasmine.ConsoleReporter();
        var consoleReporter = window.consoleReporter;
        jasmine.getEnv().addReporter(consoleReporter);
        jasmine.getEnv().addReporter(
        new jasmine.HtmlReporter()
        );

        // Run all the loaded test specs.
        jasmine.getEnv().execute();
    });
     
  </script>
  
</head>

<body class="sample">
</body>
</html>
