<p><strong>"What's an application?"</strong>, you might ask. We want to give you an overview of how things work on a running applcation, no matter how big or small it is.</p>
<p>A web application like a restaurant. There are many different parts to it, such as:</p>
<ul>
	<li>The presentation: How things look is an important part of any business. If things look good and elegant, it's likely that you will have more customers and a better business.</li>
	<li>Storage: You need to store things, such as the food, somewhere in your restaurant so that you can serve them when it's the time.</li>
	<li>Customer Input: You need to learn what your customers want so that you can serve the right thing.</li>
</ul>
