<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Appcubator | </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{{ STATIC_URL }}css/reset.css" id="css-reset" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/bootstrap-website.css" rel="stylesheet">
  <link type="text/css" href="{{ STATIC_URL }}css/tutorial-page.css" id="css-racoon" rel="stylesheet"/>
  <link type="text/css" href="{{ STATIC_URL }}css/prettyCheckable.css" id="css-prettycheckable" rel="stylesheet"/>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
  <div class="page">
    <!-- Left Menu -->
    <ul class="menu-list">
      <span class="title">Documentation</span>
     {% include "tutorial/html/menu.html" %}
    </ul>

    <!-- Main Content-->
    <div class="span52 offset2 container-fluid">
      <div class="top-panel hoff3">
        <div id="container">
          <div id="cube" class="animate">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="logo-text">Appcubator</div>
        <div class="banner pull-right offsetr1">Tutorial</div>
      </div>
      <div class="racoon hoff1">
        {% autoescape off %}
          {{ content }}
        {% endautoescape %}
      </div>
    </div>
  </div>

</body>
</html>
