{% extends "infra-internalsite.html" %}

{% block page %}
<div class="container hoff5">
  <div class="span12 hoff1">
        <div class="navigator">
          <ul class="left-nav nav">
            <li><a href="#account-info">Account Info</a></li>
            <li><a href="#payment-history">Payment History</a></li>
            <li><a href="#payment-settings">Payment Settings</a></li>
            <li><a href="#advanced-settings">SSH Keys</a></li>
          </ul>
        </div>
  </div>
  <div class="row hoff1 span48 offset2">
    <div class="span48 pane padding" id="account-info">
      <div class="span22">
        <h3 class="span20">Profile Info</h3>
        <form action="/account/" method="POST" class="span22">
            <h4 class="span20 hoff1">Name</h4>
            <input type="text" class="span10" placeholder="First Name" name="first_name" value="{{ user.first_name }}">
            <input type="text" class="span10" placeholder="Last Name" name="last_name" value="{{ user.last_name }}">
            <div class="span10 form-error field-name-first_name hide"></div>
            <div class="span10 form-error field-name-last_name hide"></div>
            <h4 class="span20 hoff1">Username</h4>
            <input type="text" class="span15" placeholder="Username" name="username" value="{{ user.username }}">
            <div class="span20 form-error field-name-username hide"></div>
            <h4 class="span20 hoff1">Email</h4>
            <input type="text" class="span20" placeholder="Email" name="email" value="{{ user.email }}">
            <div class="span20 form-error field-name-email hide"></div>
            <input type="submit" class="btn btn-blue small" value="Save Changes">
        </form>
      </div>
      <div class="span20 offset2">
        <h3 class="">Change Password</h3><br>
        <form action="/accounts/password/change/" method="POST" class="no-ajax">
          {% csrf_token %}
          <h4 class="span20 hoff1">Old Password</h4>
          <input type="password" class="span20" name="old_password" id="id_old_password" placeholder="Old Password..."><br>
          <h4 class="span20 hoff1">New Password</h4>
          <input type="password" class="span20" name="new_password1" id="id_new_password1" placeholder="New Password..."><br>
          <input type="password" class="span20" name="new_password2" id="id_new_password2" placeholder="Confirm Password..."><br>
          <input type="submit" class="btn btn-blue small" value="Save Changes">
        </form>
      </div>
    </div>
    <div class="span48 pane hoff4 padding" id="payment-history">
      <h3>Payment History</h3><br>
      {% include "payment/_subscription_status.html" %}
      <h4>Your transaction history</h4>
      {% if user.customer.invoices.all %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        {% for invoice in user.customer.invoices.all %}
        <tr>
          <td class="fixed">#{{ invoice.id }}</td>
          <td>{{ invoice.date|date:"M d" }}</td>
        </td>
        <td>
          {% if invoice.paid and invoice.total > 0 %}
          <p>
            <span class="label label-success">Paid</span> ${{ invoice.total|floatformat:"2" }}
          </p>
          {% endif %}

          {% if invoice.paid and invoice.total < 0 %}
          <p>
            <span class="label label-success">Credit</span> ${{ invoice.total|floatformat:"2" }}
          </p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>You have not made any payments yet.</p>
    {% endif %}
    </div>
    <div class="span48 pane hoff4 padding" id="payment-settings">
      <h3>Payment Settings</h3>
      {% include "payment/_subscription_status.html" %}
      {% include "payment/_change_card_form.html" %}
      {% include "payment/_cancel_form.html" %}
    </div>

  </div><!-- end main content -->

  <div class="hi4 hoff4 span4"></div>

  </div>
{% endblock %}
