{% extends "infra-html.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-website.css">
{% endblock %}

{% block topbar %}
{% include "infra-topbar-plain.html" %}
{% endblock %}

{% block page %}
<div class="container hoff5">
  <div class="row hoff1">
    <div class="span48 pane">
      <form action="/account/" method="POST" class="span22 offset2 hoff2">
        <h3 class="">Profile Info</h3><br  />
        <h4 class="">Name</h4><br  />
        <input type="text" class="span8 hoff1" placeholder="First Name" name="first_name" value="{{ user.first_name }}">
        <input type="text" class="span8 hoff1" placeholder="Last Name" name="last_name" value="{{ user.last_name }}"><br  />
        <div class="span8 form-error field-name-first_name"></div>
        <div class="span8 form-error field-name-last_name"></div><br />
        <h4 class="">Email</h4><br  />
        <input type="text" class="span16 hoff1" placeholder="Email" name="email" value="{{ user.email }}"><br  />
        <div class="span16 form-error field-name-email"></div><br />
        <input type="submit" class="btn" value="Save Changes">
      </form>
      <div class="hoff1" class="span20 offset2">
        <h3 class="">Password</h3><br  />
        <form action="/account/set_password/" method="POST">
          <input type="password" class="span16 hoff1" name="password1" placeholder="New Password..."><br />
          <div class="span16 form-error field-name-password1"></div><br />
          <input type="password" class="span16" name="password2" placeholder="Confirm Password..."><br />
          <div class="span16 form-error field-name-password2"></div><br />
          <input type="submit" class="btn" value="Change Password">
        </form>
      </div>
    </div>
    <div class="span48 pane hoff4">
      {% include "payment/_subscription_status.html" %}
      <h2>Payment History</h2>
      <p class="lead">Your transaction history</p>
      {% if user.customer.invoices.all %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        {% for invoice in user.customer.invoices.all %}
        <tr>
          <td class="fixed">#{{ invoice.id }}</td>
          <td>{{ invoice.date|date:"M d" }}</td>
        </td>
        <td>
          {% if invoice.paid and invoice.total > 0 %}
          <p>
            <span class="label label-success">Paid</span> ${{ invoice.total|floatformat:"2" }}
          </p>
          {% endif %}

          {% if invoice.paid and invoice.total < 0 %}
          <p>
            <span class="label label-success">Credit</span> ${{ invoice.total|floatformat:"2" }}
          </p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>You have not made any payments yet.</p>
    {% endif %}
    </div>
    <div class="span48 pane hoff4">
      {% include "payment/_subscription_status.html" %}
      <h2>Payment Settings</h2>
      {% include "payment/_subscription_status.html" %}
      {% include "payment/_change_card_form.html" %}      
    </div>
</div>
</div>
{% endblock %}

{% block js %}
<script data-main="{{ STATIC_URL }}js/application/external-pages/account-settings" src="{{ STATIC_URL }}js/libs/require.js"></script>

<script type="text/javascript">
// ajaxify forms @ksikka
</script>
{% endblock %}
