{% extends "infra-html.html" %}

{% block css %}

{% endblock %}

{% block topbar %}
{% include "infra-topbar-plain.html" %}
{% endblock %}

{% block page %}
<div class="container hoff5">
  <div class="span12 hoff1">
        <div class="navigator">
          <ul class="left-nav nav">
            <li><a href="#account-info">Account Info</a></li>
            <li><a href="#payment-history">Payment History</a></li>
            <li><a href="#payment-settings">Payment Settings</a></li>
            <li><a href="#advanced-settings">Advanced Settings</a></li>
          </ul>
        </div>
  </div>
  <div class="row hoff1 span48 offset2">
    <div class="span48 pane padding" id="account-info">
      <form action="/account/" method="POST" class="span22">
        <h3 class="">Profile Info</h3><br  />
        <h4 class="">Name</h4><br  />
        <input type="text" class="span8 hoff1" placeholder="First Name" name="first_name" value="{{ user.first_name }}">
        <input type="text" class="span8 hoff1" placeholder="Last Name" name="last_name" value="{{ user.last_name }}"><br  />
        <div class="span8 form-error field-name-first_name"></div>
        <div class="span8 form-error field-name-last_name"></div><br />
        <h4 class="">Email</h4><br  />
        <input type="text" class="span16 hoff1" placeholder="Email" name="email" value="{{ user.email }}"><br  />
        <div class="span16 form-error field-name-email"></div><br />
        <input type="submit" class="btn" value="Save Changes">
      </form>
      <div class="span20 offset2">
        <h3 class="">Password</h3><br  />
        <form action="/account/set_password/" method="POST">
          <input type="password" class="span16 hoff1" name="password1" placeholder="New Password..."><br />
          <div class="span16 form-error field-name-password1"></div><br />
          <input type="password" class="span16" name="password2" placeholder="Confirm Password..."><br />
          <div class="span16 form-error field-name-password2"></div><br />
          <input type="submit" class="btn" value="Change Password">
        </form>
      </div>
    </div>
    <div class="span48 pane hoff4 padding" id="payment-history">
      <h3>Payment History</h3><br  />
      {% include "payment/_subscription_status.html" %}
      <h4>Your transaction history</h4>
      {% if user.customer.invoices.all %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        {% for invoice in user.customer.invoices.all %}
        <tr>
          <td class="fixed">#{{ invoice.id }}</td>
          <td>{{ invoice.date|date:"M d" }}</td>
        </td>
        <td>
          {% if invoice.paid and invoice.total > 0 %}
          <p>
            <span class="label label-success">Paid</span> ${{ invoice.total|floatformat:"2" }}
          </p>
          {% endif %}

          {% if invoice.paid and invoice.total < 0 %}
          <p>
            <span class="label label-success">Credit</span> ${{ invoice.total|floatformat:"2" }}
          </p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>You have not made any payments yet.</p>
    {% endif %}
    </div>
    <div class="span48 pane hoff4 padding" id="payment-settings">
      <h3>Payment Settings</h3>
      {% include "payment/_subscription_status.html" %}
      {% include "payment/_change_card_form.html" %}
      {% include "payment/_cancel_form.html" %}
    </div>
  </div>
  <div class="span48 pane hoff4 padding" id="advanced-settings">
    <h3>Advanced Settings</h3><br  />
    <small>This section is designated for developers. You generally don't need to edit anything.</small>
    <h4>SSH Keys</h4>
    <ul class="hoff2 span42">
      <li id="add-key-btn">+ Add a new key.</li>
      <li style="display:none" id='add-key-panel'>
        <form action="/setpubkey/" method="post">
          <input type="text" name="title" class="span20" placeholder="Title..."><br  />
          <textarea name="key" class="span20" placeholder="Key..."></textarea><br  />
          <input type="submit" class="btn btn-info" value="Add key">
        </form>
      </li>
    </ul>
  </div>
  <div class="hi4 hoff4 span4"></div>

  </div>
{% endblock %}

{% block js %}
<script data-main="{{ STATIC_URL }}js/application/external-pages/account-settings" src="{{ STATIC_URL }}js/libs/require.js"></script>

<script type="text/javascript">
// ajaxify forms @ksikka
</script>
{% endblock %}
