{% extends "registration/custom_registration_base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.errors }}
    <input type="password" class="span16 hoff1" name="old_password" id="id_old_password" placeholder="Old Password..."><br />
    <input type="password" class="span16" name="new_password1" id="id_new_password1" placeholder="New Password..."><br />
    <input type="password" class="span16" name="new_password2" id="id_new_password2" placeholder="Confirm Password..."><br />
    <input type="submit" class="btn" value="Change Password">
  </form>
{% endblock %}
