{% extends "infra-website.html" %}

{% block page %}
<div id="fb-root"></div>
<script>
</script>
{% include "website-navbar.html" %}
<div class="container centered hoff12">
  <p>Enter your email in the form below and we'll send you instructions for creating a new one.</p>
  <form method='post' action='' class="login-page">
  	{% csrf_token %}
  	{% if form.errors %}
  	  <p>Invalid Email</p>
  	{% endif %}
    <input type="email" class="span14 hoff1" name="email" id="id_email" placeholder="someone@appcubator.com" maxlength="75">
    <input class="btn" type='submit' value="Reset password" />
  </form>
</div>
{% endblock %}

