{% extends "registration/registration_base.html" %}
{% block title %}Confirm password reset{% endblock %}
{% block content %}
Enter your new password below to reset your password:
<form method="post" action="">{% csrf_token %}
 		{% if form.errors %}
		  <p>Invalid password</p>
		{% endif %}
		<input type="password" class="span14 hoff1" name="new_password1" id="id_new_password1" maxlength="75" placeholder="New Password"><br>
		<input type="password" class="span14" name="new_password2" id="id_new_password2" maxlength="75" placeholder="Confirm New Password"><br>
    <input class="btn" type="submit" value="Set password" />
</form>
{% endblock %}
