{% extends "infra-out-html.html" %}

{% block css %}
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
api_key: t0q97cjtk5kf
scope: r_fullprofile r_emailaddress
</script>
<script type="text/javascript" src="//use.typekit.net/gyl1cyv.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css">
{% endblock %}
{% block page %}
<div id="fb-root"></div>
<script>
</script>
{% include "website-leftpanel.html" %}

<div class="sliding-panel">
  <div class="slide-last">
    <div class="sign-up-form">
      <div class="span10 offset2">
        <h2 class="hoff2">Sign Up</h2>
        <img class="span12 hoff2" src="{{ STATIC_URL}}img/mascot.png" width="180">
      </div>
      <div class="sign-up-container span22 hoff1 offset4">
        <form method="POST" class="left" id="signup" class="span46 offset6" action="{% url appcubator.base_views.signup %}">
          <div class="left">
            <input class="span10" id="inp-name" name="name" type="text" placeholder="Name..."><br>
            <div class="form-error field-name-first_name"></div>
          </div>
          <div class="left">
            <input class="span10" id="inp-email" name="email" type="text" placeholder="Email..."><br>
            <div class="form-error field-name-email field-name-username"></div>
          </div>
          <div class="left ">
              <input class="span10" name="password1" type="password" placeholder="Password..."><br>
              <div class="form-error field-name-password1"></div>
          </div>
          <div class="left">
                <input class="span10" name="password2" type="password" placeholder="Confirm Password..."><br>
                <div class="form-error field-name-password2"></div>
          </div>

          {% csrf_token %}
          <input type="checkbox" name="tos" id="tos"><label for="tos">I have read the <a href="/termsofservice/">Terms of Service</a> and agree.</label>
          <input class="span16 hoff1 btn btn-blue" type="submit" value="Join the Private Beta »">
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
   <span>Appcubator © 2013</span> • <a href="/aboutus">About Us</a> • <a href="/termsofservice">Privacy</a>
 </div>
</div>
{% endblock %}

{% block js %}
<script data-main="{{ STATIC_URL }}js/application/external-pages/signup-main" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
