{% set ssf = form.super_class_id %}
{% set forms = imports['django.forms'] %}

class {{form.identifier}}({{ssf}}):
    password = {{forms}}.CharField(widget={{forms}}.PasswordInput)

    # the admin uses the comment=False way of doing things,
    # these methods are added to work around that.
    def save(self, commit=None):
        s = super({{form.identifier}}, self).save()
        return s
    def save_m2m(self, *args, **kwargs):
        pass
